In [2]:
import pandas as pd
import numpy as np
import math

In [3]:
df_salaries_ca = pd.read_csv('../../../data/clean_data/salaries_ca_finished.csv', index_col=0)
df_salaries_us = pd.read_csv('../../../data/clean_data/salaries_us_finished.csv', index_col=0)
df_salaries_uk = pd.read_csv('../../../data/clean_data/salaries_uk_finished.csv', index_col=0)

In [4]:
df_salaries = pd.read_csv('../../../data/clean_data/salaries_all.csv', index_col=0)
df_job_desc_ca = pd.read_csv('../../../data/clean_data/job_desc_ca.csv', index_col=0)
df_job_desc_us = pd.read_csv('../../../data/clean_data/job_desc_us.csv', index_col=0)
df_job_desc_uk = pd.read_csv('../../../data/clean_data/job_desc_uk.csv', index_col=0)

In [5]:
df_salaries_ca.columns

Index(['Unnamed: 0.1', 'company', 'salary', 'lower_bound_salary',
       'upper_bound_salary', 'base_pay', 'bonus_pay', 'cash_bonus',
       'stock_bonus', 'Position_clean', 'Country'],
      dtype='object')

In [6]:
df_job_desc_ca.columns

Index(['company', 'Description', 'Glassdoor Salary Estimate',
       'company_location', 'company_rating', 'company_year_founded',
       'Position_clean', 'company_industry_Advertising & Marketing',
       'company_industry_Aerospace & Defense',
       'company_industry_Banks & Credit Unions',
       ...
       'company_type_Contract', 'company_type_Government',
       'company_type_Hospital', 'company_type_Nonprofit Organization',
       'company_type_Private Practice / Firm',
       'company_type_Subsidiary or Business Segment',
       'School / School District', 'Other Organization', 'Self-employed',
       'Franchise'],
      dtype='object', length=165)

In [7]:
df_merged_ca = df_salaries_ca.merge(df_job_desc_ca, on=['company', 'Position_clean'])

In [12]:
df_merged_ca.shape

(22, 174)

In [13]:
df_salaries_us.columns

Index(['Unnamed: 0.1', 'company', 'salary', 'lower_bound_salary',
       'upper_bound_salary', 'base_pay', 'bonus_pay', 'cash_bonus',
       'stock_bonus', 'Position_clean', 'Country'],
      dtype='object')

In [14]:
df_job_desc_us.columns

Index(['Description', 'company', 'company_location',
       'Glassdoor Salary Estimate', 'company_rating', 'company_year_founded',
       'Position_clean', 'company_industry_Accounting',
       'company_industry_Advertising & Marketing',
       'company_industry_Aerospace & Defense',
       ...
       'company_type_Contract', 'company_type_Government',
       'company_type_Nonprofit Organization',
       'company_type_Other Organization',
       'company_type_Private Practice / Firm',
       'company_type_Subsidiary or Business Segment',
       'School / School District', 'Franchise', 'Self-employed', 'Hospital'],
      dtype='object', length=165)

In [15]:
df_merged_us = df_salaries_us.merge(df_job_desc_us, on=['company', 'Position_clean'])

In [16]:
df_merged_us.shape

(732, 174)

In [17]:
df_salaries_uk.columns

Index(['Unnamed: 0.1', 'company', 'salary', 'lower_bound_salary',
       'upper_bound_salary', 'base_pay', 'bonus_pay', 'cash_bonus',
       'stock_bonus', 'Position_clean', 'Country'],
      dtype='object')

In [18]:
df_job_desc_uk.columns

Index(['company', 'Description', 'Glassdoor Salary Estimate',
       'company_location', 'company_rating', 'company_year_founded',
       'Position_clean', 'company_industry_Accounting',
       'company_industry_Advertising & Marketing',
       'company_industry_Aerospace & Defense',
       ...
       'company_type_Government', 'company_type_Nonprofit Organization',
       'company_type_Subsidiary or Business Segment', 'Contract',
       'School / School District', 'Private Practice / Firm', 'Hospital',
       'Self-employed', 'Other Organization', 'Franchise'],
      dtype='object', length=165)

In [19]:
df_merged_uk = df_salaries_uk.merge(df_job_desc_uk, on=['company', 'Position_clean'])

In [20]:
df_merged_uk.shape

(100, 174)

In [21]:
#[print(x) for x in df_merged_us['company'].unique() ]
print(len(df_merged_us['company'].unique()))

172

In [22]:
#[print(x) for x in df_merged_us['company'].unique() ]
print(len(df_merged_uk['company'].unique()))

26

In [23]:
#[print(x) for x in df_merged_us['company'].unique() ]
print(len(df_merged_ca['company'].unique()))

8

In [24]:
all_merged = pd.concat([df_merged_us,df_merged_uk,df_merged_ca])

C:\Users\Jack Ellis\anaconda3\envs\jackDopl\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [29]:
all_merged.isnull().sum()

Accounting                                          832
Airlines                                            100
Animal Production                                     0
Architectural & Engineering Services                832
Auctions & Galleries                                  0
Audiovisual                                           0
Auto Repair & Maintenance                             0
Automotive Parts & Accessories Stores                 0
Beauty & Personal Accessories Stores                732
Brokerage Services                                  832
Building & Personnel Services                       732
Bus Transportation Services                          22
Business Service Centers & Copy Shops                 0
Car Rental                                            0
Casual Restaurants                                  732
Catering & Food Service Contractors                   0
Chemical Manufacturing                              732
Commercial Equipment Rental                          22
Commercial Printing                                 100
Construction                                        832
Consumer Electronics & Appliances Stores            732
Consumer Product Rental                              22
Consumer Products Manufacturing                     754
Contract                                            754
Country                                               0
Cruise Ships                                        732
Description                                           0
Drug & Health Stores                                100
Education Training Services                         754
Electrical & Electronic Manufacturing               832
                                                   ...
company_revenue_$100 to $500 million (USD)            0
company_revenue_$2 to $5 billion (USD)                0
company_revenue_$25 to $50 million (USD)              0
company_revenue_$5 to $10 billion (USD)               0
company_revenue_$5 to $10 million (USD)               0
company_revenue_$50 to $100 million (USD)             0
company_revenue_$500 million to $1 billion (USD)      0
company_revenue_Less than $1 million (USD)            0
company_size_1 to 50 Employees                        0
company_size_10000+ Employees                         0
company_size_1001 to 5000 Employees                   0
company_size_201 to 500 Employees                     0
company_size_5001 to 10000 Employees                  0
company_size_501 to 1000 Employees                    0
company_size_51 to 200 Employees                      0
company_type_College / University                     0
company_type_Company - Private                        0
company_type_Company - Public                         0
company_type_Contract                               100
company_type_Government                               0
company_type_Hospital                               832
company_type_Nonprofit Organization                   0
company_type_Other Organization                     122
company_type_Private Practice / Firm                100
company_type_Subsidiary or Business Segment           0
company_year_founded                                 19
lower_bound_salary                                    0
salary                                                0
stock_bonus                                         618
upper_bound_salary                                    0
Length: 240, dtype: int64

In [28]:
all_merged.to_csv('../../../data/clean_data/salaries_and_descriptions.csv')

In [40]:
columns = all_merged.columns
toDrop = []

for column in columns:
    if all_merged[column].dtype == np.float64 or all_merged[column].dtype == np.int64: 
        count = 0
        for index,row in all_merged.iterrows():
            if row[column] == 0 or math.isnan(row[column]):
                pass
            else:
                count += 1
        if count == 0:
            toDrop.append(column)

In [44]:
final = all_merged.drop(toDrop,axis = 1)

In [47]:
final.head()

,Country,Description,Glassdoor Salary Estimate,Position_clean,Unnamed: 0.1,base_pay,bonus_pay,cash_bonus,company,company_industry_Accounting,...,company_type_Company - Private,company_type_Company - Public,company_type_Government,company_type_Nonprofit Organization,company_type_Subsidiary or Business Segment,company_year_founded,lower_bound_salary,salary,stock_bonus,upper_bound_salary
0,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,1,198153.22,19650.0,19650.0,Facebook,0.0,...,0,1,0,0,0,2004.0,131000.0,198153.22,33267.45,286890.0
1,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,1,198153.22,19650.0,19650.0,Facebook,0.0,...,0,1,0,0,0,2004.0,131000.0,198153.22,33267.45,286890.0
2,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1,198153.22,19650.0,19650.0,Facebook,0.0,...,0,1,0,0,0,2004.0,131000.0,198153.22,33267.45,286890.0
3,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1,198153.22,19650.0,19650.0,Facebook,0.0,...,0,1,0,0,0,2004.0,131000.0,198153.22,33267.45,286890.0
4,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1,198153.22,19650.0,19650.0,Facebook,0.0,...,0,1,0,0,0,2004.0,131000.0,198153.22,33267.45,286890.0

In [49]:
final.to_csv('../../../data/clean_data/salaries_and_descriptions.csv')