In [1]:
import pandas as pd

In [2]:
df_salaries_ca = pd.read_csv('../../../data/raw_data/salaries_ca_info.csv')
df_salaries_ca = df_salaries_ca.drop(['Unnamed: 0'], axis=1)

In [3]:
df_salaries_us = pd.read_csv('../../../data/raw_data/salaries_us_info.csv')
df_salaries_us = df_salaries_us.drop(['Unnamed: 0'], axis=1)

In [4]:
job_desc_ca_all = pd.read_csv('../../../data/raw_data/jack_scrape_canada.csv')
job_desc_ca_all = job_desc_ca_all.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1)

In [5]:
job_desc_ca_jr = pd.read_csv('../../../data/raw_data/juniorCanadaPostings.csv')
job_desc_ca_jr = job_desc_ca_jr.drop(['Unnamed: 0'], axis=1)

In [6]:
job_desc_ca_sr = pd.read_csv('../../../data/raw_data/seniorCanadaPostings.csv')
job_desc_ca_sr = job_desc_ca_sr.drop(['Unnamed: 0'], axis=1)

In [7]:
job_desc_us = pd.read_csv('../../../data/raw_data/elisa_us_cleaned.csv')
job_desc_us = job_desc_us.drop(['Unnamed: 0'], axis=1)

In [8]:
# Merge all Canada job descriptions
job_desc_ca = job_desc_ca_all.append(job_desc_ca_jr, sort=True)
job_desc_ca = job_desc_ca.append(job_desc_ca_sr, sort=True)

# Drop nans and duplicates
job_desc_ca = job_desc_ca.dropna()
job_desc_ca = job_desc_ca.drop_duplicates(subset=['Company', 'Position'])

In [9]:
# Rename columns to match salary df 
job_desc_ca = job_desc_ca.rename({'Company': 'company', 'Position': 'position'}, axis=1)

In [11]:
salaries_ca = pd.merge(df_salaries_ca, job_desc_ca, on=['company'])

In [12]:
salaries_ca

,company,position_x,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus,Description,Glassdoor Salary Estimate,Industry,Location,position_y,Rating,Revenue,Sector,Size,Year Founded
0,RBC,Data Scientist,"CA$90,000/yr",CA$55K,CA$135K,"CA$90,000","CA$12,589","CA$11,983","CA$3,147",What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
1,RBC,Data Scientist - Hourly Intern,CA$27/hr,CA$21,CA$30,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
2,RBC,Data Scientist - Monthly,$8K - CA$9K,CA$8K,CA$9K,"CA$90,000","CA$12,589","CA$11,983","CA$3,147",What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
3,RBC,Data Scientist - Hourly Contractor,$27 - CA$29hourly,CA$27,CA$29,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
4,RBC,Senior Data Scientist,"CA$110,892/yr",CA$105K,CA$113K,"CA$110,892","CA$17,767","CA$17,767",NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
5,RBC,Data Scientist Co-op - Hourly Intern,CA$27/hr,CA$26,CA$29,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
6,RBC,Junior Data Scientist,$53K - CA$58K,CA$53K,CA$58K,CA$53K - CA$57K,CA$53K - CA$57K,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
7,RBC,Data Scientist Coop,$52K - CA$56K,CA$52K,CA$56K,CA$25 - CA$27,CA$25 - CA$27,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
8,RBC,Data Scientist Coop - Hourly Intern,$25 - CA$26hourly,CA$25,CA$26,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
9,RBC,Data Scientist Coop - Intern,$52K - CA$57K,CA$52K,CA$57K,NaN,NaN,NaN,NaN,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,1869.0
10,Scotiabank,Data Scientist,"CA$96,176/yr",CA$74K,CA$103K,"CA$96,176","CA$10,051","CA$10,051","CA$3,327",Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
11,Scotiabank,Data Scientist,"CA$96,176/yr",CA$74K,CA$103K,"CA$96,176","CA$10,051","CA$10,051","CA$3,327",Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
12,Scotiabank,Data Scientist - Intern,"CA$63,171/yr",CA$57K,CA$82K,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
13,Scotiabank,Data Scientist - Intern,"CA$63,171/yr",CA$57K,CA$82K,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
14,Scotiabank,Data Scientist - Hourly Intern,$28 - CA$36hourly,CA$28,CA$36,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
15,Scotiabank,Data Scientist - Hourly Intern,$28 - CA$36hourly,CA$28,CA$36,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
16,Scotiabank,Data Scientist - Monthly Intern,$5K - CA$5K,CA$5K,CA$5K,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
17,Scotiabank,Data Scientist - Monthly Intern,$5K - CA$5K,CA$5K,CA$5K,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
18,Scotiabank,Data Scientist Co-op - Monthly Intern,"CA$7,141/mo",CA$1K,CA$13K,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
19,Scotiabank,Data Scientist Co-op - Monthly Intern,"CA$7,141/mo",CA$1K,CA$13K,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
20,Scotiabank,Senior Data Scientist,$90K - CA$136K,CA$90K,CA$136K,CA$91K - CA$137K,CA$91K - CA$137K,CA$10K - CA$19K,CA$3K - CA$3K,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
21,Scotiabank,Senior Data Scientist,$90K - CA$136K,CA$90K,CA$136K,CA$91K - CA$137K,CA$91K - CA$137K,CA$10K - CA$19K,CA$3K - CA$3K,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
22,Scotiabank,Data Scientist Co-op - Intern,$73K - CA$85K,CA$73K,CA$85K,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
23,Scotiabank,Data Scientist Co-op - Intern,$73K - CA$85K,CA$73K,CA$85K,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
24,Scotiabank,Junior Data Scientist - Hourly Intern,$22 - CA$24hourly,CA$22,CA$24,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
25,Scotiabank,Junior Data Scientist - Hourly Intern,$22 - CA$24hourly,CA$22,CA$24,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
26,Scotiabank,Data Scientist Co-op - Hourly Intern,$29 - CA$31hourly,CA$29,CA$31,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
27,Scotiabank,Data Scientist Co-op - Hourly Intern,$29 - CA$31hourly,CA$29,CA$31,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
28,Scotiabank,Data Scientist Co-op - Hourly Contractor,$38 - CA$42hourly,CA$38,CA$42,NaN,NaN,NaN,NaN,Requisition ID: 90164\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,"Senior UX Researcher, Digital Factory (12-14 m...",3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
29,Scotiabank,Data Scientist Co-op - Hourly Contractor,$38 - CA$42hourly,CA$38,CA$42,NaN,NaN,NaN,NaN,Requisition ID: 88431\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Investment Banking & Asset Management,Toronto,Analytics DevOps Senior Engineer,3.8,$10+ billion (USD),Finance,10000+ Employees,1832.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Top Hat,Data Scientist,$96K - CA$104K,CA$96K,CA$104K,CA$95K - CA$104K,CA$95K - CA$104K,NaN,NaN,We are looking for a Data Analyst to help buil...,-1.0,Colleges & Universities,Toronto,Data Analyst,3.5,$25 to $50 million (USD),Education,201 to 500 Employees,2009.0
154,SSENSE,Data Scientist,$68K - CA$74K,CA$68K,CA$74K,CA$68K - CA$75K,CA$68K - CA$75K,CA$7K - CA$7K,NaN,"Company Description\r\r\r\n\r\r\r\nSSENSE, pro...",-1.0,"Department, Clothing, & Shoe Stores",Montreal,Senior Data Scientist,4.0,Unknown / Non-Applicable,Retail,501 to 1000 Employees,2003.0
155,Alberta Motor Association,Data Scientist,$82K - CA$89K,CA$82K,CA$89K,CA$82K - CA$88K,CA$82K - CA$88K,NaN,NaN,A computer\r\r\nIS YOUR crystal BALL\r\r\nPost...,-1.0,Membership Organizations,Edmonton,Senior Data Scientist,3.0,$100 to $500 million (USD),Business Services,1001 to 5000 Employees,-1.0
156,League,Data Scientist,$97K - CA$103K,CA$97K,CA$103K,CA$97K - CA$105K,CA$97K - CA$105K,NaN,NaN,The Data Analyst we are looking for will make ...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Analyst,3.5,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,2014.0
157,Prodigy Education,Data Scientist,$106K - CA$114K,CA$106K,CA$114K,CA$106K - CA$113K,CA$106K - CA$113K,NaN,CA$2K - CA$2K,"Prodigy Education connects students, parents, ...",-1.0,Computer Hardware & Software,Oakville,"Data Scientist, Game",4.5,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,2011.0
158,Prodigy Education,Data Scientist,$106K - CA$114K,CA$106K,CA$114K,CA$106K - CA$113K,CA$106K - CA$113K,NaN,CA$2K - CA$2K,"Prodigy Education connects students, parents, ...",-1.0,Computer Hardware & Software,Oakville,"Data Scientist, Marketing & Web Analytics",4.5,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,2011.0
159,Prodigy Education,Data Scientist,$106K - CA$114K,CA$106K,CA$114K,CA$106K - CA$113K,CA$106K - CA$113K,NaN,CA$2K - CA$2K,"Prodigy Education connects students, parents, ...",-1.0,Computer Hardware & Software,Oakville,"Data Scientist, Sales & Customer Success",4.5,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,2011.0
160,Xe,Data Scientist - Monthly Intern,$3K - CA$3K,CA$3K,CA$3K,NaN,NaN,NaN,NaN,XE is looking for an experienced Senior Data E...,-1.0,Financial Transaction Processing,Newmarket,Senior Data Engineer,3.3,$100 to $500 million (USD),Finance,201 to 500 Employees,1993.0
161,Xe,Data Scientist,$86K - CA$93K,CA$86K,CA$93K,CA$86K - CA$94K,CA$86K - CA$94K,CA$4K - CA$5K,NaN,XE is looking for an experienced Senior Data E...,-1.0,Financial Transaction Processing,Newmarket,Senior Data Engineer,3.3,$100 to $500 million (USD),Finance,201 to 500 Employees,1993.0
162,Facebook,Data Scientist - Hourly Intern,$35 - CA$37hourly,CA$35,CA$37,NaN,NaN,NaN,NaN,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
163,Facebook,Senior Data Scientist,$170K - CA$181K,CA$170K,CA$181K,CA$170K - CA$182K,CA$170K - CA$182K,CA$24K - CA$26K,CA$57K - CA$63K,Facebook's mission is to give people the power...,-1.0,Internet,Montreal,"Research Scientist, Core ML",4.4,$5 to $10 billion (USD),Information Technology,10000+ Employees,2004.0
164,Thinkific,Data Scientist - Hourly Intern,$20 - CA$21hourly,CA$20,CA$21,NaN,NaN,NaN,NaN,We'd love to put your mind at ease while looki...,-1.0,Internet,Vancouver,"Data Analyst, Product",4.7,Unknown / Non-Applicable,Information Technology,51 to 200 Employees,2012.0
165,Overbond,Data Scientist - Monthly Intern,$1K - CA$1K,CA$1K,CA$1K,NaN,NaN,NaN,NaN,About Us\r\n\r\nWe’re a leading financial tech...,-1.0,Federal Agencies,Toronto,Data Scientist,3.6,Unknown / Non-Applicable,Government,1 to 50 Employees,2020.0
166,Wish,Data Scientist - Monthly Intern,$5K - CA$6K,CA$5K,CA$6K,NaN,NaN,NaN,NaN,Company Description\r\r\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Other Retail Stores,Toronto,Data Scientist,3.5,$1 to $2 billion (USD),Retail,501 to 1000 Employees,2011.0
167,Cerebri AI,Data Scientist - Monthly,$5K - CA$5K,CA$5K,CA$5K,CA$5K - CA$5K,CA$5K - CA$5K,NaN,NaN,About Cerebri AI\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Scientist/Manager,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
168,Cerebri AI,Data Scientist - Monthly,$5K - CA$5K,CA$5K,CA$5K,CA$5K - CA$5K,CA$5K - CA$5K,NaN,NaN,"Design, develop, test, advocate, evangelize an...",-1.0,Enterprise Software & Network Solutions,Toronto,Data Scientist,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
169,Cerebri AI,Data Scientist,$11K - CA$12K,CA$11K,CA$12K,CA$5K - CA$5K,CA$5K - CA$5K,NaN,NaN,About Cerebri AI\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Scientist/Manager,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
170,Cerebri AI,Data Scientist,$11K - CA$12K,CA$11K,CA$12K,CA$5K - CA$5K,CA$5K - CA$5K,NaN,NaN,"Design, develop, test, advocate, evangelize an...",-1.0,Enterprise Software & Network Solutions,Toronto,Data Scientist,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
171,Cerebri AI,Senior Data Scientist,$72K - CA$132K,CA$72K,CA$132K,CA$72K - CA$129K,CA$72K - CA$129K,NaN,NaN,About Cerebri AI\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Enterprise Software & Network Solutions,Toronto,Senior Data Scientist/Manager,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
172,Cerebri AI,Senior Data Scientist,$72K - CA$132K,CA$72K,CA$132K,CA$72K - CA$129K,CA$72K - CA$129K,NaN,NaN,"Design, develop, test, advocate, evangelize an...",-1.0,Enterprise Software & Network Solutions,Toronto,Data Scientist,3.9,Unknown / Non-Applicable,Information Technology,1 to 50 Employees,2016.0
173,Aviva,Senior Data Scientist,$72K - CA$137K,CA$72K,CA$137K,CA$72K - CA$136K,CA$72K - CA$136K,CA$1 - CA$7K,NaN,* FUTURE OPPORTUNITY **\r\r\r\r\r\r\r\r\r\r\r\...,-1.0,Insurance Carriers,Markham,"Senior Actuarial Analyst, Commercial Insurance...",3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,1861.0
174,Aviva,Senior Data Scientist,$72K - CA$137K,CA$72K,CA$137K,CA$72K - CA$136K,CA$72K - CA$136K,CA$1 - CA$7K,NaN,Have you ever wondered about the future of act...,-1.0,Insurance Carriers,Markham,Senior Actuarial Analyst,3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,1861.0
175,Aviva,Senior Data Scientist,$72K - CA$137K,CA$72K,CA$137K,CA$72K - CA$136K,CA$72K - CA$136K,CA$1 - CA$7K,NaN,Aviva Canada Inc. has multiple excellent oppor...,-1.0,Insurance Carriers,Markham,Senior Actuarial Analyst (Commercial P&C),3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,1861.0
176,Aviva,Senior Data Scientist,$72K - CA$137K,CA$72K,CA$137K,CA$72K - CA$136K,CA$72K - CA$136K,CA$1 - CA$7K,NaN,Are you passionate about data and not afraid o...,-1.0,Insurance Carriers,Markham,"Senior Actuarial Analyst, Personal Insurance S...",3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,1861.0
177,SurveyMonkey,Senior Data Scientist,$130K - CA$140K,CA$130K,CA$140K,CA$130K - CA$139K,CA$130K - CA$139K,NaN,NaN,Who we are and what we do\r\r\r\r\r\r\r\r\r\r\...,-1.0,Internet,Ottawa,Data Scientist II,4.7,$100 to $500 million (USD),Information Technology,1001 to 5000 Employees,1999.0
178,Exiger,Senior Data Scientist,$144K - CA$157K,CA$144K,CA$157K,CA$144K - CA$157K,CA$144K - CA$157K,CA$13K - CA$14K,CA$22K - CA$24K,"Location: Toronto, Canada\r\r\r\r\r\r\r\r\n\r\...",-1.0,Consulting,Toronto,Tech - Data Analyst,3.2,Unknown / Non-Applicable,Business Services,501 to 1000 Employees,2013.0
179,Exiger,Senior Data Scientist,$144K - CA$157K,CA$144K,CA$157K,CA$144K - CA$157K,CA$144K - CA$157K,CA$13K - CA$14K,CA$22K - CA$24K,"Location: Toronto, Canada\r\r\r\r\r\r\r\r\r\r\...",-1.0,Consulting,Toronto,Tech- Senior Linux Infrastructure Engineer (De...,3.2,Unknown / Non-Applicable,Business Services,501 to 1000 Employees,2013.0
180,Fiddlehead,Junior Data Scientist,$53K - CA$56K,CA$53K,CA$56K,CA$53K - CA$57K,CA$53K - CA$57K,NaN,NaN,What you'll do\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,-1,Moncton,Data Scientist,5.0,Less than $1 million (USD),-1,1 to 50 Employees,-1.0
181,Loblaw Digital,Principal Data Scientist,$140K - CA$151K,CA$140K,CA$151K,CA$139K - CA$151K,CA$139K - CA$151K,NaN,CA$19K - CA$21K,"At Loblaw Digital, we know that our customers ...",-1.0,Internet,Toronto,Senior Data Scientist,3.6,Unknown / Non-Applicable,Information Technology,51 to 200 Employees,-1.0
182,Fraser Health,Data Scientist Coop - Hourly,$20 - CA$22hourly,CA$20,CA$22,CA$20 - CA$22,CA$20 - CA$22,NaN,NaN,Data Scientist\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1.0,Health Care Services & Hospitals,Surrey,Data Scientist,3.7,$2 to $5 billion (USD),Health Care,10000+ Employees,2001.0

In [13]:
# Rename columns to match salary df 
job_desc_us = job_desc_us.rename({'Company': 'company', 'Position': 'position'}, axis=1)

In [14]:
salaries_us = pd.merge(df_salaries_us, job_desc_us, on=['company'])

In [15]:
salaries_us

,company,position_x,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus,position_y,Description,Location,Glassdoor Salary Estimate,Rating,Size,Revenue,Type,Year Founded,Industry,Sector
0,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395","Data Analyst, Community Operations",Facebook's mission is to give people the power...,"Austin, TX",$60k-$116k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
1,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395",Technical Data Analyst - Small Business Group,Facebook's mission is to give people the power...,"Menlo Park, CA",$75k-$138k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
2,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395",Supply Chain and Data Analyst,Facebook's mission is to give people the power...,"Fremont, CA",$85k-$155k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
3,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395",Research Data Scientist,Facebook's mission is to give people the power...,"Seattle, WA",$98k-$158k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
4,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395","Data Scientist, Analytics - Ads Delivery",Facebook's mission is to give people the power...,"Seattle, WA",$108k-$173k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
5,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395","Data Scientist, Analytics-Remote Presence",Facebook's mission is to give people the power...,"Bellevue, WA",$108k-$173k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
6,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395",Research Data Scientist,Facebook's mission is to give people the power...,"Seattle, WA",$98k-$158k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
7,Facebook,Data Scientist,"$151,262/yr",$100K,$219K,"$151,262","$15,000","$15,000","$25,395","Data Scientist, Finance",Facebook's mission is to give people the power...,"Menlo Park, CA",$119k-$188k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
8,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,"Data Analyst, Community Operations",Facebook's mission is to give people the power...,"Austin, TX",$60k-$116k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
9,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,Technical Data Analyst - Small Business Group,Facebook's mission is to give people the power...,"Menlo Park, CA",$75k-$138k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
10,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,Supply Chain and Data Analyst,Facebook's mission is to give people the power...,"Fremont, CA",$85k-$155k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
11,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,Research Data Scientist,Facebook's mission is to give people the power...,"Seattle, WA",$98k-$158k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
12,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,"Data Scientist, Analytics - Ads Delivery",Facebook's mission is to give people the power...,"Seattle, WA",$108k-$173k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
13,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,"Data Scientist, Analytics-Remote Presence",Facebook's mission is to give people the power...,"Bellevue, WA",$108k-$173k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
14,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,Research Data Scientist,Facebook's mission is to give people the power...,"Seattle, WA",$98k-$158k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
15,Facebook,Data Scientist - Monthly Intern,"$7,712/mo",$7K,$9K,NaN,NaN,NaN,NaN,"Data Scientist, Finance",Facebook's mission is to give people the power...,"Menlo Park, CA",$119k-$188k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
16,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,"Data Analyst, Community Operations",Facebook's mission is to give people the power...,"Austin, TX",$60k-$116k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
17,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,Technical Data Analyst - Small Business Group,Facebook's mission is to give people the power...,"Menlo Park, CA",$75k-$138k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
18,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,Supply Chain and Data Analyst,Facebook's mission is to give people the power...,"Fremont, CA",$85k-$155k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
19,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,Research Data Scientist,Facebook's mission is to give people the power...,"Seattle, WA",$98k-$158k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
20,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,"Data Scientist, Analytics - Ads Delivery",Facebook's mission is to give people the power...,"Seattle, WA",$108k-$173k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
21,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,"Data Scientist, Analytics-Remote Presence",Facebook's mission is to give people the power...,"Bellevue, WA",$108k-$173k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
22,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,Research Data Scientist,Facebook's mission is to give people the power...,"Seattle, WA",$98k-$158k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
23,Facebook,Data Scientist - Hourly Intern,$44/hr,$38,$52,NaN,NaN,NaN,NaN,"Data Scientist, Finance",Facebook's mission is to give people the power...,"Menlo Park, CA",$119k-$188k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
24,Facebook,Data Scientist - Monthly,$7K - $9K,$7K,$9K,"$151,262","$15,000","$15,000","$25,395","Data Analyst, Community Operations",Facebook's mission is to give people the power...,"Austin, TX",$60k-$116k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
25,Facebook,Data Scientist - Monthly,$7K - $9K,$7K,$9K,"$151,262","$15,000","$15,000","$25,395",Technical Data Analyst - Small Business Group,Facebook's mission is to give people the power...,"Menlo Park, CA",$75k-$138k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
26,Facebook,Data Scientist - Monthly,$7K - $9K,$7K,$9K,"$151,262","$15,000","$15,000","$25,395",Supply Chain and Data Analyst,Facebook's mission is to give people the power...,"Fremont, CA",$85k-$155k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
27,Facebook,Data Scientist - Monthly,$7K - $9K,$7K,$9K,"$151,262","$15,000","$15,000","$25,395",Research Data Scientist,Facebook's mission is to give people the power...,"Seattle, WA",$98k-$158k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
28,Facebook,Data Scientist - Monthly,$7K - $9K,$7K,$9K,"$151,262","$15,000","$15,000","$25,395","Data Scientist, Analytics - Ads Delivery",Facebook's mission is to give people the power...,"Seattle, WA",$108k-$173k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
29,Facebook,Data Scientist - Monthly,$7K - $9K,$7K,$9K,"$151,262","$15,000","$15,000","$25,395","Data Scientist, Analytics-Remote Presence",Facebook's mission is to give people the power...,"Bellevue, WA",$108k-$173k (Glassdoor Est.),4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2164,App Annie,Senior Data Scientist,"$136,323/yr",$133K,$152K,"$136,323","$14,001","$14,001",NaN,Sr. Data Scientist,App Annie is always looking for extraordinary ...,"San Francisco, CA",$118k-$188k (Glassdoor Est.),3.8,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2010,Computer Hardware & Software,Information Technology
2165,CarGurus,Senior Data Scientist,"$172,490/yr",$164K,$173K,"$172,490","$26,930","$26,930","$37,092","Product Data Analyst, Digital Retail","Car shopping is complicated. At CarGurus, we u...","Cambridge, MA",$48k-$90k (Glassdoor Est.),3.9,501 to 1000 Employees,$500 million to $1 billion (USD),Company - Public,2006,Internet,Information Technology
2166,Brown-Forman,Associate Data Scientist,$80K - $86K,$80K,$86K,$79K - $87K,$79K - $87K,$974 - $1K,NaN,"Manager, Data Science","For best results, use Google Chrome to view th...","Louisville, KY",$98k-$156k (Glassdoor Est.),4.4,1001 to 5000 Employees,$2 to $5 billion (USD),Company - Public,1870,Food & Beverage Manufacturing,Manufacturing
2167,Brown-Forman,Senior Data Scientist,$96K - $104K,$96K,$104K,$96K - $104K,$96K - $104K,$965 - $1K,NaN,"Manager, Data Science","For best results, use Google Chrome to view th...","Louisville, KY",$98k-$156k (Glassdoor Est.),4.4,1001 to 5000 Employees,$2 to $5 billion (USD),Company - Public,1870,Food & Beverage Manufacturing,Manufacturing
2168,Areté,Senior Data Scientist,$152K - $165K,$152K,$165K,$151K - $165K,$151K - $165K,$10K - $11K,NaN,Scientist,"Summary:\r\n\r\nAreté, an employee-owned compa...","Northridge, CA",$55k-$114k (Glassdoor Est.),3.7,201 to 500 Employees,$50 to $100 million (USD),Company - Private,NF,Research & Development,Business Services
2169,Komodo Health,Senior Data Scientist,$161K - $175K,$161K,$175K,$163K - $176K,$163K - $176K,NaN,NaN,Senior Data Scientist,Who We Are*\r\nKomodo Health is addressing the...,"New York, NY",$121k-$197k (Glassdoor Est.),3.6,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2014,Enterprise Software & Network Solutions,Information Technology
2170,Komodo Health,Senior Data Scientist,$161K - $175K,$161K,$175K,$163K - $176K,$163K - $176K,NaN,NaN,Senior Data Scientist,Who We Are*\r\nKomodo Health is addressing the...,"New York, NY",$121k-$197k (Glassdoor Est.),3.6,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2014,Enterprise Software & Network Solutions,Information Technology
2171,Viant,Senior Data Scientist,$155K - $169K,$155K,$169K,$155K - $170K,$155K - $170K,NaN,NaN,Data Analyst/ Salesforce Administrator,Viant's culture is a unique combination of str...,"Irvine, CA",$35k-$66k (Glassdoor Est.),3.5,5001 to 10000 Employees,$500 million to $1 billion (USD),Company - Private,2007,Health Care Products Manufacturing,Manufacturing
2172,Viant,Senior Data Scientist,$155K - $169K,$155K,$169K,$155K - $170K,$155K - $170K,NaN,NaN,Data Analyst/ Salesforce Administrator,Viant's culture is a unique combination of str...,"Irvine, CA",$35k-$66k (Glassdoor Est.),3.5,5001 to 10000 Employees,$500 million to $1 billion (USD),Company - Private,2007,Health Care Products Manufacturing,Manufacturing
2173,Moen,Senior Data Scientist,$107K - $115K,$107K,$115K,$107K - $115K,$107K - $115K,NaN,NaN,Product Development Data Analyst,Summary:\r\n\r\nThe Product Development Data A...,"Cleveland, OH",$38k-$69k (Glassdoor Est.),3.7,201 to 500 Employees,$50 to $100 million (USD),Subsidiary or Business Segment,NF,Wholesale,Business Services
2174,Zscaler,Senior Data Scientist,$146K - $157K,$146K,$157K,$147K - $159K,$147K - $159K,NaN,NaN,"Staff Data Scientist, Cloud Security","Position: Staff Data Scientist, Cloud Security...","San Jose, CA",$142k-$226k (Glassdoor Est.),4.7,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Public,2008,Enterprise Software & Network Solutions,Information Technology
2175,TRANZACT,Senior Data Scientist,$102K - $109K,$102K,$109K,$101K - $109K,$101K - $109K,NaN,NaN,Lead Data Scientist,Summary\r\nTranzact is hiring a lead data scie...,"Fort Lee, NJ",$102k-$166k (Glassdoor Est.),3.7,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Private,1989,Advertising & Marketing,Business Services
2176,TRANZACT,Senior Data Scientist,$102K - $109K,$102K,$109K,$101K - $109K,$101K - $109K,NaN,NaN,Lead Data Scientist,Summary\r\nTranzact is hiring a lead data scie...,"Fort Lee, NJ",$102k-$166k (Glassdoor Est.),3.7,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Private,1989,Advertising & Marketing,Business Services
2177,Kroger,Senior Data Scientist,$90K - $97K,$90K,$97K,$90K - $97K,$90K - $97K,NaN,NaN,Data Analyst Intern - Spring,Company Name: Kroger General Office\r\nPositio...,"Cincinnati, OH",NF,3.1,10000+ Employees,$10+ billion (USD),Company - Public,NF,Grocery Stores & Supermarkets,Retail
2178,Credibly,Senior Data Scientist,$146K - $157K,$146K,$157K,$144K - $157K,$144K - $157K,$15K - $16K,NaN,Small Business Lending Data Scientist,Who We Are:\r\nCredibly believes in small and ...,"New York, NY",$71k-$124k (Glassdoor Est.),3.4,51 to 200 Employees,Unknown / Non-Applicable,Company - Private,2010,Lending,Finance
2179,Credibly,Senior Data Scientist,$146K - $157K,$146K,$157K,$144K - $157K,$144K - $157K,$15K - $16K,NaN,Small Business Lending Data Scientist,Who We Are:\r\nCredibly believes in small and ...,"New York, NY",$71k-$124k (Glassdoor Est.),3.4,51 to 200 Employees,Unknown / Non-Applicable,Company - Private,2010,Lending,Finance
2180,TTX,Data Analyst/Data Scientist - Hourly Intern,$27 - $29hourly,$27,$29,NaN,NaN,NaN,NaN,Engineering Data Analyst II,Internal Short Description\r\n\r\nThis role is...,United States,NF,3.3,1001 to 5000 Employees,$1 to $2 billion (USD),Company - Private,1955,Rail,Transportation & Logistics
2181,TTX,Data Analyst/Data Scientist - Hourly Intern,$27 - $29hourly,$27,$29,NaN,NaN,NaN,NaN,Engineering Data Analyst II,Internal Short Description\r\n\r\nThis role is...,United States,NF,3.3,1001 to 5000 Employees,$1 to $2 billion (USD),Company - Private,1955,Rail,Transportation & Logistics
2182,Arena,Lead Data Scientist,$164K - $178K,$164K,$178K,$164K - $177K,$164K - $177K,$16K - $18K,NaN,Senior Data Scientist,"The Opportunity\r\n\r\nWe are a small, early s...","Baltimore, MD",$135k-$155k (Glassdoor Est.),4.5,1 to 50 Employees,Less than $1 million (USD),Company - Private,2014,Computer Hardware & Software,Information Technology
2183,Arena,Lead Data Scientist,$164K - $178K,$164K,$178K,$164K - $177K,$164K - $177K,$16K - $18K,NaN,Senior Data Scientist,"The Opportunity\r\n\r\nWe are a small, early s...","Baltimore, MD",$135k-$155k (Glassdoor Est.),4.5,1 to 50 Employees,Less than $1 million (USD),Company - Private,2014,Computer Hardware & Software,Information Technology
2184,Presbyterian Healthcare Services,Lead Data Scientist,$130K - $143K,$130K,$143K,$132K - $142K,$132K - $142K,NaN,NaN,DATA SCIENTIST - HEDIS,Overview\r\n\r\n\r\nJob Description Type of Op...,"Albuquerque, NM",$62k-$104k (Glassdoor Est.),3.7,10000+ Employees,$2 to $5 billion (USD),Nonprofit Organization,1908,Health Care Services & Hospitals,Health Care
2185,bluebird bio,Data Scientist II,$120K - $131K,$120K,$131K,$120K - $131K,$120K - $131K,$10K - $11K,$6K - $6K,"Scientist, Antibody Engineering","ABOUT THE NEST\r\n\r\nAt bluebird, only two th...","Cambridge, MA",$61k-$119k (Glassdoor Est.),3.3,1001 to 5000 Employees,$10 to $25 million (USD),Company - Public,2010,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
2186,bluebird bio,Data Scientist II,$120K - $131K,$120K,$131K,$120K - $131K,$120K - $131K,$10K - $11K,$6K - $6K,"Senior Associate Scientist, Oncology Research","ABOUT THE NEST\r\n\r\nAt bluebird, only two th...","Cambridge, MA",$95k-$184k (Glassdoor Est.),3.3,1001 to 5000 Employees,$10 to $25 million (USD),Company - Public,2010,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
2187,bluebird bio,Data Scientist II,$120K - $131K,$120K,$131K,$120K - $131K,$120K - $131K,$10K - $11K,$6K - $6K,Senior Associate Scientist I - Analytical Oper...,Join bluebird bio's enthusiastic and collabora...,"Cambridge, MA",$103k-$193k (Glassdoor Est.),3.3,1001 to 5000 Employees,$10 to $25 million (USD),Company - Public,2010,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
2188,Charles River Laboratories,Data Scientist Coop - Hourly Intern,$26 - $27hourly,$26,$27,NaN,NaN,NaN,NaN,Research Scientist 1- Immunology,"For 70 years, Charles River employees have wor...","Morrisville, NC",$41k-$91k (Glassdoor Est.),3.3,10000+ Employees,$2 to $5 billion (USD),Company - Public,1947,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
2189,Charles River Laboratories,Data Scientist Coop - Hourly Intern,$26 - $27hourly,$26,$27,NaN,NaN,NaN,NaN,Scientist 2,"For 70 years, Charles River employees have wor...","Worcester, MA",$54k-$119k (Glassdoor Est.),3.3,10000+ Employees,$2 to $5 billion (USD),Company - Public,1947,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
2190,Charles River Laboratories,Data Scientist Coop - Hourly Intern,$26 - $27hourly,$26,$27,NaN,NaN,NaN,NaN,"Senior Research Scientist, Toxicology","At Charles River, we are passionate about impr...","Reno, NV",$67k-$139k (Glassdoor Est.),3.3,10000+ Employees,$2 to $5 billion (USD),Company - Public,1947,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
2191,Charles River Laboratories,Data Scientist Coop - Hourly Intern,$26 - $27hourly,$26,$27,NaN,NaN,NaN,NaN,"Sr. Research Scientist, PCR","For 70 years, Charles River employees have wor...","Shrewsbury, MA",$61k-$128k (Glassdoor Est.),3.3,10000+ Employees,$2 to $5 billion (USD),Company - Public,1947,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
2192,Charles River Laboratories,Data Scientist Coop - Hourly Intern,$26 - $27hourly,$26,$27,NaN,NaN,NaN,NaN,"Sr. Research Scientist, PCR","For 70 years, Charles River employees have wor...","Shrewsbury, MA",$61k-$128k (Glassdoor Est.),3.3,10000+ Employees,$2 to $5 billion (USD),Company - Public,1947,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals
2193,Fetch Rewards,Product Data Scientist,$86K - $94K,$86K,$94K,$85K - $93K,$85K - $93K,NaN,NaN,Senior Data Scientist,Who We Are:\r\n\r\nWe reward shoppers for digi...,Remote,NF,4.9,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2013,Computer Hardware & Software,Information Technology