In [1]:
import pandas as pd
import numpy as np
import math

#### Fix CA salary column

In [4]:
df_ca = pd.read_csv('../../../data/clean_data/salaries_ca2.csv')
df_ca = df_ca.drop('Unnamed: 0', axis=1)

In [23]:
df_ca_uncleaned = pd.read_csv('../../../data/raw_data/salaries_ca_info.csv')
df_ca_uncleaned = df_ca_uncleaned.drop('Unnamed: 0', axis=1)

In [14]:
salaries = df_ca['salary']

In [27]:
def get_monthly_freq(position):
    is_monthly = position.find("Month")
    if is_monthly != -1:
        return True

In [28]:
df_ca_uncleaned['monthly_freq'] = df_ca_uncleaned['position'].map(get_monthly_freq)
monthly_mask = (df_ca_uncleaned['monthly_freq'] == True)
df_ca.loc[df_ca_uncleaned['monthly_freq'] == True, 'salary'] *= 12

In [30]:
salary_mask = (df_ca['salary'] <= 50000)
for i in range(len(df_ca['salary'])):
    if salary_mask[i]:
        print(i)
        print(df_ca['salary'][i])

35
49920
39
41600
47
43680
49
43680
65
49920
67
45500
73
45500
74
10000
75
29120
79
47840
81
50000
87
45000
96
30500
105
22000
109
50000
111
30000
115
40000
118
30000
119
47840
128
35360
141
39500
155
46000
165
45760
174
36000
181
45500
182
41600
188
44500
189
50000
190
49920
200
12000
201
46500
202
42000
203
18720
205
49920
211
45760
213
47840
221
11500
222
24000
224
125
237
41600
238
11064
244
50000
246
35500
256
24000
288
50000
303
45760
338
50000
340
47840
342
48000
344
39520
347
36000
349
30000
359
49920
366
36000
371
47000
374
49000
376
36000
377
43680
378
45760
379
48000
380
43680
382
48000
383
11028
384
45760
391
48000
392
39500
393
43680
400
47000

In [34]:
df_ca.to_csv('../../../data/clean_data/salaries_ca.csv')

#### Check UK salary column

In [35]:
df_uk = pd.read_csv('../../../data/clean_data/salaries_uk3.csv')
df_uk = df_uk.drop('Unnamed: 0', axis=1)

In [36]:
df_uk_uncleaned = pd.read_csv('../../../data/raw_data/salaries_uk_info.csv')
df_uk_uncleaned = df_uk_uncleaned.drop('Unnamed: 0', axis=1)

In [37]:
salary_mask = (df_uk['salary'] <= 50000)
for i in range(len(df_uk['salary'])):
    if salary_mask[i]:
        print(i)
        print(df_uk['salary'][i])

0
35518.62
15
48780.9
72
47850.0
85
49590.0
101
40020.0
125
38280.0
127
48720.0
131
38280.0
134
31320.0
140
34800.0
153
41760.0
167
41760.0
182
31320.0
183
41760.0
187
20441.52
188
36540.0
189
33060.0
198
38280.0
215
0.0
225
26970.0
236
33060.0
246
41760.0
249
30450.0
251
48720.0
252
41760.0
255
48720.0
258
32190.0
259
20462.4
264
17400.0
268
31320.0
269
33060.0
271
43500.0
290
36540.0
292
30450.0
298
45240.0
299
35670.0
316
41760.0
329
41760.0
335
26970.0
339
46980.0
344
45240.0
350
48720.0
368
48720.0
371
40020.0
377
45240.0
392
20880.0
398
29580.0
400
33060.0
403
40020.0
404
40890.0
406
41760.0
410
31320.0
417
48720.0
419
41760.0
433
20796.48
438
46980.0
455
41760.0
466
43500.0
472
41760.0
477
31320.0
479
0.0
481
35670.0
482
20483.28
489
37410.0
492
34800.0
495
25334.4
499
19815.12
501
43430.4
503
0.0
507
0.0
517
34800.0
518
45240.0
522
48720.0
528
0.0
530
34800.0
535
34800.0
549
43430.4
557
48459.0
562
46894.74
588
34800.0
630
18270.0
669
46980.0
670
48720.0
671
20880.0
674
46980.0
676
43500.0
677
0.0
678
45240.0
680
45240.0
683
45240.0
684
45240.0
691
48720.0
695
41760.0
696
45240.0
697
20525.04
700
26970.0
701
32190.0
707
43500.0
708
36192.0
715
48720.0
719
48720.0
736
23490.0
755
43500.0
758
28710.0
771
35670.0
775
41760.0
778
33930.0
780
47850.0
782
48720.0
789
28953.6
790
20399.76
809
45240.0

#### Fix US salary column

In [46]:
df_us = pd.read_csv('../../../data/clean_data/salaries_us2.csv')
df_us = df_us.drop('Unnamed: 0', axis=1)

In [49]:
df_us_uncleaned = pd.read_csv('../../../data/raw_data/salaries_us_info.csv')
df_us_uncleaned = df_us_uncleaned.drop('Unnamed: 0', axis=1)

In [53]:
df_us_uncleaned['monthly_freq'] = df_us_uncleaned['position'].map(get_monthly_freq)
monthly_mask = (df_us_uncleaned['monthly_freq'] == True)
df_us.loc[df_us_uncleaned['monthly_freq'] == True, 'salary'] *= 12

In [62]:
salary_mask = (df_us['salary'] <= 20000)
for i in range(len(df_us['salary'])):
    if salary_mask[i]:
        print(i)
        print(df_us['salary'][i])

1372
15065.0
1375
15720.0
1793
0.0
1998
4967.5199999999995
2144
0.0
2194
8515.0
2326
11176.92
2431
12481.68
2575
0.0
2652
0.0
2664
15720.0
2905
0.0
2961
0.0
2982
0.0
2983
0.0
3193
0.0
3308
10343.76
3322
13755.0
3374
0.0
3609
94.32000000000001
3780
15720.0
4050
0.0
4178
15720.0
5270
0.0
5498
0.0
5818
15594.24
5924
214.84

In [67]:
df_us.to_csv('../../../data/clean_data/salaries_us.csv')