# Workflow: 

- Step 1.  For 'Position_clean' column, find all rows that contain substring combo ('intern' OR 'co-op) AND ('data science' OR 'data scientist' OR 'ML' or 'machine learning') *case insensitive*
    - replace all with 'Data Scientist Intern' 
- Step 2.  find all rows that contain substring 'data science'*case insensitive*
    - replace case by case with 'xx Data Scientist' 
- Step 3. find all rows that contain substring 'analytics' *case insensitive*
    - replace case by case with 'xx Data Scientist' 
- Step 4. find all rows that contain substring 'ML' or 'machine learning' (assume: exclude 'AI' roles) *case-insensitive*
    - replace case by case with 'xx Data Scientist' 
    - e.g. For Canada: 
            - "Research Scientist, Core ML" -> "Senior Data Scientist" 
            - 'Senior Machine Learning Scientist" -> "Senior Data Scientist" 
            - "Senior Machine Learning Scientist, Natural Language Processing" -> "Senior Data Scientist" 
            - "Sr ML/AI Data Analyst" (4 positions) -> "Data Scientist"
 
- Step 5. Other special cases (from examining df.Position. unique()): replace case by case with 'xx Data Scientist' 
  - For Canada: 
       -'Programmer/Developer Lead - Sr Data Analyst - Visualization' -> "Senior Data Scientist"
                    
- Step 6: find all rows that do NOT contain substring *case-insensitive* 'Data Scientist'(e.g. 'software engineer', 'AI research scientist', 'data engineer', 'software developer', 'database developer', 'data analyst') -> replace with np.nan (for easier removal of these rows later) 


[see here for str.replace](https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas)

**note: order matters! e.g. '*Senior* *director*, data scientist' - need to change to LDS, before SR**

- Step 7A. replace any substrings 'lead' or 'director' or 'manager' or 'principal' -> 'Lead Data Scientist'
- Step 7B. replace any substrings 'sr' or 'senior' -> 'Senior Data Scientist'
- Step 7C. replace any substrings jr' or 'junior' -> 'Junior Data Scientist'
- Step 7D. replace substrings NOT 'intern' NOT 'junior' NOT 'senior' NOT 'lead' NOT NaN  -> 'Data Scientist' 


AFTER merging with Sasha's cleaned columns, do following: 
- drop rows that have NaN in the 'Position_clean' column [see how here](https://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-in-a-certain-column-is-nan)
- check and drop duplicates
- drop other rows with certain NaN fields

In [1]:
import pandas as pd
import numpy as np

In [2]:
INTERN = 'Data Scientist Intern'
JR = 'Junior Data Scientist'
SR = 'Senior Data Scientist'
DS = 'Data Scientist'
LDS = 'Lead Data Scientist'
rm = np.nan

In [3]:
df_us = pd.read_csv('elisa_us_new.csv', index_col = 0)

In [4]:
df_us.Position.unique()

array(['Jr. Data Scientist', 'Data Scientist-Junior', 'Data Analyst',
       'Scientist III, Pharma R & D', 'Database Developer',
       'Senior Scientist I', 'Energy Research and Data Analyst',
       'Senior, Measurement Data Analyst', 'Associate Data Analyst',
       'Principal Quality Scientist', 'Senior Database Developer',
       'Data Scientist', 'Population Health Data Analyst',
       'Care Coordination Quality Improvement Data Analyst',
       'Web Data Analyst (South of Milwaukee)', 'Enterprise Data Analyst',
       'Financial Data Analyst', 'Contract Data Analyst',
       'Senior Scientist in Product Development', 'Junior Data Scientist',
       'Senior Data Scientist Advisor', 'Senior SQL Database Developer',
       'Sales Data Analyst (Outdoor/Hunting Industry)',
       'Operations Data Analyst', 'DEI Data Analyst',
       'Finance Data Analyst Internship - Paid (South of Milwaukee)',
       'SQL Data Analyst', 'Energy Market Data Analyst',
       'Healthcare Data Analyst', 'Data Analyst, Performance Analytics',
       'Scientist I, Downstream Purification',
       'Data Analyst/Lead Collateral Analyst',
       'Compliance Data Analyst / Programmer',
       'Quantitative Data Analyst', 'Data Analyst, Payments',
       'Junior Python Developer / Data Scientist',
       'Data Analyst - Active Secret Security Clearance',
       'Sr. Data Scientist', 'Research Scientist, Protein Imaging',
       'Payroll Data Analyst',
       'Senior Engineer/Data Scientist - Industry 4.0',
       'SQL Database Developer', 'Market Data Analyst', 'Data Analyst I',
       'Data Analyst II', 'Engineering Data Analyst II', 'Scientist',
       'Senior Research Scientist - Allogenic Process Development',
       'Senior Scientific Data Analyst (CDC COVID-19 Response Support)',
       'Principal Scientist, Fibrosis', 'Data Governance Data Analyst',
       'Principal Data Scientist', 'Sales & Marketing Data Analyst',
       'Principal Scientist Oligonucleotide Chemistry',
       'Senior Database Developer/Administrator',
       'Research Scientist 1- Immunology',
       'Sr. Electric Utility Business Intelligence and Data Analyst',
       'Product Data Analyst, Digital Retail',
       'Data Analyst, Governance and Quality', '(Sr.) Data Analyst -',
       'Senior Scientist/Senior Project Manager',
       'Sr. Marketing Data Analyst', 'Garden Specialist & Data Analyst',
       'Senior Manager, Data and Machine Learning Engineering',
       'Consumer Lending Data Analyst', 'Lead Data Scientist',
       'Associate Scientist, Technical Applications - contract through 7/21',
       'Clinical Data Analyst in Portland, OR',
       'Advertising Data Analyst, Business Intelligence',
       'Oracle XML Database Developer/Administrator (Secret clearance required)',
       'Geophysical Data Analyst',
       'Operations Strategic Data Analyst - Healthcare',
       'Data Scientist 1',
       'Associate, Mechanical Operations Data Analyst',
       'Junior Signal Processing Engineer', 'Power BI/Database Developer',
       'Principal Scientist, Viral Vector Technology Development - Gene Therapy',
       'Business Data Analyst',
       'Data Analyst, Linkage Capabilities Transformation',
       'Healthcare Operations Data Analyst, Manager',
       'Senior Data Analyst', 'HPC Data Analyst / Developer',
       'Junior Data Analyst with Medical Practice Management Software Experience',
       'Data Analyst Digital Marketing',
       'Associate Research Scientist - Cell Based Assay',
       'Application Scientist -- Formulas',
       'Scientist, Formulation and Drug Product Development',
       'Human Capital - HRIS Project & Data Analyst',
       'Data Analyst I - Data Science Team',
       'Senior Systems and Data Analyst', 'Public Health Data Analyst',
       'MongoDB Elasticache Python Database Developer / Architect',
       'Data Analyst / SSRS Report Developer',
       'Sr. Core Staff Scientist - PK/PD Core',
       'E-Commerce Marketing Data Analyst',
       'Scientist I/II, Purification Process Sciences',
       'PL/SQL Data Analyst', 'Intern - Data Analyst',
       'Associate Data Analyst - Jacksonville', 'Web Data Analyst',
       'Data Analyst with a Secret Clearance',
       'Lead Software Engineer - Java/Database Developer',
       'Member Experience Data Analyst',
       'Senior/Principal Scientist - Analytical Development',
       'Assistant Research Scientist II (Pharmacology, PK/Tox)',
       'Junior Data Analyst',
       'Research Scientist IV, Regenerative Medicine (MS or BS level)',
       'Staff Data Scientist',
       'Sr. Principal Scientist/Principal Scientist - Respiratory Diseases',
       'Data Scientist, Analytics',
       'GD123 AI/Machine Learning Technologist/Data Scientist for Earth Sciences Applications',
       'Data Analyst - University Graduate', 'Cleared Data Scientist',
       'Data Scientist, Intern', 'Programmer and Data Analyst',
       'Business Data Analyst EZ CAP, EDI, SSRS and SSIS',
       'Jr Data Scientist', 'Data Scientist - Junior',
       'Data Analyst, Junior', 'Data Scientist, Junior',
       'Staff Scientist R&D, Molecular Biology Research',
       'Media Marketing Data Analyst',
       'Principal Data Scientist – Secureworks - US Remote or Canada Remote',
       'Data Scientist Intern', 'Jr Data Analyst',
       'Salesforce Data Analyst',
       'Junior Data Scientist - Center for Quantitative Drug and Disease Modeling',
       'Database Developer (TS/SCI clearance required)',
       'HRIS REPORTING AND DATA ANALYST',
       'Direct-to-Consumer (DTC) Data Analyst', 'Data Analyst (Entry)',
       'Data Analyst Associate', 'Junior Scientist', 'Data Scientist I',
       'Junior Research Scientist (Part-time)',
       'Data Analyst (First Team)', 'Entry Level Data Analyst',
       'Jr. Business Data Analyst', 'Manager Senior Scientist - Vaccine',
       'Junior Data Scientist Data Science Development Program',
       '100 - Data Analyst', 'Sr. Data Analyst/Modeler',
       'Staff Business Data Analyst',
       'Healthcare Data Analyst (Accountable Care Organization)',
       'Healthcare Provider Data Analyst', 'Data Analyst/Scientist',
       'Data Analyst – Health Policy Research',
       'Senior Data Analyst, Marketing', 'Data & Applied Scientist',
       'Data Analyst Intern',
       'Data Analyst III - Peri- and Post Approval Studies (PPAS)',
       'Jr. Data Analyst', 'Data Analyst TS/SCI Poly',
       'Scientist - Synthetic Biology', 'Intern, Digital Data Analyst',
       'Marketing and Data Analyst', 'Senior Scientist Immuno-Oncology',
       'Junior Data Scientist EIT', 'Senior Business Data Analyst',
       'Senior Scientist, Clinical', 'PMC: Senior Data Analyst',
       'Junior SQL Data Analyst', 'Research Data Analyst',
       'Junior Data Analyst/Statistician',
       'Senior Technical Data Analyst', 'Junior Data Scientist | TS/SCI',
       'Junior Data Scientist - Future', 'SSD Data Scientist',
       '(Junior) Reporting Engineer / Data Analyst (m/w/d)',
       'Staff Data Scientist - Interests',
       'Principal / Sr Principal Data Scientist (TS/SCI/Poly)',
       'Procurement Data Analyst Intern', 'SSD Data Scientist (148)',
       'Postdoctoral Scientist - Metabolism / Endocrinology Research Cluster',
       'Data Analyst - Certified Residential Appraiser',
       'Data Scientist, POC Applications', 'Data Scientist and Engineer',
       'Field Application Data Scientist - Junior',
       'Health Analytics Data Scientist',
       'Principal Data Scientist - Manufacturing Technology',
       'Clinical Data Scientist', 'Data Scientist (Jr.)',
       'Data Scientist / Data Analyst', 'JP00000775-IT - Data Scientist',
       'Data Analyst (Data Mining/Oracle/Cloud)',
       'Systems Medicine, Associate Principal Scientist/Associate Director',
       'Associate Scientist, Cellular Phenotype', 'VP, Data Science',
       'Statistician / Data Scientist - Validate Health',
       'Enterprise Data Scientist', 'Data Scientist (SME)',
       'Data Scientist Intern - Strategic Data Solutions',
       'Junior Data Scientist/Engineer', 'Junior Data Analyst (f/m/d)',
       'Data Analyst Entry',
       'Data Governance/Data Quality Consultant - Remote Only - Deloitte',
       'Data Scientist Jr.', 'Research Data Scientist, Intern',
       'Data Analyst - Python', 'Junior Scientist - Vision Robotics',
       'Junior Data Scientist (Secret Clearance Required)',
       '2021 Campus: Data Scientist Intern (Walmart Ecommerce Intern - E)',
       'New! Junior Cloud Data Analyst',
       'Tech Intern: Critical Infrastructure Data Analyst',
       'Lead Data Analyst - Remote',
       'Environmental Engineer / Geologist / Scientist',
       'Data Scientist- Analytics (Healthcare & Life Sciences)',
       'Prin Data Scientist - Engineering and Smart Grid Reliability',
       'Junior Data Analyst - Cancer Epidemiology and Genetics',
       '2021 Junior Data Analyst Intern',
       'Aon Campus - Health Analytics Data Analyst',
       'Data Scientist (Various Levels), CCQ',
       'Principal Data Scientist I',
       'DOD Data Scientist/Engineer - Junior', 'Data Analyst - (Python)',
       'Drug Safety Data Analyst / Business Systems Analyst',
       'Intern - Photomask Data Scientist',
       'Quantitative/Data Analyst Intern',
       'Junior Marketing Data Analyst', 'SAP Data Analyst',
       'Vans Data Scientist, Consumer Lifecycle Management',
       'GBSD Sr Data Analyst - Systems Engineer',
       'Cleared Business Intelligence/Data Analyst',
       'Junior Data Analyst - Marketing',
       'Early career data scientist / analyst / statistical geneticist',
       'Lead Software Engineer - Streaming Data',
       'Data Analyst Junior - Temporary 3 months',
       'Data Scientist Intern - UIUC',
       'Global Account Data Analyst ( Hillsboro, OR)',
       'Health Data Analyst', 'Senior Data Scientist',
       'Senior Data Scientist (Remote Option)', 'Senior Food Scientist',
       'Senior Failure Investigation Scientist', 'Research Scientist',
       'Senior Scientist', 'Senior Principal Scientist',
       'Senior Scientist, Drug Metabolism and Pharmacokinetics',
       'Research Scientist - Gene Delivery - Gene Editing Institute',
       'Research Scientist - CRISPR Gene Therapy - Gene Editing Institute',
       'Senior Scientist - Gene Therapy, Hematology',
       'Clinical Laboratory Scientist', 'Sr Data Scientist, Zoro',
       'Scientist / Senior Scientist, Bioinformatic',
       'Senior Biostatistician', 'FCC Data Scientist',
       'Senior Scientist, Cell Manufacturing',
       'Scientist / Sr Scientist - Bioanalysis',
       'Senior Research Statistician- Data Scientist',
       'Process Development, Senior Associate (Upstream)',
       'Senior Implementation and IT Specialist',
       'Senior Data Scientist - Defense & Intelligence',
       'Senior Scientist, Viral Based Gene Therapeutic Process Development',
       'Host Resistance - Senior Scientist',
       'Research Scientist, Mass Spectrometry',
       'Product Development Scientist',
       'Process Scientist/Senior Process Scientist',
       'Senior Client Solutions Associate',
       'Senior Data Scientist, Masters Degree', 'Staff Data Scientist I',
       'Senior Associate, Downstream',
       'Research Scientist, Computational Biology',
       'Senior Data Scientist Model Risk',
       'Senior Failure Analysis Engineer',
       'Senior Scientist - Gene Therapy, CNS',
       'Senior Data Scientist (Palo Alto, CA or Remote US)',
       'Research Scientist (open-rank) Center for Hearing',
       'Sr. Data Scientist - Model Governance', 'Senior Data Engineer',
       'Sr Data Scientist', 'Senior Carbon Materials Scientist',
       'ANC-Environmental Engineer-Scientist (ML)',
       'Senior or Staff Data Scientist', 'HR Data Analyst II (3382)',
       'SENIOR DATA ANALYST', 'Senior Modeling and Simulation Scientist',
       'BS/MS Immuno-Oncology Scientist', 'Director, Data Scientist',
       'HCM Data Analyst', 'Research Scientist, Biochemistry/Biophysics',
       'Data Scientist Lead', 'Senior Scientist, Discovery Biology',
       'Research Scientist - Center for Childhood Deafness, Language, and Learning',
       'Senior Manager, Machine Learning Engineering (MS2163)',
       'CLINICAL RESEARCH SCIENTIST', 'Senior Quality Engineer',
       'Scientist/Senior Scientist, Cell Culture Process Development',
       'Senior Perception Scientist for Marine Autonomy',
       'Software Engineering III, Data Scientist',
       'Senior Research Associate – PK/PD Preclinical Research',
       'Research Scientist 2 (Pharmacokinetics)',
       'Arity-Data Scientist-Sr Manager',
       'Senior Data Scientist (Active Secret Clearance)',
       'Team Leader Pharmaceutical Chemistry Research Scientist, PhD',
       'Senior Data Scientist 3 Artificial Intelligence',
       'Senior Data Scientist (Remote-friendly)',
       'Data Scientist active TS/SCI', 'Data Engineer',
       'Senior Research Scientist / Project Manager',
       'Senior Data Scientist Marketing', 'Data Scientist II',
       'Senior Battery Scientist/Engineer',
       'Senior Data Engineer - ElasticSearch', 'SENIOR SECRETARY',
       'Senior Research Scientist, Toxicology',
       'Scientist/Senior Scientist - In Vitro Pharmacology',
       'Senior Chemist', 'SENIOR REPORTS ANALYST',
       'Senior Research Scientist – Security and Privacy',
       'Technical Lead - Data Scientist (AWS/Python)',
       'Research Scientist - Methane Remote Sensing', 'DATA SCIENTIST',
       'Research Scientist II, Molecular',
       'Senior Data Scientist 4 Artificial Intelligence',
       'Data Scientist for Detector Physics',
       'Lead Data Scientist / Engineer', 'Research Data Scientist',
       'Senior Scientist - Learning Technology',
       'Senior Scientist/Associate Director, Discovery DMPK',
       'Research Scientist - National Global Oil and Gas Policy Dvlpmt',
       'Senior Scientist/Principal Scientist, Computational Biology (Expert)',
       'DOD Data Scientist/Engineer', 'Senior Data Analyst, Warehouse',
       'Data Scientist II (In Office or Remote)',
       'Senior Scientist, Machine Learning', 'Data Scientist - Risk',
       'Sr. Manager Advanced Analytics (Data Scientist)',
       'Senior Marketing Data Scientist',
       'Senior Digital Design Engineer',
       'Data Scientist in Artificial Intelligence - Intermediate',
       'Data Scientist -- Senior',
       'Senior Director, Oncology R&D – Clinical Scientist',
       'Senior Scientist/Principal Scientist - Tumor Immune Biology (In vivo)',
       'Cheminformatics Data Scientist',
       'Clinical Data Scientist (PhD or PharmD Required)',
       'Senior Data Scientist - Manufacturing and Supply Chain',
       'Senior Scientist, Bioinformatics, Oncology',
       'Senior Scientist, Scientific Affairs',
       'Sr. Scientist -Protein Engineering & Drug Development',
       'Sr. Research Scientist, PCR',
       'Data Scientist (Remote Work Option)',
       'Associate Director, Oncology R&D – Clinical Scientist',
       'SYSTEM APPLICATION ADMINISTRATOR-SENIOR',
       'Senior User Interface Developer - TS/SCI w/ Poly Required',
       'Data Scientist – Protein Sciences',
       'Senior Group Leader - Automation - Vaccines - 2nd shift',
       'Senior Research Scientist [Sr Manager, Consulting]',
       'Sr Strategic Data Analyst', 'SENIOR INTEGRATION DEVELOPER',
       'Senior Data Scientist - R&D Oncology',
       'Data Scientist II/III, Drug Safety', 'Data Scientist-Senior',
       'Senior Data Scientist , Advanced Analytics',
       'Senior Scientist, AAV Plasmid and Vector Platform Development',
       'Data Analyst IV (Contract to Hire)',
       'Data Scientist - TS/SCI w/ Poly',
       'Senior Deep Learning Scientist',
       'Senior Scientist, Computer Vision/Machine Learning',
       'Lead Data Scientist – Network Analysis and Control',
       'Senior Software Developer', 'Senior Data Visualization Developer',
       'Senior Data Scientist - Analytics', 'Senior Financial Analyt',
       'Molecular Biology Research Scientist PhD',
       'AI/ Machine Learning Lead Data Scientist',
       'Translational Data Scientist, Oncology Data Science',
       'Data Scientist (Federal)', 'Semantic Web / Linked Data Scientist',
       'SOFTWARE TEST ENGINEER-SENIOR',
       'Senior Principal Frontend Data Visualization Engineer – Secureworks – Austin, TX or US Remote',
       'Senior Product Manager - Threat Detection and Analytics - Secureworks - Remote, US',
       'Senior Data Scientist, Schools',
       'Senior Data Engineer (AWS/Python)', 'Data Scientist, Senior',
       'Senior Software Engineer, Data Infrastructure',
       'Data Scientist Senior Technical Specialist',
       'Senior Biostatistician / Senior Manager, Biostatistics',
       'Data Science & Analytics Manager',
       'Senior Software Engineer - Data Reliability',
       'Senior Security Analyst (DLP)', 'Senior Software Engineer',
       'Senior Software Engineer, Knowledge Assets',
       'Senior Software Engineer - Search',
       'Data Scientist - Active TS/SCI Required',
       'Senior Director, Translational Medicine',
       'Senior Software Engineer (Generalist), IDseq, Science',
       'Research Scientist/Engineer – Cyber Security',
       'Senior Statistician',
       'Computational Biologist / Bioinformatics Data Scientist',
       'Senior Director Strategic Partnerships - RWE (Real World Evidence)',
       'Senior Data Scientist - Underwriting',
       'Climate Health Data Scientist', 'Cloud Production Data Scientist',
       'Sr. DATA SCIENTIST', 'Sr. Data Integration Engineer',
       'Data Analytics / HPC / Computational Data Scientist',
       'Senior Data Scientist - Member Experience',
       'Sr Research Scientist - Preclinical Research Lead - Gene Editing Institute',
       'Senior Research Statistician [Sr Manager, Analytics]',
       'Data Engineer, Medical Diagnostics',
       'Senior Healthcare Data Analyst',
       'Senior Research Associate/Associate Scientist, Translational Research',
       'Senior .NET Developer',
       'Data Scientist - Manufacturing Technology',
       'Senior Director of Product Marketing, Data Engineering',
       'Senior Data Scientist Consultant',
       'Nextracker - Data Scientist/Machine Learning Engineer',
       'Senior Manager of Data Science - Operations',
       'Principal / Senior Scientist', 'Data Scientists with TS/SCI',
       'Lead Data Analyst - Payments Fraud', 'Aviation Data Scientist',
       'Senior Staff Scientist - Asst Project Manager',
       'Senior Data Scientist, Used Cars',
       'Senior Firmware Engineer - New Products',
       'HPC / Computational Data Scientist with Clearance',
       'Senior Director, Investor Relations',
       'Senior Staff Biosystems Engineer',
       'Senior UX Researcher - Search / Chatbot',
       'Senior Product Data Scientist, Cash App',
       'Senior Full Stack Engineer', 'Principal Scientist, Discovery',
       'Senior Data Scientist, Risk and Fraud',
       'Senior Full-Stack Engineer', 'Senior Data Scientist (Tumblr)',
       'Senior Data Scientist, eComm',
       'Senior Data Scientist - Behavioral Health',
       'Senior Scientist, AAV Upstream Process Development',
       'Associate Director Oncology Product Manager, Data Products',
       'Data Scientist Senior - Anti Money Laundering (AML)',
       'Senior Data Scientist (Customer Analytics)',
       'Senior Analytical Chemist', 'Senior Statistician/Data Scientist',
       'Computational Biologist / Data Scientist, Oncology',
       'Senior Technical Product Manager, Audience Data',
       'Research Scientist - Surgery and Efficacy Study Directors',
       'Scientist/Senior Scientist – Immunology and Molecular Biology',
       'Senior Data Scientist, Credit/Fraud Analytics',
       'Senior Data Scientist - Insurance',
       'Data Scientist - Forecasting',

In [5]:
# duplicate
df_us['Position_clean'] = df_us.loc[:, 'Position']

In [6]:
df_us[df_us['Position'] == 'Lead Account Data Scientist']

,Position,Description,Company,Location,Glassdoor Salary Estimate,Rating,Size,Revenue,Type,Year Founded,Industry,Sector,Position_clean
148,Lead Account Data Scientist,Expectations\n\n\nHard skills:\n2-3 years in a...,Bell Integrator,"San Jose, CA",NF,3.4,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Private,2003,IT Services,Information Technology,Lead Account Data Scientist

In [7]:
## step 1
s = ['intern', 'co-op', 'co op', 'placem']
cond_or1 = '|'.join(s)
t = ["data scien", "machine learn"]
cond_or2 = '|'.join(t)
bool_intern = (df_us['Position'].str.contains(cond_or1, case = False))& \
               ( (df_us['Position'].str.contains(cond_or2, case = False)) |\
                (df_us['Position'].str.contains('ML', case = True))
               ) 
df_us[bool_intern] # display rows

,Position,Description,Company,Location,Glassdoor Salary Estimate,Rating,Size,Revenue,Type,Year Founded,Industry,Sector,Position_clean
53,"Data Scientist, Intern",Help us shape the future of education.\n\nOur ...,Duolingo,"Pittsburgh, PA",NF,4.9,201 to 500 Employees,$10 to $25 million (USD),Company - Private,2011,Internet,Information Technology,"Data Scientist, Intern"
75,Data Scientist Intern,Intern - Data Science\n\nThe New York Times is...,The New York Times,"New York, NY",NF,3.2,1 to 50 Employees,Less than $1 million (USD),Company - Private,NF,NF,NF,Data Scientist Intern
81,Data Scientist Intern,Internet Brands is looking for a Data Scientis...,Internet Brands,"Los Angeles, CA",NF,3.3,1001 to 5000 Employees,$1 to $2 billion (USD),Company - Private,1998,Internet,Information Technology,Data Scientist Intern
89,Data Scientist Intern,"Joby Overview: Located in Northern California,...",Joby Aviation,"San Carlos, CA",NF,4.0,51 to 200 Employees,Less than $1 million (USD),Company - Private,NF,NF,NF,Data Scientist Intern
97,"Data Scientist, Intern",Help us shape the future of education.\n\nOur ...,Duolingo,"Pittsburgh, PA",NF,4.9,201 to 500 Employees,$10 to $25 million (USD),Company - Private,2011,Internet,Information Technology,"Data Scientist, Intern"
118,Data Scientist Intern,Worker Sub-Type:\n\nStudent (Fixed Term)\n\nJo...,Blackberry,"Irving, TX",NF,3.3,1001 to 5000 Employees,$5 to $10 billion (USD),Company - Public,1984,Enterprise Software & Network Solutions,Information Technology,Data Scientist Intern
123,Data Scientist Intern,Bayer is a global enterprise with core compete...,Bayer,"Creve Coeur, MO",NF,4.1,5001 to 10000 Employees,$10+ billion (USD),Company - Private,1863,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Data Scientist Intern
132,Data Scientist Intern,** Elutions will be unable to sponsor or trans...,Elutions,"Tampa, FL",NF,4.0,1 to 50 Employees,$1 to $5 million (USD),Company - Private,1994,Computer Hardware & Software,Information Technology,Data Scientist Intern
140,Data Scientist Intern,Build the Future\n\nDo you enjoy testing the l...,McGraw Hill,United States,NF,3.6,1001 to 5000 Employees,$1 to $2 billion (USD),Company - Private,1888,Education Training Services,Education,Data Scientist Intern
145,Data Scientist Intern,HENKEL IS FOR THOSE WHO STEP UP. DO YOU?\nAt H...,Henkel,"Irvine, CA",NF,4.3,10000+ Employees,$10+ billion (USD),Company - Public,1876,Consumer Products Manufacturing,Manufacturing,Data Scientist Intern
165,Data Scientist Intern,Intern - Data Science\n\nThe New York Times is...,The New York Times,"New York, NY",NF,3.2,1 to 50 Employees,Less than $1 million (USD),Company - Private,NF,NF,NF,Data Scientist Intern
179,Data Scientist Intern,Description\n\nJob Description:\nLeidos is see...,Leidos,"Arlington, VA",NF,3.7,10000+ Employees,$10+ billion (USD),Company - Public,1969,Aerospace & Defense,Aerospace & Defense,Data Scientist Intern
182,Data Scientist Intern,HENKEL IS FOR THOSE WHO STEP UP. DO YOU?\n\n\n...,Henkel,"Salisbury, NC",NF,4.3,10000+ Employees,$10+ billion (USD),Company - Public,1876,Consumer Products Manufacturing,Manufacturing,Data Scientist Intern
187,Data Scientist Intern,Description\n\nJob Description:\nLeidos is see...,Leidos,"Arlington, VA",NF,3.7,10000+ Employees,$10+ billion (USD),Company - Public,1969,Aerospace & Defense,Aerospace & Defense,Data Scientist Intern
196,Data Scientist Intern,Job ID: JR0145964\n\nJob Category: Intern/Stud...,Intel Corporation,"Hillsboro, OR",NF,4.1,10000+ Employees,$10+ billion (USD),Company - Public,1968,Computer Hardware & Software,Information Technology,Data Scientist Intern
198,Data Scientist Intern,Internet Brands is looking for a Data Scientis...,Internet Brands,"Los Angeles, CA",NF,3.3,1001 to 5000 Employees,$1 to $2 billion (USD),Company - Private,1998,Internet,Information Technology,Data Scientist Intern
2,Data Scientist Intern,Come Join Analog Devices – a place where Innov...,Analog Devices,"Wilmington, MA",NF,3.9,10000+ Employees,$5 to $10 billion (USD),Company - Public,1965,Electrical & Electronic Manufacturing,Manufacturing,Data Scientist Intern
40,Data Scientist Intern,"Joby Overview: Located in Northern California,...",Joby Aviation,"San Carlos, CA",NF,4.0,51 to 200 Employees,Less than $1 million (USD),Company - Private,NF,NF,NF,Data Scientist Intern
102,Data Scientist Intern,AMPLY is a fast-growing 2020 Global CleanTech ...,Amply Power,"Mountain View, CA",NF,NF,NF,NF,NF,NF,NF,NF,Data Scientist Intern
175,Data Scientist Intern - Strategic Data Solutions,"Posted: Nov 6, 2020\nWeekly Hours: 40\nRole Nu...",Apple,"Austin, TX",NF,4.2,10000+ Employees,$10+ billion (USD),Company - Public,1976,Computer Hardware & Software,Information Technology,Data Scientist Intern - Strategic Data Solutions
63,"Research Data Scientist, Intern",Facebook's mission is to give people the power...,Facebook,"Menlo Park, CA",NF,4.5,10000+ Employees,$5 to $10 billion (USD),Company - Public,2004,Internet,Information Technology,"Research Data Scientist, Intern"
88,2021 Campus: Data Scientist Intern (Walmart Ec...,Position Summary...\nWhat you'll do...\nApplie...,Walmart,"Hoboken, NJ",NF,3.3,1001 to 5000 Employees,$10+ billion (USD),Company - Public,1962,"Department, Clothing, & Shoe Stores",Retail,2021 Campus: Data Scientist Intern (Walmart Ec...
98,Data Scientist Intern,Internet Brands is looking for a Data Scientis...,Internet Brands,"Los Angeles, CA",NF,NF,NF,NF,NF,NF,NF,NF,Data Scientist Intern
196,Intern - Photomask Data Scientist,Relocation Level: Domestic\nHiring Manager: Jo...,Micron,"Boise, ID",NF,3.6,10000+ Employees,$10+ billion (USD),Company - Public,1978,Computer Hardware & Software,Information Technology,Intern - Photomask Data Scientist
22,Data Scientist Intern - UIUC,YOUR TASKS AND RESPONSIBILITIES\n\nThe primary...,Bayer,"Champaign, IL",NF,4.1,5001 to 10000 Employees,$10+ billion (USD),Company - Private,1863,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Data Scientist Intern - UIUC
35,2021 Campus: Data Scientist Intern (Walmart Ec...,Position Summary...\nWhat you'll do...\nApplie...,Walmart,"Hoboken, NJ",NF,3.3,1001 to 5000 Employees,$10+ billion (USD),Company - Public,1962,"Department, Clothing, & Shoe Stores",Retail,2021 Campus: Data Scientist Intern (Walmart Ec...
48,Data Scientist Intern,AMPLY is a fast-growing 2020 Global CleanTech ...,Amply Power,"Mountain View, CA",NF,NF,NF,NF,NF,NF,NF,NF,Data Scientist Intern
79,Data Scientist Intern,Internet Brands is looking for a Data Scientis...,Internet Brands,"Los Angeles, CA",NF,NF,NF,NF,NF,NF,NF,NF,Data Scientist Intern
109,Data Scientist Intern,Internet Brands is looking for a Data Scientis...,Internet Brands,"Los Angeles, CA",NF,NF,NF,NF,NF,NF,NF,NF,Data Scientist Intern
87,Data Science Intern,The Opportunity\n\n\nWe are seeking a talented...,CO-OP Financial Services,"Alpharetta, GA",NF,3.1,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Private,1981,Banks & Credit Unions,Finance,Data Science Intern

In [8]:
df_us.loc[bool_intern, 'Position_clean'] = INTERN
# 1c. check by comparing 2 columns
df_us[bool_intern][['Position', 'Position_clean']]

                                              Position         Position_clean
53                              Data Scientist, Intern  Data Scientist Intern
75                               Data Scientist Intern  Data Scientist Intern
81                               Data Scientist Intern  Data Scientist Intern
89                               Data Scientist Intern  Data Scientist Intern
97                              Data Scientist, Intern  Data Scientist Intern
118                              Data Scientist Intern  Data Scientist Intern
123                              Data Scientist Intern  Data Scientist Intern
132                              Data Scientist Intern  Data Scientist Intern
140                              Data Scientist Intern  Data Scientist Intern
145                              Data Scientist Intern  Data Scientist Intern
165                              Data Scientist Intern  Data Scientist Intern
179                              Data Scientist Intern  Data Scientist Intern
182                              Data Scientist Intern  Data Scientist Intern
187                              Data Scientist Intern  Data Scientist Intern
196                              Data Scientist Intern  Data Scientist Intern
198                              Data Scientist Intern  Data Scientist Intern
2                                Data Scientist Intern  Data Scientist Intern
40                               Data Scientist Intern  Data Scientist Intern
102                              Data Scientist Intern  Data Scientist Intern
175   Data Scientist Intern - Strategic Data Solutions  Data Scientist Intern
63                     Research Data Scientist, Intern  Data Scientist Intern
88   2021 Campus: Data Scientist Intern (Walmart Ec...  Data Scientist Intern
98                               Data Scientist Intern  Data Scientist Intern
196                  Intern - Photomask Data Scientist  Data Scientist Intern
22                        Data Scientist Intern - UIUC  Data Scientist Intern
35   2021 Campus: Data Scientist Intern (Walmart Ec...  Data Scientist Intern
48                               Data Scientist Intern  Data Scientist Intern
79                               Data Scientist Intern  Data Scientist Intern
109                              Data Scientist Intern  Data Scientist Intern
87                                 Data Science Intern  Data Scientist Intern

In [9]:
## Step 2
bool_2 = df_us['Position'].str.contains('data science', case = False)
df_us[bool_2] # display

,Position,Description,Company,Location,Glassdoor Salary Estimate,Rating,Size,Revenue,Type,Year Founded,Industry,Sector,Position_clean
136,Data Analyst I - Data Science Team,"Wednesday, October 14, 2020\n\nThe Data Scienc...",CNA Corporation,"Arlington, VA",$78k-$129k (Glassdoor Est.),3.3,501 to 1000 Employees,$100 to $500 million (USD),Nonprofit Organization,1942,Aerospace & Defense,Aerospace & Defense,Data Analyst I - Data Science Team
137,Junior Data Scientist Data Science Development...,Do you want to be part of a team that encourag...,MassMutual,"Amherst, MA",$73k-$124k (Glassdoor Est.),3.8,5001 to 10000 Employees,$10+ billion (USD),Company - Private,1851,Insurance Carriers,Insurance,Junior Data Scientist Data Science Development...
145,"VP, Data Science",Oversee a team of Data Scientists with overall...,PennyMac,"Phoenix, AZ",$180k-$286k (Glassdoor Est.),4.2,1001 to 5000 Employees,$500 million to $1 billion (USD),Company - Public,2008,Lending,Finance,"VP, Data Science"
173,"VP, Data Science",Oversee a team of Data Scientists with overall...,PennyMac,"Phoenix, AZ",$180k-$286k (Glassdoor Est.),4.2,1001 to 5000 Employees,$500 million to $1 billion (USD),Company - Public,2008,Lending,Finance,"VP, Data Science"
208,"Translational Data Scientist, Oncology Data Sc...","18-Sep-2020\n\nJob ID\n303124BR\n{""QuestionNam...",Novartis,"Cambridge, MA",$86k-$143k (Glassdoor Est.),4.1,10000+ Employees,$10+ billion (USD),Company - Public,1996,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Translational Data Scientist, Oncology Data Sc..."
11,Data Science & Analytics Manager,If you ever wanted to be on the ground floor o...,Takeoff Technologies,"Boston, MA",NF,4.3,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2016,Computer Hardware & Software,Information Technology,Data Science & Analytics Manager
98,Senior Manager of Data Science - Operations,Guild is hiring a Senior Manager of Data Scien...,Guild Education,"Denver, CO",$139k-$219k (Glassdoor Est.),3.6,501 to 1000 Employees,Unknown / Non-Applicable,Company - Private,2015,Enterprise Software & Network Solutions,Information Technology,Senior Manager of Data Science - Operations
107,"Translational Data Scientist, Oncology Data Sc...","18-Sep-2020\n\nJob ID\n303124BR\n{""QuestionNam...",Novartis,"Cambridge, MA",$86k-$143k (Glassdoor Est.),4.1,10000+ Employees,$10+ billion (USD),Company - Public,1996,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Translational Data Scientist, Oncology Data Sc..."
135,Data Science & Analytics Manager,If you ever wanted to be on the ground floor o...,Takeoff Technologies,"Boston, MA",NF,4.3,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2016,Computer Hardware & Software,Information Technology,Data Science & Analytics Manager
89,Senior/Staff Data Science Engineer,Are you an experience data engineer/ scientist...,Brightline,Remote,NF,5.0,1 to 50 Employees,Less than $1 million (USD),Company - Private,2019,NF,NF,Senior/Staff Data Science Engineer
101,"Manager, Data Science TPM",Why This Role is Important to Us:\nThe Manager...,"Commonwealth Care Alliance, Inc.","Boston, MA",$107k-$180k (Glassdoor Est.),3.1,1001 to 5000 Employees,$1 to $5 million (USD),Company - Private,2003,Health Care Services & Hospitals,Health Care,"Manager, Data Science TPM"
8,"Manager, Data Science","For best results, use Google Chrome to view th...",Brown-Forman,"Louisville, KY",$98k-$156k (Glassdoor Est.),4.4,1001 to 5000 Employees,$2 to $5 billion (USD),Company - Public,1870,Food & Beverage Manufacturing,Manufacturing,"Manager, Data Science"
52,"Senior Manager, Data Science",Atlassian is continuing to hire with all inter...,Atlassian,"Austin, TX",$156k-$247k (Glassdoor Est.),4.6,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Public,2002,Computer Hardware & Software,Information Technology,"Senior Manager, Data Science"
87,Senior/Staff Data Science Engineer,Are you an experience data engineer/ scientist...,Brightline,Remote,NF,5.0,1 to 50 Employees,Less than $1 million (USD),Company - Private,2019,NF,NF,Senior/Staff Data Science Engineer
159,"Manager, Data Science TPM",Why This Role is Important to Us:\nThe Manager...,"Commonwealth Care Alliance, Inc.","Boston, MA",$107k-$180k (Glassdoor Est.),3.1,1001 to 5000 Employees,$1 to $5 million (USD),Company - Private,2003,Health Care Services & Hospitals,Health Care,"Manager, Data Science TPM"
179,"Senior Manager, Online Data Science - Recommen...",Position Description:\nPosition Purpose:\n\nAt...,Home Depot,"Austin, TX",$206k-$326k (Glassdoor Est.),3.7,10000+ Employees,$10+ billion (USD),Company - Public,1978,NF,NF,"Senior Manager, Online Data Science - Recommen..."
10,"Senior Manager, Online Data Science - Recommen...",Position Description:\nPosition Purpose:\n\nAt...,Home Depot,"Austin, TX",$206k-$326k (Glassdoor Est.),3.7,10000+ Employees,$10+ billion (USD),Company - Public,1978,NF,NF,"Senior Manager, Online Data Science - Recommen..."
73,Senior/Staff Data Science Engineer,Are you an experience data engineer/ scientist...,Brightline,Remote,NF,5.0,1 to 50 Employees,Less than $1 million (USD),Company - Private,2019,NF,NF,Senior/Staff Data Science Engineer
12,Data Science Manager,Come join a growing financial technology compa...,"Continental Finance Company, LLC","Wilmington, DE",$89k-$151k (Glassdoor Est.),4.1,51 to 200 Employees,Unknown / Non-Applicable,Company - Private,2005,Lending,Finance,Data Science Manager
87,Data Science Fellowship,:\n\nThis posting will be open for application...,Sandia National Laboratories,"Albuquerque, NM",$73k-$126k (Glassdoor Est.),4.1,10000+ Employees,$2 to $5 billion (USD),Government,1949,Federal Agencies,Government,Data Science Fellowship
162,Software Engineer - Data Science,Join ClearEdge and be a part of the team of me...,ClearEdge,"Annapolis Junction, MD",$60k-$127k (Glassdoor Est.),4.1,51 to 200 Employees,$5 to $10 million (USD),Company - Private,2002,Computer Hardware & Software,Information Technology,Software Engineer - Data Science
176,"Data Science Instructor, Part-Time - REMOTE",Part-Time Data Science Instructor - Remote\nGa...,Galvanize,"Denver, CO",NF,NF,NF,NF,NF,NF,NF,NF,"Data Science Instructor, Part-Time - REMOTE"
177,Data Science Manager,Analytical. Data Driven. Excellent Communicato...,Constellation (MN),"Minneapolis, MN",$96k-$156k (Glassdoor Est.),4.5,51 to 200 Employees,Unknown / Non-Applicable,Company - Private,2012,Insurance Carriers,Insurance,Data Science Manager
178,"Research Scientist II, Data Science","Posting Title\nResearch Scientist II, Data Sci...",Novartis,"Cambridge, MA",$76k-$126k (Glassdoor Est.),4.1,10000+ Employees,$10+ billion (USD),Company - Public,1996,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Research Scientist II, Data Science"
24,"Manager, Data Science - Data Analytics (Phoeni...",Data Science Manager\n\nLocation: PHL or PHX (...,PRA Health Sciences,"Philadelphia, PA",$76k-$127k (Glassdoor Est.),3.9,10000+ Employees,$100 to $500 million (USD),Company - Public,1976,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Manager, Data Science - Data Analytics (Phoeni..."
29,"Translational Data Scientist, Oncology Data Sc...","18-Sep-2020\n\nJob ID\n303124BR\n{""QuestionNam...",Novartis,"Cambridge, MA",$86k-$143k (Glassdoor Est.),4.1,10000+ Employees,$10+ billion (USD),Company - Public,1996,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Translational Data Scientist, Oncology Data Sc..."
87,Data Science Intern,The Opportunity\n\n\nWe are seeking a talented...,CO-OP Financial Services,"Alpharetta, GA",NF,3.1,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Private,1981,Banks & Credit Unions,Finance,Data Scientist Intern
139,"Manager, Data Science - Data Analytics (Phoeni...",Data Science Manager\n\nLocation: PHL or PHX (...,PRA Health Sciences,"Philadelphia, PA",$76k-$127k (Glassdoor Est.),3.9,10000+ Employees,$100 to $500 million (USD),Company - Public,1976,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Manager, Data Science - Data Analytics (Phoeni..."
148,"Director, Data Science",Position Summary:\n\nData is CAQH’s most criti...,CAQH,"Washington, DC",$122k-$194k (Glassdoor Est.),4.2,51 to 200 Employees,$50 to $100 million (USD),Nonprofit Organization,2000,Health Care Services & Hospitals,Health Care,"Director, Data Science"
155,"Translational Data Scientist, Oncology Data Sc...","18-Sep-2020\n\nJob ID\n303124BR\n{""QuestionNam...",Novartis,"Cambridge, MA",$86k-$143k (Glassdoor Est.),4.1,10000+ Employees,$10+ billion (USD),Company - Public,1996,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Translational Data Scientist, Oncology Data Sc..."
161,"Translational Data Scientist, Oncology Data Sc...","18-Sep-2020\n\nJob ID\n303124BR\n{""QuestionNam...",Novartis,"Cambridge, MA",$86k-$143k (Glassdoor Est.),4.1,10000+ Employees,$10+ billion (USD),Company - Public,1996,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Translational Data Scientist, Oncology Data Sc..."
1,Director of Data Science,We’re hiring! We are currently looking for a D...,Confidential,"Boston, MA",NF,NF,NF,NF,NF,NF,NF,NF,Director of Data Science
21,Data Science Support Analyst,Overview\n\n\nJM&A Group is one of the largest...,JM&A Group,"Deerfield Beach, FL",$72k-$127k (Glassdoor Est.),3.8,501 to 1000 Employees,Unknown / Non-Applicable,Company - Private,1978,Investment Banking & Asset Management,Finance,Data Science Support Analyst
42,Data Science Manager,The Data Science Manager will manage a team of...,Plymouth Rock Assurance,"Woodbridge, NJ",$101k-$167k (Glassdoor Est.),3.7,1001 to 5000 Employees,$10 to $25 million (USD),Company - Private,1982,Insurance Carriers,Insurance,Data Science Manager
47,Head of Real-World Data Science,Genesis Research is an international healthcar...,Genesis Research,"Hoboken, NJ",NF,4.6,1 to 50 Employees,Unknown / Non-Applicable,Company - Private,2009,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Head of Real-World Data Science
73,"Associate Director, Data Science - Lexington, ...",Company Overview\n\nWe are a leading mRNA ther...,Translate Bio,"Lexington, MA",NF,5.0,51 to 200 Employees,Less than $1 million (USD),Company - Public,2011,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Associate Director, Data Science - Lexington, ..."
76,Data Science & Analytics Manager,If you ever wanted to be on the ground floor o...,Takeoff Technologies,"Boston, MA",NF,4.3,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2016,Computer Hardware & Software,Information Technology,Data Science & Analytics Manager
90,Data Science Support Analyst,Overview\n\n\nJM&A Group is one of the largest...,JM&A Group,"Deerfield Beach, FL",$72k-$127k (Glassdoor Est.),3.8,501 to 1000 Employees,Unknown / Non-Applicable,Company - Private,1978,Investment Banking & Asset Management,Finance,Data Science Support Analyst
132,Data Science Manager,The Data Science Manager will manage a team of...,Plymouth Rock Assurance,"Woodbridge, NJ",$101k-$167k (Glassdoor Est.),3.7,1001 to 5000 Employees,$10 to $25 million (USD),Company - Private,1982,Insurance Carriers,Insurance,Data Science Manager
32,"Associate Director, Data Science - Lexington, ...",Company Overview\n\nWe are a leading mRNA ther...,Translate Bio,"Lexington, MA",NF,5.0,51 to 200 Employees,Less than $1 million (USD),Company - Public,2011,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,"Associate Director, Data Science - Lexington, ..."
39,Sr Data Science Analyst,Job Summary\nThe Sr. Data Science Analyst oper...,"naviHealth, Inc.","Brentwood, TN",$61k-$107k (Glassdoor Est.),3.7,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Public,2012,Health Care Services & Hospitals,Health Care,Sr Data Science Analyst
45,Head of Real-World Data Science,Genesis Research is an international healthcar...,Genesis Research,"Hoboken, NJ",NF,4.6,1 to 50 Employees,Unknown / Non-Applicable,Company - Private,2009,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Head of Real-World Data Science
78,"Data Science Engineer, Recent Graduate",We are looking for this rare combination of ex...,eBay,"Bellevue, WA",$80k-$137k (Glassdoor Est.),3.9,10000+ Employees,$10+ billion (USD),Company - Public,1995,Internet,Information Technology,"Data Science Engineer, Recent Graduate"
146,Senior Manager of Data Science - Operations,Guild is hiring a Senior Manager of Data Scien...,Guild Education,"Denver, CO",$139k-$219k (Glassdoor Est.),3.6,501 to 1000 Employees,Unknown / Non-Applicable,Company - Private,2015,Enterprise Software & Network Solutions,Information Technology,Senior Manager of Data Science - Operations
2,Sr Data Science Analyst,Job Summary\nThe Sr. Data Science Analyst oper...,"naviHealth, Inc.","Brentwood, TN",$61k-$107k (Glassdoor Est.),3.7,1001 to 5000 Employees,Unknown / Non-Applicable,Company - Public,2012,Health Care Services & Hospitals,Health Care,Sr Data Science Analyst
20,Data Science & Analytics Manager,If you ever wanted to be on the ground floor o...,Takeoff Technologies,"Boston, MA",NF,4.3,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2016,Computer Hardware & Software,Information Technology,Data Science & Analytics Manager
35,Data Science & Analytics Manager,If you ever wanted to be on the ground floor o...,Takeoff Technologies,"Boston, MA",NF,4.3,201 to 500 Employees,Unknown / Non-Applicable,Company - Private,2016,Computer Hardware & Software,Information Technology,Data Science & Analytics Manager
71,"Data Science Engineer, Recent Graduate",We are looking for this rare combination of ex...,eBay,"Bellevue, WA",$80k-$137k (Glassdoor Est.),3.9,10000+ Employees,$10+ billion (USD),Company - Public,1995,Internet,Information Technology,"Data Science Engineer, Recent Graduate"
103,Data Science,Data Science\nAible is looking for enthusiasti...,Aible,"Foster City, CA",$106k-$143k (Glassdoor Est.),5.0,1 to 50 Employees,Unknown / Non-Applicable,Unknown,2018,Enterprise Software & Network Solutions,Information Technology,Data Science

In [10]:
# special case 1 
df_us.loc[df_us['Position'] == 'Data Science Support Analyst', 'Position_clean'] = rm
df_us.loc[df_us['Position'] == 'Data Science Instructor, Part-Time - REMOTE', 'Position_clean'] = rm

In [11]:
# special case 2
df_us.loc[df_us['Position'] == 'Data Science', 'Position_clean'] = DS
# check 
#df_us[df_us['Position'] == 'Data Science']

In [12]:
# jr ds
bool_jr = (df_us['Position_clean'].str.contains('junior|jr|recent grad|Analyst I', case = False)) & \
           (df_us['Position_clean'].str.contains('data science', case = False))
df_us.loc[bool_jr, 'Position_clean'] = JR
# lead ds
bool_lds = (df_us['Position_clean'].str.contains('VP|head|manager|director|lead|principal', case = False)) & \
           (df_us['Position_clean'].str.contains('data science', case = False))
df_us.loc[bool_lds, 'Position_clean'] = LDS
# sr ds
bool_sr = (df_us['Position_clean'].str.contains('senior/staff|fellowship|senior|sr', case = False)) & \
           (df_us['Position_clean'].str.contains('data science', case = False))
df_us.loc[bool_sr, 'Position_clean'] = SR
# ds
bool_ds = (df_us['Position_clean'].str.contains('software engineer|Scientist II', case = False)) & \
           (df_us['Position_clean'].str.contains('data science', case = False))
df_us.loc[bool_ds, 'Position_clean'] = DS

In [13]:
# check 
df_us[bool_2][['Position', 'Position_clean']]

,Position,Position_clean
136,Data Analyst I - Data Science Team,Junior Data Scientist
137,Junior Data Scientist Data Science Development...,Junior Data Scientist
145,"VP, Data Science",Lead Data Scientist
173,"VP, Data Science",Lead Data Scientist
208,"Translational Data Scientist, Oncology Data Sc...","Translational Data Scientist, Oncology Data Sc..."
11,Data Science & Analytics Manager,Lead Data Scientist
98,Senior Manager of Data Science - Operations,Lead Data Scientist
107,"Translational Data Scientist, Oncology Data Sc...","Translational Data Scientist, Oncology Data Sc..."
135,Data Science & Analytics Manager,Lead Data Scientist
89,Senior/Staff Data Science Engineer,Senior Data Scientist
101,"Manager, Data Science TPM",Lead Data Scientist
8,"Manager, Data Science",Lead Data Scientist
52,"Senior Manager, Data Science",Lead Data Scientist
87,Senior/Staff Data Science Engineer,Senior Data Scientist
159,"Manager, Data Science TPM",Lead Data Scientist
179,"Senior Manager, Online Data Science - Recommen...",Lead Data Scientist
10,"Senior Manager, Online Data Science - Recommen...",Lead Data Scientist
73,Senior/Staff Data Science Engineer,Senior Data Scientist
12,Data Science Manager,Lead Data Scientist
87,Data Science Fellowship,Senior Data Scientist
162,Software Engineer - Data Science,Data Scientist
176,"Data Science Instructor, Part-Time - REMOTE",NaN
177,Data Science Manager,Lead Data Scientist
178,"Research Scientist II, Data Science",Data Scientist
24,"Manager, Data Science - Data Analytics (Phoeni...",Lead Data Scientist
29,"Translational Data Scientist, Oncology Data Sc...","Translational Data Scientist, Oncology Data Sc..."
87,Data Science Intern,Data Scientist Intern
139,"Manager, Data Science - Data Analytics (Phoeni...",Lead Data Scientist
148,"Director, Data Science",Lead Data Scientist
155,"Translational Data Scientist, Oncology Data Sc...","Translational Data Scientist, Oncology Data Sc..."
161,"Translational Data Scientist, Oncology Data Sc...","Translational Data Scientist, Oncology Data Sc..."
1,Director of Data Science,Lead Data Scientist
21,Data Science Support Analyst,NaN
42,Data Science Manager,Lead Data Scientist
47,Head of Real-World Data Science,Lead Data Scientist
73,"Associate Director, Data Science - Lexington, ...",Lead Data Scientist
76,Data Science & Analytics Manager,Lead Data Scientist
90,Data Science Support Analyst,NaN
132,Data Science Manager,Lead Data Scientist
32,"Associate Director, Data Science - Lexington, ...",Lead Data Scientist
39,Sr Data Science Analyst,Senior Data Scientist
45,Head of Real-World Data Science,Lead Data Scientist
78,"Data Science Engineer, Recent Graduate",Junior Data Scientist
146,Senior Manager of Data Science - Operations,Lead Data Scientist
2,Sr Data Science Analyst,Senior Data Scientist
20,Data Science & Analytics Manager,Lead Data Scientist
35,Data Science & Analytics Manager,Lead Data Scientist
71,"Data Science Engineer, Recent Graduate",Junior Data Scientist
103,Data Science,Data Scientist

In [14]:
## step 3: 'analytics'
bool_3 = df_us['Position'].str.contains('analytics', case = False)
#df_us[bool_3]['Position'].iloc[0:] # display

In [15]:
# special 1: remove analytics engineer
bool_eng = df_us['Position_clean'].str.contains('analytics', case = False, na = False) &\
           df_us['Position_clean'].str.contains('engineer', case = False, na = False)
df_us.loc[bool_eng, 'Position_clean'] = rm
# special 2: remove irrelevant
df_us.loc[df_us['Position'] == 'Senior Product Manager - Threat Detection and Analytics - Secureworks - Remote, US', 'Position_clean'] = rm
df_us.loc[df_us['Position'] == 'Sign Out Manager-Data Analytics & Results Virtual Hiring Event' , 'Position_clean'] = rm
df_us.loc[df_us['Position'] == 'Data Analyst, Performance Analytics', 'Position_clean'] = rm
# special 3
df_us.loc[df_us['Position'] == 'Scientist 2, Data Analytics', 'Position_clean'] = DS
df_us.loc[df_us['Position'] == 'Aon Campus - Health Analytics Data Analyst', 'Position_clean'] = DS

In [16]:
# jr ds
bool_jr = (df_us['Position_clean'].str.contains('junior|jr', case = False, na = False)) & \
           (df_us['Position_clean'].str.contains('analytics', case = False, na = False))
df_us.loc[bool_jr, 'Position_clean'] = JR
# lead ds
bool_lds = (df_us['Position_clean'].str.contains('VP|head|manag|director|lead|principal', case = False, na = False)) & \
           (df_us['Position_clean'].str.contains('analytics', case = False, na = False))
df_us.loc[bool_lds, 'Position_clean'] = LDS
# sr ds
bool_sr = (df_us['Position_clean'].str.contains('senior|sr|advance', case = False, na = False)) & \
           (df_us['Position_clean'].str.contains('analytics', case = False, na = False))
df_us.loc[bool_sr, 'Position_clean'] = SR
# ds
bool_ds = df_us['Position_clean'].str.contains('analytics', case = False, na = False)
df_us.loc[bool_ds, 'Position_clean'] = DS

In [17]:
# check 
df_us[bool_3][['Position', 'Position_clean']].iloc[40:60,]

                                              Position         Position_clean
156  CIB Wholesale Payments Data and Analytics - Da...    Lead Data Scientist
158                    Lead Data Scientist - Analytics    Lead Data Scientist
160          Data Scientist, Analytics-Remote Presence         Data Scientist
178            Enterprise Analytics Data Scientist Sr.  Senior Data Scientist
18                              Risk Analytics Manager    Lead Data Scientist
42   Sign Out Manager-Data Analytics & Results Virt...                    NaN
80                          Business Analytics Manager    Lead Data Scientist
105   Corporate Analytics Manager (South of Milwaukee)    Lead Data Scientist
112                Data Analyst, Performance Analytics                    NaN
163                 Data Scientist, Business Analytics         Data Scientist
189                        Marketing Analytics Manager    Lead Data Scientist
195                        Marketing Analytics Manager    Lead Data Scientist
17                             Data Analytics Engineer                    NaN
24   Manager, Data Science - Data Analytics (Phoeni...    Lead Data Scientist
33   Data Scientist, Product Analytics - Epidemic R...         Data Scientist
71   Customer Service Analytics Manager (South of M...    Lead Data Scientist
74     Sr. Manager Advanced Analytics (Data Scientist)    Lead Data Scientist
78                             Analytics Data Engineer                    NaN
128       Senior Data Scientist, Analytics & Inference  Senior Data Scientist
139  Manager, Data Science - Data Analytics (Phoeni...    Lead Data Scientist

In [18]:
## step 4 - omit since all relevant ML roles also have 'data scientist' in their titles so can deal w it in Step 7
## Step 5  - other special cases
# spec 1
bool_s = df_us['Position_clean'].str.contains('statistician|data mining|python', case = False) &\
        df_us['Position_clean'].str.contains('data analyst', case = False)
#df_us[bool_s]
df_us.loc[bool_s, 'Position_clean'] = JR
# spec 2
df_us.loc[df_us['Position'] == 'Data & Applied Scientist', 'Position_clean'] = DS
df_us.loc[df_us['Position'] == 'Sr. Data & Applied Scientist', 'Position_clean'] = SR
df_us.loc[df_us['Position'] == 'Quantitative Analyst and Risk Modeler', 'Position_clean'] = DS

In [19]:
## Step 6 - replace all non-DS with NaN
bool_notDS = df_us['Position_clean'].str.contains('Data Scientist', case = False) == False
df_us.loc[bool_notDS, 'Position_clean'] = rm
# check 
# a = df_us[df_us['Position'].str.contains('Data Scientist', case = False) == False]
# a[['Position', 'Position_clean']].shape

In [20]:
# check no. of unique data scientist listings left after removing irrelevant rows
df_us[df_us['Position_clean'].str.contains('Data Scientist', case = False) == True]['Position'].unique().shape

(331,)

In [31]:
df_us['Position'].unique().shape

(793,)

## Out of 793 *unique* U.S. listings, get 331 *unique* data scientist (includes: 8 intern, 29 Jr., 101 Sr., 100 Lead, 93 data scientist) listings

In [21]:
## Step 7 
# 7A
# special
df_us.loc[df_us['Position'] == 'Data Scientist to Data Scientist Lead', 'Position_clean'] = DS
df_us.loc[df_us['Position'] == 'Lead Account Data Scientist', 'Position_clean'] = DS
# replace w LDS
bool_lds = df_us['Position_clean'].str.contains('lead|principal|manage|direct|VP|head', case = False, na = False)
df_us[bool_lds]['Position'].unique().shape # 100 unique LDS roles
df_us.loc[bool_lds, 'Position_clean'] = LDS

In [23]:
# 7B
bool_sr = df_us['Position_clean'].str.contains('senior|sr|expert|staff|st 3|st III|st II|clinical|intermediate|advance', case = False, na = False)
#df_us[bool_sr]['Position'].unique().shape # 101 unqiue SR roles
df_us.loc[bool_sr, 'Position_clean'] = SR
#check 
df_us[bool_sr][['Position', 'Position_clean']]

                                              Position         Position_clean
26                       Senior Data Scientist Advisor  Senior Data Scientist
57                                  Sr. Data Scientist  Senior Data Scientist
61       Senior Engineer/Data Scientist - Industry 4.0  Senior Data Scientist
36                                Staff Data Scientist  Senior Data Scientist
112                   Staff Data Scientist - Interests  Senior Data Scientist
136                            Clinical Data Scientist  Senior Data Scientist
155                            Clinical Data Scientist  Senior Data Scientist
68                    Staff Data Scientist - Interests  Senior Data Scientist
98                    Staff Data Scientist - Interests  Senior Data Scientist
128                   Staff Data Scientist - Interests  Senior Data Scientist
0                                Senior Data Scientist  Senior Data Scientist
1                Senior Data Scientist (Remote Option)  Senior Data Scientist
14                             Sr Data Scientist, Zoro  Senior Data Scientist
15                               Senior Data Scientist  Senior Data Scientist
17                               Senior Data Scientist  Senior Data Scientist
19                               Senior Data Scientist  Senior Data Scientist
23                               Senior Data Scientist  Senior Data Scientist
26        Senior Research Statistician- Data Scientist  Senior Data Scientist
27                               Senior Data Scientist  Senior Data Scientist
30                               Senior Data Scientist  Senior Data Scientist
31      Senior Data Scientist - Defense & Intelligence  Senior Data Scientist
41               Senior Data Scientist, Masters Degree  Senior Data Scientist
42                              Staff Data Scientist I  Senior Data Scientist
45                    Senior Data Scientist Model Risk  Senior Data Scientist
46                               Senior Data Scientist  Senior Data Scientist
49   Senior Data Scientist (Palo Alto, CA or Remote...  Senior Data Scientist
51               Sr. Data Scientist - Model Governance  Senior Data Scientist
54                       Senior Data Scientist Advisor  Senior Data Scientist
56                                  Sr. Data Scientist  Senior Data Scientist
57                                   Sr Data Scientist  Senior Data Scientist
..                                                 ...                    ...
58                              Data Scientist 3 (844)  Senior Data Scientist
64                Senior Data Scientist - Underwriting  Senior Data Scientist
68             Senior Data Scientist (Remote-friendly)  Senior Data Scientist
92                               Senior Data Scientist  Senior Data Scientist
98                               Senior Data Scientist  Senior Data Scientist
109                    Senior Data Scientist Marketing  Senior Data Scientist
123                              Senior Data Scientist  Senior Data Scientist
128       Senior Data Scientist, Analytics & Inference  Senior Data Scientist
129            Staff Software Engineer, Data Scientist  Senior Data Scientist
133                              Senior Data Scientist  Senior Data Scientist
142    Senior Data Scientist 3 Artificial Intelligence  Senior Data Scientist
153                              Senior Data Scientist  Senior Data Scientist
169    Senior Data Scientist 4 Artificial Intelligence  Senior Data Scientist
173                                  Data Scientist II  Senior Data Scientist
174  Senior Data Scientist - Manufacturing and Supp...  Senior Data Scientist
179                                 Sr. Data Scientist  Senior Data Scientist
4                                    Data Scientist II  Senior Data Scientist
17                                  Data Scientist III  Senior Data Scientist
45                               Data Scientist-Senior  Senior Data Scientist
108                              Senior Data Scientist  Senior Data Scientist
117                              Senior Data Scientist  Senior Data Scientist
136                              Data Scientist-Senior  Senior Data Scientist
39                             Sr Data Science Analyst  Senior Data Scientist
65          Data Scientist Senior Technical Specialist  Senior Data Scientist
81   Advanced Analytics Modeler (Applied Data Scien...  Senior Data Scientist
134         Senior Data Scientist , Advanced Analytics  Senior Data Scientist
2                              Sr Data Science Analyst  Senior Data Scientist
4           Data Scientist Senior Technical Specialist  Senior Data Scientist
75                     Senior Marketing Data Scientist  Senior Data Scientist
78   Advanced Analytics Modeler (Applied Data Scien...  Senior Data Scientist

[354 rows x 2 columns]

In [25]:
# 7C
bool_jr = df_us['Position_clean'].str.contains('junior|jr|early|entry|new grad|st 2|st 1', case = False, na = False) 
#df_us[bool_jr]
df_us[bool_jr]['Position'].unique().shape 
df_us.loc[bool_jr, 'Position_clean'] = JR

In [26]:
# 7D
bool_remain = (df_us['Position_clean'].str.contains('senior', case = False, na = False) == False) &\
                (df_us['Position_clean'].str.contains('junior', case = False, na = False) == False) &\
                (df_us['Position_clean'].str.contains('lead', case = False, na = False) == False) &\
                (df_us['Position_clean'].str.contains('intern', case = False, na = False) == False) &\
                df_us['Position_clean'].notna()
df_us.loc[bool_remain, 'Position_clean'] = DS

In [30]:
# Final step: check 
df_us[['Position', 'Position_clean']].iloc[300:400,]

# check special cases (handwritten * 2)
df_us[df_us['Position'] == 'Senior AI/ML/NLP Data Scientist']

,Position,Description,Company,Location,Glassdoor Salary Estimate,Rating,Size,Revenue,Type,Year Founded,Industry,Sector,Position_clean
108,Senior AI/ML/NLP Data Scientist,Ayata is developing its Prescriptive Analytics...,Ayata,"Dallas, TX",NF,2.4,1 to 50 Employees,Less than $1 million (USD),Company - Private,NF,Accounting,Accounting & Legal,Senior Data Scientist
117,Senior AI/ML/NLP Data Scientist,Ayata is developing its Prescriptive Analytics...,Ayata,"Dallas, TX",NF,2.4,1 to 50 Employees,Less than $1 million (USD),Company - Private,NF,Accounting,Accounting & Legal,Senior Data Scientist

In [50]:
# check 
df_us['Position_clean'].unique()

array(['Junior Data Scientist', nan, 'Data Scientist',
       'Senior Data Scientist', 'Lead Data Scientist',
       'Data Scientist Intern'], dtype=object)

In [51]:
# write to csv
df_us.to_csv('elisa_position_us.csv')

In [53]:
# read in to check 
df = pd.read_csv('elisa_position_us.csv', index_col = 0)
df.shape

(2717, 13)