In [2]:
import pandas as pd
import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import re

[nltk_data] Downloading package stopwords to C:\Users\Jack
[nltk_data]     Ellis\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
df = pd.read_csv(r'..\..\..\data\clean_data\salaries_descriptions_locations.csv',encoding='utf-8')

In [4]:
stpwords = stopwords.words('english') + stopwords.words('french')
stpwords.append('')
print(stpwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'au', 'aux', 'avec', 'ce', 'ces', 'dans', 'de', 'des', 'du', 'elle', 'en', 'et', 'eux', 'il', 'ils', 'je', 'la', 'le', 'les', 'leur', 'lui', 'ma', 'mais', 'me', 'même', 'mes', 'moi', 'mon', 'ne', 'nos', 'notre', 'nous', 'on', 'ou', 'par', 'pas', 'pour', 'qu', 'que', 'qui', 'sa', 'se', 'ses', 'son', 'sur', 'ta', 'te', 'tes', 'toi', 'ton', 'tu', 'un', 'une', 'vos', 'votre', 'vous', 'c', 'd', 'j', 'l', 'à', 'm', 'n', 's', 't', 'y', 'été', 'étée', 'étées', 'étés', 'étant', 'étante', 'étants', 'étantes', 'suis', 'es', 'est', 'sommes', 'êtes', 'sont', 'serai', 'seras', 'sera', 'serons', 'serez', 'seront', 'serais', 'serait', 'serions', 'seriez', 'seraient', 'étais', 'était', 'étions', 'étiez', 'étaient', 'fus', 'fut', 'fûmes', 'fûtes', 'furent', 'sois', 'soit', 'soyons', 'soyez', 'soient', 'fusse', 'fusses', 'fût', 'fussions', 'fussiez', 'fussent', 'ayant', 'ayante', 'ayantes', 'ayants', 'eu', 'eue', 'eues', 'eus', 'ai', 'as', 'avons', 'avez', 'ont', 'aurai', 'auras', 'aura', 'aurons', 'aurez', 'auront', 'aurais', 'aurait', 'aurions', 'auriez', 'auraient', 'avais', 'avait', 'avions', 'aviez', 'avaient', 'eut', 'eûmes', 'eûtes', 'eurent', 'aie', 'aies', 'ait', 'ayons', 'ayez', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent', '']

# N-Grams

In [5]:
from nltk import ngrams

In [6]:
#This function returns all n grams as well as descriptions splits for a given dataset with Description as a column
def box_of_words(df,n):

    allDescriptions = []
    allGrams = []

    count = 0
    for description in df.Description: 
        sentences = description.split('\n')
        grams = []
        
        allTokens = []
        for sentence in sentences:
            tokens = sentence.split(' ')
            tokens_without_sw = [word for word in tokens if not word in stpwords]
            allTokens += tokens_without_sw
        
        finalTokens = []
        for i in range(len(allTokens)):
            cleanWord = re.sub('[\W_]+', '', allTokens[i])
            finalTokens.append(cleanWord)
        
        grams = list(ngrams(finalTokens, n))
        _ = ''
        
        grams = [gram for gram in grams if _ not in gram]
        
        allDescriptions.append(grams)
        allGrams += grams
        
    allGrams = list(dict.fromkeys(allGrams))
    
    return (allGrams,allDescriptions)

#This function gets the count for word sequences in a given dataset
def getGramCounts(grams,descriptions):
    allDescriptionsBOW = {i:0 for i in grams}
    
    for description in descriptions:
        for gram in description:
            allDescriptionsBOW[gram] += 1
    
    keys = list(allDescriptionsBOW.keys())
    values = list(allDescriptionsBOW.values())

    myList = []
    for i in range(len(keys)):
        myList.append([keys[i],values[i]])
    myList = sorted(myList,key=lambda l:l[1], reverse=True)
    
    return myList

#Create one-hot encoded variables for top numGrams appearing word sequences
def createIndicators(grams,descriptions,df,numGrams):
    
    for i in range(numGrams):
        
        gram = grams[i][0]
        
        newColoumValues = []
        for description in descriptions:
            if gram in description:
                newColoumValues.append(1)
            else:
                newColoumValues.append(0)
        
        df[gram] = newColoumValues

In [17]:
grams,descriptions = box_of_words(df,3)

In [18]:
gramCounts = getGramCounts(grams,descriptions)

In [19]:
gramCounts

[[('sexual', 'orientation', 'gender'), 261],
 [('race', 'color', 'religion'), 218],
 [('orientation', 'gender', 'identity'), 196],
 [('without', 'regard', 'race'), 193],
 [('regard', 'race', 'color'), 182],
 [('employment', 'without', 'regard'), 172],
 [('receive', 'consideration', 'employment'), 168],
 [('consideration', 'employment', 'without'), 168],
 [('equal', 'opportunity', 'employer'), 167],
 [('applicants', 'receive', 'consideration'), 160],
 [('qualified', 'applicants', 'receive'), 158],
 [('protected', 'veteran', 'status'), 158],
 [('All', 'qualified', 'applicants'), 145],
 [('natural', 'language', 'processing'), 134],
 [('gender', 'gender', 'identity'), 128],
 [('2', 'years', 'experience'), 125],
 [('color', 'national', 'origin'), 124],
 [('people', 'around', 'world'), 122],
 [('color', 'religion', 'sex'), 120],
 [('Senior', 'Data', 'Scientist'), 120],
 [('machine', 'learning', 'techniques'), 115],
 [('gender', 'identity', 'expression'), 114],
 [('machine', 'learning', 'models'), 107],
 [('large', 'data', 'sets'), 107],
 [('5', 'years', 'experience'), 105],
 [('criminal', 'histories', 'consistent'), 105],
 [('Data', 'Science', 'team'), 97],
 [('3', 'years', 'experience'), 96],
 [('race', 'religion', 'color'), 95],
 [('federal', 'state', 'local'), 95],
 [('sex', 'including', 'pregnancy'), 94],
 [('religion', 'color', 'national'), 92],
 [('If', 'need', 'assistance'), 90],
 [('consider', 'qualified', 'applicants'), 89],
 [('also', 'consider', 'qualified'), 88],
 [('We', 'also', 'consider'), 88],
 [('structured', 'unstructured', 'data'), 85],
 [('Principal', 'Data', 'Scientist'), 84],
 [('As', 'Data', 'Scientist'), 84],
 [('physical', 'mental', 'disability'), 82],
 [('status', 'protected', 'veteran'), 82],
 [('Opportunity', 'Affirmative', 'Action'), 80],
 [('qualified', 'applicants', 'criminal'), 80],
 [('applicants', 'criminal', 'histories'), 80],
 [('Equal', 'Opportunity', 'Affirmative'), 78],
 [('employer', 'We', 'discriminate'), 76],
 [('We', 'discriminate', 'based'), 74],
 [('sex', 'sexual', 'orientation'), 73],
 [('years', 'experience', 'data'), 73],
 [('legally', 'protected', 'characteristics'), 71],
 [('orientation', 'national', 'origin'), 71],
 [('identity', 'gender', 'expression'), 70],
 [('sexual', 'orientation', 'national'), 70],
 [('gender', 'identity', 'gender'), 70],
 [('Computer', 'Science', 'Engineering'), 69],
 [('Statistics', 'Computer', 'Science'), 69],
 [('machine', 'learning', 'algorithms'), 69],
 [('let', 'us', 'know'), 69],
 [('proud', 'Equal', 'Opportunity'), 68],
 [('veteran', 'status', 'disability'), 68],
 [('learning', 'artificial', 'intelligence'), 67],
 [('national', 'origin', 'disability'), 67],
 [('due', 'disability', 'please'), 66],
 [('employer', 'All', 'qualified'), 66],
 [('Computer', 'Science', 'related'), 66],
 [('machine', 'learning', 'artificial'), 65],
 [('please', 'let', 'us'), 65],
 [('orientation', 'gender', 'gender'), 64],
 [('data', 'science', 'team'), 64],
 [('disability', 'please', 'let'), 64],
 [('employment', 'qualified', 'applicants'), 63],
 [('consider', 'employment', 'qualified'), 63],
 [('Northwest', 'National', 'Laboratory'), 63],
 [('National', 'Laboratory', 'PNNL'), 63],
 [('Pacific', 'Northwest', 'National'), 63],
 [('applicable', 'federal', 'state'), 63],
 [('genetic', 'information', 'marital'), 62],
 [('science', 'machine', 'learning'), 62],
 [('providing', 'reasonable', 'accommodations'), 62],
 [('information', 'marital', 'status'), 62],
 [('disability', 'veteran', 'status'), 61],
 [('reasonable', 'accommodations', 'candidates'), 61],
 [('national', 'origin', 'age'), 61],
 [('Affirmative', 'Action', 'employer'), 61],
 [('applicable', 'legally', 'protected'), 60],
 [('years', 'related', 'experience'), 60],
 [('histories', 'consistent', 'applicable'), 60],
 [('national', 'origin', 'sex'), 60],
 [('Action', 'employer', 'We'), 60],
 [('based', 'upon', 'race'), 60],
 [('discriminate', 'based', 'upon'), 60],
 [('status', 'individual', 'disability'), 60],
 [('disabilities', 'recruiting', 'process'), 60],
 [('committed', 'providing', 'reasonable'), 60],
 [('ways', 'share', 'matters'), 59],
 [('give', 'people', 'power'), 59],
 [('world', 'gives', 'ways'), 59],
 [('global', 'teams', 'constantly'), 59],
 [('Our', 'global', 'teams'), 59],
 [('helps', 'bring', 'people'), 59],
 [('build', 'community', 'connect'), 59],
 [('age', 'status', 'protected'), 59],
 [('company', 'connects', 'billions'), 59],
 [('people', 'closer', 'together'), 59],
 [('teams', 'constantly', 'iterating'), 59],
 [('people', 'build', 'stronger'), 59],
 [('building', 'different', 'kind'), 59],
 [('them', 'helps', 'bring'), 59],
 [('billions', 'people', 'around'), 59],
 [('around', 'world', 'build'), 59],
 [('were', 'building', 'different'), 59],
 [('new', 'products', 'helping'), 59],
 [('pregnancy', 'childbirth', 'related'), 59],
 [('Facebooks', 'mission', 'give'), 59],
 [('sex', 'national', 'origin'), 59],
 [('mission', 'give', 'people'), 59],
 [('closer', 'together', 'Through'), 59],
 [('heart', 'Our', 'global'), 59],
 [('world', 'build', 'community'), 59],
 [('Facebook', 'builders', 'heart'), 59],
 [('builders', 'heart', 'Our'), 59],
 [('products', 'helping', 'small'), 59],
 [('reach', 'people', 'Facebook'), 59],
 [('bring', 'world', 'closer'), 59],
 [('together', 'Through', 'family'), 59],
 [('meaningful', 'ways', 'Together'), 59],
 [('closer', 'together', 'Whether'), 59],
 [('share', 'matters', 'them'), 59],
 [('community', 'bring', 'world'), 59],
 [('Through', 'family', 'apps'), 59],
 [('together', 'Whether', 'were'), 59],
 [('problems', 'working', 'together'), 59],
 [('world', 'closer', 'together'), 59],
 [('expand', 'reach', 'people'), 59],
 [('Together', 'help', 'people'), 59],
 [('connects', 'billions', 'people'), 59],
 [('kind', 'company', 'connects'), 59],
 [('apps', 'services', 'were'), 59],
 [('services', 'were', 'building'), 59],
 [('build', 'community', 'bring'), 59],
 [('constantly', 'iterating', 'solving'), 59],
 [('were', 'creating', 'new'), 59],
 [('people', 'power', 'build'), 59],
 [('community', 'connect', 'meaningful'), 59],
 [('iterating', 'solving', 'problems'), 59],
 [('small', 'business', 'expand'), 59],
 [('together', 'empower', 'people'), 59],
 [('help', 'people', 'build'), 59],
 [('bring', 'people', 'closer'), 59],
 [('different', 'kind', 'company'), 59],
 [('helping', 'small', 'business'), 59],
 [('were', 'getting', 'started'), 59],
 [('childbirth', 'related', 'medical'), 59],
 [('empower', 'people', 'around'), 59],
 [('business', 'expand', 'reach'), 59],
 [('people', 'Facebook', 'builders'), 59],
 [('gives', 'ways', 'share'), 59],
 [('related', 'medical', 'conditions'), 59],
 [('working', 'together', 'empower'), 59],
 [('build', 'stronger', 'communities'), 59],
 [('power', 'build', 'community'), 59],
 [('connect', 'meaningful', 'ways'), 59],
 [('creating', 'new', 'products'), 59],
 [('solving', 'problems', 'working'), 59],
 [('Whether', 'were', 'creating'), 59],
 [('family', 'apps', 'services'), 59],
 [('matters', 'them', 'helps'), 59],
 [('around', 'world', 'gives'), 59],
 [('opportunity', 'employer', 'All'), 59],
 [('ways', 'Together', 'help'), 59],
 [('process', 'If', 'need'), 58],
 [('expression', 'transgender', 'status'), 58],
 [('disability', 'applicable', 'legally'), 58],
 [('protected', 'characteristics', 'We'), 58],
 [('status', 'sexual', 'stereotypes'), 58],
 [('us', 'know', 'accommodationsextfbcom'), 58],
 [('sexual', 'stereotypes', 'age'), 58],
 [('individual', 'disability', 'applicable'), 58],
 [('upon', 'race', 'religion'), 58],
 [('accommodations', 'due', 'disability'), 58],
 [('stereotypes', 'age', 'status'), 58],
 [('conditions', 'sexual', 'orientation'), 58],
 [('characteristics', 'We', 'also'), 58],
 [('medical', 'conditions', 'sexual'), 58],
 [('recruiting', 'process', 'If'), 58],
 [('assistance', 'accommodations', 'due'), 58],
 [('candidates', 'disabilities', 'recruiting'), 58],
 [('gender', 'expression', 'transgender'), 58],
 [('age', 'veteran', 'status'), 58],
 [('written', 'verbal', 'communication'), 58],
 [('origin', 'sex', 'including'), 58],
 [('need', 'assistance', 'accommodations'), 58],
 [('accommodations', 'candidates', 'disabilities'), 58],
 [('veteran', 'status', 'individual'), 58],
 [('Facebook', 'proud', 'Equal'), 58],
 [('including', 'pregnancy', 'childbirth'), 58],
 [('transgender', 'status', 'sexual'), 58],
 [('consistent', 'applicable', 'federal'), 58],
 [('religion', 'sex', 'national'), 57],
 [('Data', 'Scientist', 'join'), 57],
 [('national', 'origin', 'gender'), 56],
 [('This', 'position', 'requires'), 56],
 [('pregnancy', 'sexual', 'orientation'), 56],
 [('status', 'sexual', 'orientation'), 55],
 [('Science', 'related', 'field'), 54],
 [('data', 'science', 'machine'), 54],
 [('local', 'lawFacebook', 'committed'), 54],
 [('data', 'science', 'projects'), 54],
 [('state', 'local', 'lawFacebook'), 54],
 [('lawFacebook', 'committed', 'providing'), 54],
 [('characteristic', 'protected', 'law'), 53],
 [('The', 'ideal', 'candidate'), 53],
 [('Lead', 'Data', 'Scientist'), 53],
 [('veteran', 'status', 'protected'), 52],
 [('looking', 'Data', 'Scientist'), 52],
 [('national', 'origin', 'citizenship'), 51],
 [('identity', 'sexual', 'orientation'), 51],
 [('verbal', 'communication', 'skills'), 51],
 [('expression', 'genetic', 'information'), 51],
 [('data', 'science', 'techniques'), 51],
 [('machine', 'learning', 'statistical'), 51],
 [('Natural', 'Language', 'Processing'), 50],
 [('Computer', 'Science', 'Statistics'), 50],
 [('gender', 'identity', 'sexual'), 50],
 [('years', 'industry', 'experience'), 50],
 [('Science', 'Computer', 'Science'), 49],
 [('Statistics', 'Data', 'Science'), 48],
 [('large', 'volumes', 'data'), 48],
 [('team', 'data', 'scientists'), 48],
 [('machine', 'learning', 'data'), 48],
 [('The', 'Data', 'Scientist'), 48],
 [('learning', 'deep', 'learning'), 47],
 [('advanced', 'statistical', 'techniques'), 46],
 [('Equal', 'Opportunity', 'Employer'), 46],
 [('machine', 'learning', 'deep'), 46],
 [('junior', 'data', 'scientists'), 46],
 [('expression', 'sexual', 'orientation'), 46],
 [('Science', 'Machine', 'Learning'), 46],
 [('For', 'information', 'visit'), 45],
 [('degree', 'Computer', 'Science'), 45],
 [('data', 'science', 'solutions'), 45],
 [('requirements', 'access', 'classified'), 45],
 [('color', 'religion', 'gender'), 45],
 [('machine', 'learning', 'approaches'), 45],
 [('1', 'year', 'experience'), 44],
 [('eligibility', 'requirements', 'access'), 44],
 [('meet', 'eligibility', 'requirements'), 44],
 [('applying', 'machine', 'learning'), 44],
 [('Data', 'Science', 'Computer'), 44],
 [('proud', 'equal', 'opportunity'), 44],
 [('every', 'day', 'We'), 43],
 [('years', 'experience', 'working'), 43],
 [('identity', 'expression', 'sexual'), 43],
 [('Directorate', 'National', 'Security'), 42],
 [('foreign', 'government', 'talent'), 42],
 [('data', 'advanced', 'analytic'), 42],
 [('12', 'consecutive', 'months'), 42],
 [('illegal', 'drugs', 'including'), 42],
 [('including', 'marijuana', '12'), 42],
 [('nonuse', 'illegal', 'drugs'), 42],
 [('marijuana', '12', 'consecutive'), 42],
 [('statistics', 'machine', 'learning'), 42],
 [('Group', 'Data', 'Sciences'), 42],
 [('drugs', 'including', 'marijuana'), 42],
 [('The', 'Senior', 'Data'), 42],
 [('National', 'Security', 'Directorate'), 42],
 [('must', 'able', 'demonstrate'), 42],
 [('government', 'talent', 'recruitment'), 42],
 [('statistical', 'machine', 'learning'), 42],
 [('advanced', 'analytic', 'solutions'), 42],
 [('4', 'years', 'experience'), 42],
 [('Amazon', 'Web', 'Services'), 41],
 [('volumes', 'complex', 'data'), 41],
 [('written', 'communication', 'skills'), 41],
 [('Fair', 'Chance', 'Ordinance'), 40],
 [('high', 'volumes', 'complex'), 40],
 [('complex', 'data', 'advanced'), 40],
 [('transform', 'high', 'volumes'), 40],
 [('religion', 'gender', 'gender'), 39],
 [('age', 'marital', 'status'), 39],
 [('national', 'origin', 'genetics'), 39],
 [('learning', 'natural', 'language'), 39],
 [('multiple', 'data', 'sources'), 39],
 [('disability', 'age', 'veteran'), 39],
 [('state', 'local', 'law'), 38],
 [('applicants', 'arrest', 'conviction'), 38],
 [('arrest', 'conviction', 'records'), 38],
 [('qualified', 'applicants', 'arrest'), 38],
 [('Applicants', 'selected', 'subject'), 38],
 [('data', 'scientists', 'engineers'), 38],
 [('equal', 'employment', 'opportunity'), 38],
 [('solve', 'business', 'problems'), 38],
 [('Proven', 'track', 'record'), 37],
 [('experience', 'data', 'science'), 37],
 [('Weekly', 'Hours', '40'), 37],
 [('junior', 'team', 'members'), 37],
 [('complex', 'business', 'problems'), 37],
 [('Equal', 'Employment', 'Opportunity'), 37],
 [('analysis', 'technology', 'transform'), 36],
 [('data', 'machine', 'learning'), 36],
 [('We', 'looking', 'Data'), 36],
 [('Equal', 'OpportunityAffirmative', 'Action'), 36],
 [('technology', 'transform', 'high'), 36],
 [('business', 'analysis', 'technology'), 36],
 [('Data', 'Scientist', 'work'), 36],
 [('Oncology', 'Data', 'Science'), 36],
 [('Scheduled', 'Weekly', 'Hours'), 35],
 [('Microsoft', 'Search', 'Bing'), 35],
 [('The', 'successful', 'candidate'), 35],
 [('without', 'regard', 'sex'), 35],
 [('religion', 'sex', 'including'), 34],
 [('origin', 'gender', 'gender'), 34],
 [('Machine', 'Learning', 'models'), 34],
 [('qualified', 'applicants', 'regardless'), 34],
 [('age', 'characteristic', 'protected'), 34],
 [('legally', 'protected', 'status'), 33],
 [('computer', 'science', 'engineering'), 33],
 [('verbal', 'written', 'communication'), 33],
 [('status', 'age', 'characteristic'), 33],
 [('age', 'disability', 'veteran'), 32],
 [('Python', 'R', 'Experience'), 32],
 [('Chance', 'Ordinance', 'consider'), 32],
 [('Ordinance', 'consider', 'employment'), 32],
 [('challenge', 'status', 'quo'), 32],
 [('Engineering', 'Computer', 'Science'), 32],
 [('proud', 'Equal', 'OpportunityAffirmative'), 32],
 [('origin', 'disability', 'veteran'), 32],
 [('would', 'like', 'request'), 32],
 [('origin', 'citizenship', 'status'), 32],
 [('The', 'MITRE', 'Corporation'), 32],
 [('religion', 'sex', 'sexual'), 32],
 [('written', 'oral', 'communication'), 32],
 [('machine', 'learning', 'methods'), 32],
 [('Francisco', 'Fair', 'Chance'), 31],
 [('San', 'Francisco', 'Fair'), 31],
 [('diverse', 'inclusive', 'workplace'), 31],
 [('problem', 'solving', 'skills'), 31],
 [('data', 'mining', 'techniques'), 31],
 [('provides', 'equal', 'employment'), 31],
 [('origin', 'age', 'disability'), 31],
 [('mining', 'machine', 'learning'), 31],
 [('status', 'characteristic', 'protected'), 31],
 [('language', 'Python', 'R'), 31],
 [('Employer', 'All', 'qualified'), 31],
 [('artificial', 'intelligence', 'machine'), 31],
 [('intelligence', 'machine', 'learning'), 31],
 [('mathematics', 'statistics', 'modeling'), 30],
 [('Data', 'Scientist', 'responsible'), 30],
 [('making', 'decisions', 'without'), 30],
 [('data', 'mining', 'machine'), 30],
 [('We', 'proud', 'Equal'), 30],
 [('Computer', 'Science', 'Machine'), 30],
 [('communication', 'skills', 'ability'), 30],
 [('identity', 'national', 'origin'), 30],
 [('accommodation', 'due', 'disability'), 30],
 [('Data', 'Scientist', 'within'), 30],
 [('regardless', 'criminal', 'histories'), 30],
 [('applicants', 'regardless', 'criminal'), 30],
 [('decisions', 'without', 'regard'), 30],
 [('gender', 'identity', 'national'), 30],
 [('status', 'physical', 'mental'), 30],
 [('Strong', 'programming', 'skills'), 30],
 [('predictive', 'modeling', 'data'), 30],
 [('current', 'machine', 'learning'), 30],
 [('PhD', 'degree', 'preferred'), 30],
 [('7', 'years', 'experience'), 29],
 [('least', 'one', 'programming'), 29],
 [('exploratory', 'data', 'analysis'), 29],
 [('Information', 'This', 'position'), 29],
 [('discriminate', 'basis', 'race'), 29],
 [('Opportunity', 'Employer', 'All'), 29],
 [('Mathematics', 'related', 'field'), 29],
 [('analysis', 'data', 'mining'), 29],
 [('veteran', 'status', 'characteristic'), 29],
 [('Computer', 'Science', 'Math'), 29],
 [('status', 'disability', 'status'), 29],
 [('one', 'programming', 'language'), 29],
 [('gender', 'sexual', 'orientation'), 29],
 [('sexual', 'orientation', 'age'), 29],
 [('sex', 'pregnancy', 'sexual'), 29],
 [('using', 'advanced', 'statistical'), 29],
 [('religion', 'national', 'origin'), 29],
 [('advanced', 'data', 'mining'), 29],
 [('characteristic', 'protected', 'applicable'), 29],
 [('Strong', 'communication', 'skills'), 29],
 [('solve', 'complex', 'problems'), 29],
 [('team', 'made', 'strong'), 28],
 [('podcasts', 'streaming', 'TV'), 28],
 [('machine', 'learning', 'optimization'), 28],
 [('colleagues', 'passionate', 'work'), 28],
 [('gender', 'identity', 'genetic'), 28],
 [('And', 'companies', 'advertisers'), 28],
 [('listen', 'take', 'action'), 28],
 [('move', 'industry', 'forward'), 28],
 [('forward', 'Whether', 'fresh'), 28],
 [('degree', 'Statistics', 'Data'), 28],
 [('deep', 'learning', 'frameworks'), 28],
 [('qualified', 'individuals', 'disabilities'), 28],
 [('As', 'arbiter', 'truth'), 28],
 [('using', 'machine', 'learning'), 28],
 [('Media', 'fuels', 'media'), 28],
 [('enjoy', 'working', 'smart'), 28],
 [('identity', 'genetic', 'information'), 28],
 [('smart', 'fun', 'curious'), 28],
 [('media', 'industry', 'unbiased'), 28],
 [('unbiased', 'reliable', 'data'), 28],
 [('action', 'Our', 'team'), 28],
 [('thoughts', 'experiences', 'skills'), 28],
 [('Our', 'people', 'driving'), 28],
 [('new', 'technology', 'see'), 28],
 [('real', 'world', 'problems'), 28],
 [('health', 'life', 'sciences'), 28],
 [('force', 'Your', 'thoughts'), 28],
 [('marital', 'status', 'medical'), 28],
 [('across', 'channels', 'platformsfrom'), 28],
 [('propel', 'us', 'forward'), 28],
 [('audiences', 'accelerate', 'growth'), 28],
 [('Our', 'team', 'made'), 28],
 [('listen', 'to', 'To'), 28],
 [('to', 'To', 'discover'), 28],
 [('Nielsen', 'Our', 'people'), 28],
 [('Do', 'want', 'move'), 28],
 [('reasonable', 'accommodations', 'qualified'), 28],
 [('watch', 'listen', 'to'), 28],
 [('people', 'watch', 'listen'), 28],
 [('passionate', 'work', 'Come'), 28],
 [('religion', 'creed', 'gender'), 28],
 [('curious', 'colleagues', 'passionate'), 28],
 [('fresh', 'thinking', 'around'), 28],
 [('ideas', 'expertise', 'propel'), 28],
 [('see', 'gap', 'market'), 28],
 [('us', 'forward', 'Whether'), 28],
 [('motivates', 'best', 'work'), 28],
 [('diversity', 'thoughts', 'experiences'), 28],
 [('driving', 'force', 'Your'), 28],
 [('Job', 'Description', 'Summary'), 28],
 [('made', 'strong', 'diversity'), 28],
 [('technology', 'see', 'gap'), 28],
 [('origin', 'sexual', 'orientation'), 28],
 [('status', 'medical', 'condition'), 28],
 [('people', 'driving', 'force'), 28],
 [('industry', 'forward', 'Nielsen'), 28],
 [('whats', 'true', 'measure'), 28],
 [('want', 'move', 'industry'), 28],
 [('expertise', 'propel', 'us'), 28],
 [('channels', 'platformsfrom', 'podcasts'), 28],
 [('thinking', 'around', 'maximizing'), 28],
 [('Youll', 'enjoy', 'working'), 28],
 [('consistent', 'legal', 'requirements'), 28],
 [('fuels', 'media', 'industry'), 28],
 [('team', 'motivates', 'best'), 28],
 [('forward', 'Nielsen', 'Our'), 28],
 [('data', 'people', 'watch'), 28],
 [('armed', 'truth', 'deeper'), 28],
 [('experiences', 'skills', 'backgrounds'), 28],
 [('Your', 'thoughts', 'ideas'), 28],
 [('histories', 'consistent', 'legal'), 28],
 [('measure', 'across', 'channels'), 28],
 [('thoughts', 'ideas', 'expertise'), 28],
 [('social', 'media', 'And'), 28],
 [('reliable', 'data', 'people'), 28],
 [('To', 'discover', 'whats'), 28],
 [('national', 'origin', 'sexual'), 28],
 [('maximizing', 'new', 'technology'), 28],
 [('market', 'listen', 'take'), 28],
 [('platformsfrom', 'podcasts', 'streaming'), 28],
 [('streaming', 'TV', 'social'), 28],
 [('work', 'Come', 'part'), 28],
 [('deeper', 'understanding', 'audiences'), 28],
 [('Whether', 'fresh', 'thinking'), 28],
 [('truth', 'Nielsen', 'Global'), 28],
 [('companies', 'advertisers', 'armed'), 28],
 [('true', 'measure', 'across'), 28],
 [('Nielsen', 'Global', 'Media'), 28],

In [20]:
createIndicators(gramCounts,descriptions,df,20)

In [21]:
df

,Unnamed: 0,Unnamed: 0.1,Country,Description,Glassdoor Salary Estimate,Position_clean,Unnamed: 0.1.1,base_pay,bonus_pay,cash_bonus,...,"(qualified, applicants, receive)","(protected, veteran, status)","(All, qualified, applicants)","(natural, language, processing)","(gender, gender, identity)","(2, years, experience)","(color, national, origin)","(people, around, world)","(color, religion, sex)","(Senior, Data, Scientist)"
0,0,0,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
1,1,1,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
2,2,2,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
3,3,3,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
4,4,4,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
5,5,5,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
6,6,6,US,Facebook's mission is to give people the power...,185365.0,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
7,7,7,US,Facebook's mission is to give people the power...,NaN,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
8,8,8,US,Facebook's mission is to give people the power...,161785.0,Data Scientist,1,198153.22,19650.00,19650.00,...,0,1,0,0,1,1,1,1,0,0
9,9,9,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
10,10,10,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
11,11,11,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
12,12,12,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
13,13,13,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
14,14,14,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
15,15,15,US,Facebook's mission is to give people the power...,185365.0,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
16,16,16,US,Facebook's mission is to give people the power...,NaN,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,0,1,1,0,0
17,17,17,US,Facebook's mission is to give people the power...,161785.0,Data Scientist,1190,198153.22,19650.00,19650.00,...,0,1,0,0,1,1,1,1,0,0
18,18,18,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,0,1,1,0,0
19,19,19,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,0,1,1,0,0
20,20,20,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,0,1,1,0,0
21,21,21,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,0,1,1,0,0
22,22,22,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,0,1,1,0,0
23,23,23,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,0,1,1,0,0
24,24,24,US,Facebook's mission is to give people the power...,185365.0,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,0,1,1,0,0
25,25,25,US,Facebook's mission is to give people the power...,NaN,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,0,1,1,0,0
26,26,26,US,Facebook's mission is to give people the power...,161785.0,Data Scientist,3875,119891.20,NaN,NaN,...,0,1,0,0,1,1,1,1,0,0
27,27,27,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,4405,160303.39,16001.65,16001.65,...,0,1,0,0,1,0,1,1,0,0
28,28,28,US,Facebook's mission is to give people the power...,193225.0,Data Scientist,4405,160303.39,16001.65,16001.65,...,0,1,0,0,1,0,1,1,0,0
29,29,29,US,Facebook's mission is to give people the power...,184055.0,Data Scientist,4405,160303.39,16001.65,16001.65,...,0,1,0,0,1,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,824,92,UK,"Do you have expertise in, and passion for Medi...",NaN,Lead Data Scientist,742,129630.00,129630.00,16530.00,...,0,0,0,0,0,0,0,0,0,0
825,825,93,UK,The AI and Analytics team within AstraZeneca’s...,NaN,Lead Data Scientist,742,129630.00,129630.00,16530.00,...,0,0,0,0,0,0,0,0,0,0
826,826,94,UK,"Do you have expertise in, and passion for Medi...",NaN,Lead Data Scientist,742,129630.00,129630.00,16530.00,...,0,0,0,0,0,0,0,0,0,0
827,827,95,UK,The AI and Analytics team within AstraZeneca’s...,NaN,Lead Data Scientist,742,129630.00,129630.00,16530.00,...,0,0,0,0,0,0,0,0,0,0
828,828,96,UK,"Do you have expertise in, and passion for Medi...",NaN,Lead Data Scientist,742,129630.00,129630.00,16530.00,...,0,0,0,0,0,0,0,0,0,0
829,829,97,UK,Senior Data Scientist\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Senior Data Scientist,792,68730.00,68730.00,NaN,...,0,0,0,0,0,0,0,0,0,1
830,830,98,UK,Senior Data Scientist\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Senior Data Scientist,792,68730.00,68730.00,NaN,...,0,0,0,0,0,0,0,0,0,1
831,831,99,UK,Senior Data Scientist\r\r\r\r\r\nLocation:\r\r...,NaN,Senior Data Scientist,792,68730.00,68730.00,NaN,...,0,0,0,0,0,0,0,0,0,1
832,832,0,CA,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\n...,NaN,Data Scientist Intern,8,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
833,833,1,CA,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\n...,NaN,Data Scientist Intern,294,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
834,834,2,CA,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\n...,NaN,Data Scientist Intern,387,26.00,26.00,NaN,...,0,0,0,1,0,0,0,0,0,0
835,835,3,CA,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\n...,NaN,Data Scientist Intern,388,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
836,836,4,CA,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\n...,NaN,Data Scientist Intern,389,NaN,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
837,837,5,CA,How do you imagine life at an insurance compan...,NaN,Data Scientist,17,29.00,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
838,838,6,CA,Who we are:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Data Scientist,28,80235.00,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
839,839,7,CA,Who we are:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Data Scientist,28,80235.00,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
840,840,8,CA,Create awesome experiences for our customers.\...,NaN,Data Scientist,34,101500.00,101500.00,15000.00,...,0,0,0,0,0,0,0,0,0,0
841,841,9,CA,As a Data Scientist with the B2B Systems Trans...,NaN,Data Scientist,34,101500.00,101500.00,15000.00,...,0,0,0,0,0,0,0,0,0,0
842,842,10,CA,Data and Analytics Quantitative Analyst 315730...,NaN,Data Scientist,45,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
843,843,11,CA,Company Profile\r\r\r\r\r\r\r\nMorgan Stanley ...,NaN,Data Scientist,45,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
844,844,12,CA,Data and Analytics Quantitative Analyst 315730...,NaN,Data Scientist,108,147000.00,147000.00,NaN,...,0,0,0,0,0,1,0,0,0,0
845,845,13,CA,Company Profile\r\r\r\r\r\r\r\nMorgan Stanley ...,NaN,Data Scientist,108,147000.00,147000.00,NaN,...,0,0,0,0,0,1,0,0,0,0
846,846,14,CA,Would you like to work in a fully Agile enviro...,NaN,Data Scientist,55,112500.00,112500.00,10500.00,...,0,0,0,0,0,0,1,0,0,0
847,847,15,CA,"Design, develop, test, advocate, evangelize an...",NaN,Data Scientist,219,5000.00,5000.00,NaN,...,0,0,0,1,0,0,0,0,0,0
848,848,16,CA,About Cerebri AI\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,Data Scientist,219,5000.00,5000.00,NaN,...,0,0,0,1,0,0,0,0,0,0
849,849,17,CA,Hiring Manager: Sébastien Bernard\r\r\r\r\r\r\...,NaN,Senior Data Scientist,299,93500.00,93500.00,55000.00,...,0,0,0,1,0,0,0,0,0,0
850,850,18,CA,How do you imagine life at an insurance compan...,NaN,Senior Data Scientist,299,93500.00,93500.00,55000.00,...,0,0,0,1,0,0,0,0,0,0
851,851,19,CA,#IntactCareers\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,Senior Data Scientist,299,93500.00,93500.00,55000.00,...,0,0,0,1,0,0,0,0,0,0
852,852,20,CA,** FUTURE OPPORTUNITY **\r\r\r\r\r\r\r\r\r\r\r...,NaN,Senior Data Scientist,300,104000.00,104000.00,3500.00,...,0,0,0,0,0,0,0,0,0,0
853,853,21,CA,Have you ever wondered about the future of act...,NaN,Senior Data Scientist,300,104000.00,104000.00,3500.00,...,0,0,0,0,0,1,0,0,0,0

In [22]:
df.to_csv('../../../data/clean_data/salaries_descriptions_locations_gramcounts.csv')

# Language Analysis

This code was used to analyze the importance of dealing with french words or droppign them. It was found that there was very few strictly french descriptions that were droppable.

In [14]:
grams,descriptions = box_of_words(df,1)

In [15]:
from langdetect import detect
from langdetect import detect_langs

In [16]:
description = descriptions[3]
words = ''
for i in range(len(description)):
    words += ' ' + description[i][0]

In [17]:
count = 0
indexes = []
for description in descriptions:
    words = ''
    for i in range(len(description)):
        words += ' ' + description[i][0]
    langs = detect_langs(words)
    if len(langs)>1:
        indexes.append(count)
    count += 1
print(len(indexes))

28

In [18]:
count = 0
indexes = []
for description in descriptions:
    words = ''
    for i in range(len(description)):
        words += ' ' + description[i][0]
    lang = detect(words)
    if lang == 'fr':
        indexes.append(count)
    count += 1
print(len(indexes))

68

In [19]:
indexes

[109,
 195,
 248,
 257,
 295,
 306,
 307,
 314,
 315,
 318,
 319,
 320,
 322,
 325,
 326,
 329,
 332,
 334,
 369,
 389,
 394,
 396,
 400,
 629,
 633,
 636,
 642,
 644,
 660,
 667,
 668,
 669,
 670,
 695,
 696,
 697,
 698,
 705,
 707,
 708,
 715,
 726,
 741,
 758,
 764,
 772,
 790,
 793,
 794,
 801,
 821,
 823,
 831,
 931,
 949,
 958,
 988,
 1002,
 1009,
 1010,
 1017,
 1031,
 1035,
 1039,
 1040,
 1041,
 1073,
 1078]

In [47]:
dist = []
count = 0
for index in indexes:
    count += 1
    print(count)
    french = 0
    english = 0
    for word in descriptions[index]:
        if not word[0].isnumeric():
            lang = detect(word[0])
            if lang == 'en':
                english == 1
            elif lang == 'fr':
                french += 1
    dist.append([english,french])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68

In [48]:
dist

[[0, 281],
 [0, 108],
 [0, 257],
 [0, 281],
 [0, 153],
 [0, 111],
 [0, 266],
 [0, 8],
 [0, 168],
 [0, 212],
 [0, 104],
 [0, 183],
 [0, 107],
 [0, 100],
 [0, 170],
 [0, 45],
 [0, 189],
 [0, 259],
 [0, 268],
 [0, 277],
 [0, 208],
 [0, 264],
 [0, 247],
 [0, 282],
 [0, 8],
 [0, 139],
 [0, 267],
 [0, 208],
 [0, 252],
 [0, 268],
 [0, 171],
 [0, 165],
 [0, 252],
 [0, 107],
 [0, 213],
 [0, 109],
 [0, 422],
 [0, 257],
 [0, 185],
 [0, 106],
 [0, 103],
 [0, 43],
 [0, 216],
 [0, 112],
 [0, 257],
 [0, 236],
 [0, 123],
 [0, 135],
 [0, 267],
 [0, 272],
 [0, 201],
 [0, 182],
 [0, 180],
 [0, 115],
 [0, 231],
 [0, 139],
 [0, 269],
 [0, 248],
 [0, 261],
 [0, 319],
 [0, 188],
 [0, 187],
 [0, 110],
 [0, 112],
 [0, 319],
 [0, 111],
 [0, 152],
 [0, 181]]

In [31]:
df2 = df[df['index'].isin(indexes)]

In [32]:
df2

,index,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,Size,Type,Year Founded
109,109,Balcan Plastics Inc,Les Plastiques Balcan compte parmi les chefs d...,NaN,NaN,Montreal,"Analyste de données, prévision de ventes / Sal...",NaN,NaN,NaN,NaN,NaN,NaN
195,195,adMare BioInnovations,About adMare BioInnovations:\r\r\r\r\r\r\r\r\n...,NaN,NaN,Montreal,Senior Scientist - Cell Biology,3.4,Less than $1 million (USD),NaN,Unknown,Company - Private,NaN
248,248,Thales,"Location: Quebec City, CanadaDans des marchés ...",NaN,Aerospace & Defense,Quebec,Optimization Operational Research Scientist,3.8,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,2000.0
257,257,Square Enix Montréal,// English version will follow...//\r\r\r\r\r\...,NaN,Video Games,Montreal,Analyste de données en chef / Lead Data Analyst,3.5,Unknown / Non-Applicable,Media,1001 to 5000 Employees,Company - Public,1975.0
295,295,agileDSS,Nous sommes à la recherche d’un(e) Data Engine...,NaN,IT Services,Montreal,Data Engineer / Data Analyst,4.4,$10 to $25 million (USD),Information Technology,51 to 200 Employees,Company - Private,2005.0
306,306,Ardene,WHO WE ARE:\r\r\r\r\nArdene is the ultimate va...,NaN,"Department, Clothing, & Shoe Stores",Saint-Laurent,Digital Data Analyst / Analyste de données num...,3.2,Unknown / Non-Applicable,Retail,1001 to 5000 Employees,Company - Private,1982.0
307,307,ODESIA,Description\r\r\r\r\nRôle d'analyste de donnée...,NaN,Consulting,Montreal,Data Analyst - BI Environment,5.0,$5 to $10 million (USD),Business Services,51 to 200 Employees,Company - Private,NaN
314,314,ZeniMax Media Inc.,Your Privacy:\r\r\r\r\nZeniMax understands the...,NaN,Video Games,Montreal,Spécialiste en Analyse des données / Data Analyst,3.8,Unknown / Non-Applicable,Media,201 to 500 Employees,Company - Private,1999.0
315,315,PLB International inc,"At PLB, the Data Analyst and Demand Planning, ...",NaN,Consumer Products Manufacturing,Boucherville,"Demand Planner, Data Analyst",3.9,$25 to $50 million (USD),Manufacturing,51 to 200 Employees,Company - Private,1969.0
318,318,Square Enix Montreal,// ENGLISH VERSION WILL FOLLOW ...//\r\r\r\r\n...,NaN,Video Games,Montreal,Analyste de données / Data Analyst,3.5,Unknown / Non-Applicable,Media,1001 to 5000 Employees,Company - Public,1975.0
319,319,Nuagem inc.,SOMMAIRE :\r\r\r\r\n\r\r\r\r\nL'analyste Fonct...,NaN,NaN,Boucherville,SAP master Data Analyst,NaN,Less than $1 million (USD),NaN,1 to 50 Employees,Company - Private,NaN
320,320,Quebec en Mexico,Job description\r\r\r\r\nWith its 200 passiona...,NaN,NaN,Quebec,Croesus - Data analyst,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Government,NaN
322,322,Quebec en Mexico,Description de l'emploi\r\r\r\r\nConseiller – ...,NaN,NaN,Quebec,Solution BI - Data Analyst,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Government,NaN
325,325,Bethesda Game Studios,Overview\r\r\r\r\nBethesda Game Studios recher...,NaN,Video Games,Montreal,Spécialiste en Analyse des données / Data Analyst,3.6,$5 to $10 million (USD),Media,51 to 200 Employees,Subsidiary or Business Segment,NaN
326,326,Tundra,Job description:\r\r\r\r\n\r\r\r\r\nProvide da...,NaN,Staffing & Outsourcing,Montreal,Data Analyst 3 (contract),3.4,Unknown / Non-Applicable,Business Services,201 to 500 Employees,Company - Private,2004.0
329,329,Nvizzio Creations,Description de l'entreprise\r\r\r\r\nDepuis 20...,NaN,NaN,Montreal,MARKETING DATA ANALYST -FR,4.6,Less than $1 million (USD),NaN,51 to 200 Employees,Contract,NaN
332,332,CAE,Role and Responsibilities\r\r\r\nJob Descripti...,NaN,Aerospace & Defense,Montreal,Analyste de données de l’expérience client /Cu...,3.8,$2 to $5 billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1947.0
334,334,CAE Inc.,Role and Responsibilities\r\r\r\nAnalyste des ...,NaN,Aerospace & Defense,Saint-Laurent,Analyste des données / Data Analyst,3.8,$2 to $5 billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1947.0
369,369,"Thales Digital Solutions Inc., Research & Tech...","Location: Quebec City, Canada\r\r\nDans des ma...",NaN,NaN,Quebec,Optimization Operational Research Scientist,NaN,NaN,NaN,NaN,NaN,NaN
389,389,Unity Technologies,The Technology organization is seeking a Senio...,NaN,Computer Hardware & Software,Montreal,Senior Data Scientist/Scientifique de données ...,4.9,Unknown / Non-Applicable,Information Technology,1001 to 5000 Employees,Company - Private,2005.0
394,394,"Thales Canada Inc., Guavus","Location: Montreal, Canada\r\r\r\r\r\r\r\r\r\r...",NaN,NaN,Montreal,Senior Data Engineer,NaN,NaN,NaN,NaN,NaN,NaN
396,396,"Thales Canada Inc., Guavus","Location: Montreal, Canada\r\r\r\r\r\r\r\r\r\r...",NaN,NaN,Montreal,"Senior Manager, Data Engineering",NaN,NaN,NaN,NaN,NaN,NaN
400,400,"Thales Digital Solutions Inc., Research & Tech...","Location: Quebec City, Canada\r\r\r\r\r\r\r\r\...",NaN,NaN,Quebec,Optimization Operational Research Scientist,NaN,NaN,NaN,NaN,NaN,NaN
629,629,ODESIA,Description\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Consulting,Montreal,Data Analyst - BI Environment,5.0,$5 to $10 million (USD),Business Services,51 to 200 Employees,Company - Private,NaN
633,633,Procom,Ingénieur de données\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,Staffing & Outsourcing,Montreal,Ingénieur de données / Data Engineer - 298695,4.6,$1 to $2 billion (USD),Business Services,5001 to 10000 Employees,Company - Private,1978.0
636,636,Ardene,WHO WE ARE:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,"Department, Clothing, & Shoe Stores",Saint-Laurent,Digital Data Analyst / Analyste de données num...,3.2,Unknown / Non-Applicable,Retail,1001 to 5000 Employees,Company - Private,1982.0
642,642,Unity Technologies,The Technology organization is seeking a Senio...,NaN,Computer Hardware & Software,Montreal,Senior Data Scientist/Scientifique de données ...,4.9,Unknown / Non-Applicable,Information Technology,1001 to 5000 Employees,Company - Private,2005.0
644,644,adMare BioInnovations,About adMare BioInnovations:\r\r\r\r\r\r\r\r\r...,NaN,NaN,Montreal,Senior Scientist - Cell Biology,3.4,Less than $1 million (USD),NaN,Unknown,Company - Private,NaN
660,660,CAE Inc.,Role and Responsibilities\r\r\r\r\r\r\r\r\r\r\...,NaN,Aerospace & Defense,Saint-Laurent,Analyste des données / Data Analyst,3.8,$2 to $5 billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1947.0
667,667,Bethesda Game Studios,Overview\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,Video Games,Montreal,Spécialiste en Analyse des données / Data Analyst,3.6,$5 to $10 million (USD),Media,51 to 200 Employees,Subsidiary or Business Segment,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,707,Quebec en Mexico,Job description\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,NaN,Quebec,Croesus - Data analyst,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Government,NaN
708,708,Quebec en Mexico,Description de l'emploi\r\r\r\r\r\r\r\r\r\r\r\...,NaN,NaN,Quebec,Solution BI - Data Analyst,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Government,NaN
715,715,Tundra,Job description:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,Staffing & Outsourcing,Montreal,Data Analyst 3 (contract),3.4,Unknown / Non-Applicable,Business Services,201 to 500 Employees,Company - Private,2004.0
726,726,Element AI,English version below\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,IT Services,Toronto,"Chercheuse/Chercheur scientifique, recherche a...",3.6,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,Company - Private,2016.0
741,741,Balcan Plastics Inc,Les Plastiques Balcan compte parmi les chefs d...,NaN,NaN,Montreal,"Analyste de données, prévision de ventes / Sal...",NaN,NaN,NaN,NaN,NaN,NaN
758,758,Plotly,(Français à suivre)\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,NaN,Montreal,Senior DevOps Engineer / Développeur DevOps sé...,4.7,Less than $1 million (USD),NaN,1 to 50 Employees,Company - Private,NaN
764,764,NanoXplore,"NanoXplore est une entreprise de graphène, un ...",NaN,NaN,Montreal,Chercheur scientifique – Batterie / Research S...,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Company - Private,NaN
772,772,Services Conseils IntelliSoft inc.,Rôle et Responsabilités:\r\r\r\r\r\r\r\r\r\r\r...,NaN,NaN,Montreal,Data Scientist,NaN,Less than $1 million (USD),NaN,Unknown,Company - Private,NaN
790,790,EXFO,Sommaire du poste\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Telecommunications Services,Canada,Principal Research Scientist / Chercheur(euse)...,3.5,$100 to $500 million (USD),Telecommunications,1001 to 5000 Employees,Company - Public,1985.0
793,793,Boeing,Senior Software Solution Developer\r\r\r\r\r\r...,NaN,Aerospace & Defense,Montreal,Senior Software Solution Developer,3.7,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1916.0
794,794,Boeing,Senior DevOps SysOps Specialist\r\r\r\r\r\r\r\...,NaN,Aerospace & Defense,Montreal,Senior DevOps SysOps Specialist,3.7,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1916.0
801,801,GenAIz,"GenAIz, une division d'Uni3T, est une jeune et...",NaN,NaN,Montreal,Développeur senior Node.js/Senior Node.js Deve...,NaN,NaN,NaN,NaN,NaN,NaN
821,821,AT&T,Xandr operates one of the largest Online Adver...,NaN,Telecommunications Services,Montreal,"Senior Software Engineer II, Team Lead - Bidde...",3.5,$10+ billion (USD),Telecommunications,10000+ Employees,Company - Public,1983.0
823,823,Xandr,Xandr operates one of the largest Online Adver...,NaN,Advertising & Marketing,Montreal,"Senior Software Engineer II, Team Lead - Bidde...",3.7,Unknown / Non-Applicable,Business Services,1001 to 5000 Employees,Company - Public,2018.0
831,831,Eidos Montreal,// English version will follow //\r\r\r\r\r\r\...,NaN,Video Games,Montreal,Data Scientist,3.7,$25 to $50 million (USD),Media,201 to 500 Employees,Company - Public,NaN
931,931,Unity Technologies,The Montreal Monetization team is looking for ...,NaN,Computer Hardware & Software,Montreal,Senior Machine Learning Developer / Développeu...,4.9,Unknown / Non-Applicable,Information Technology,1001 to 5000 Employees,Company - Private,2005.0
949,949,Nuchem,Position: Research Associate or Scientist - Ch...,NaN,NaN,Saint-Laurent,"Research Scientist, Scientist/Associé(e) de re...",NaN,NaN,NaN,NaN,NaN,NaN
958,958,Unity Technologies,We are looking for a Product Manager to join o...,NaN,Computer Hardware & Software,Montreal,Senior Product Manager- Operate Services- Frau...,4.9,Unknown / Non-Applicable,Information Technology,1001 to 5000 Employees,Company - Private,2005.0
988,988,Thales,"Location: Quebec City, CanadaDans des marchés ...",NaN,Aerospace & Defense,Quebec,Optimization Operational Research Scientist,3.8,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,2000.0
1002,1002,Thales,"Location: Montreal, CanadaDans des marchés en ...",NaN,Aerospace & Defense,Montreal,"Senior Manager, Data Engineering",3.8,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,2000.0
1009,1009,Thales,"Location: Montreal, CanadaDans des marchés en ...",NaN,Aerospace & Defense,Montreal,Senior Data Engineer,3.8,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,2000.0
1010,1010,CAE,Role and Responsibilities\r\r\r\r\r\r\r\r\r\r\...,NaN,Aerospace & Defense,Montreal,Scientifique des données / Data Scientist,3.8,$2 to $5 billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1947.0
1017,1017,Nvizzio Creations,Description de l'entreprise\r\r\r\r\r\r\r\r\r\...,NaN,NaN,Montreal,MARKETING DATA ANALYST -FR,4.6,Less than $1 million (USD),NaN,51 to 200 Employees,Contract,NaN
1031,1031,Element AI,English version below\r\r\r\r\r\r\r\r\r\n\r\r\...,NaN,IT Services,Montreal,"Chercheuse/Chercheur scientifique, recherche a...",3.6,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,Company - Private,2016.0
1035,1035,agileDSS,Nous sommes à la recherche d’un(e) Data Engine...,NaN,IT Services,Montreal,Data Engineer / Data Analyst,4.4,$10 to $25 million (USD),Information Technology,51 to 200 Employees,Company - Private,2005.0
1039,1039,Square Enix Co.,// English version will follow //\r\r\r\r\r\r\...,NaN,Video Games,Montreal,Scientifique de Données / Data Scientist,3.5,Unknown / Non-Applicable,Media,1001 to 5000 Employees,Company - Public,1975.0
1040,1040,Slalom LLC.,*English will follow*\r\r\r\r\r\r\r\r\r\n\r\r\...,NaN,Consulting,Montreal,Data Scientist (Cloud technology) / Scientifiq...,4.1,$1 to $2 billion (USD),Business Services,1001 to 5000 Employees,Company - Private,2001.0
1041,1041,Eidos Montréal,// English version will follow //\r\r\r\r\r\r\...,NaN,Video Games,Montreal,Scientifique de Données / Data Scientist,3.7,$25 to $50 million (USD),Media,201 to 500 Employees,Company - Public,NaN
1073,1073,Square Enix Montreal,// English version will follow...//\r\r\r\r\r\...,NaN,Video Games,Montreal,Analyste de données en chef / Lead Data Analyst,3.5,Unknown / Non-Applicable,Media,1001 to 5000 Employees,Company - Public,1975.0
1078,1078,Nuance,Nuance est à la fois précurseur et leader dans...,NaN,Computer Hardware & Software,Montreal,Chercheur Scientifique Senior - NLU - Senior R...,3.7,$1 to $2 billion (USD),Information Technology,5001 to 10000 Employees,Company - Public,1992.0

In [33]:
df3 = pd.read_csv('../../../data/clean_data/salaries_ca.csv')

,Unnamed: 0,company,position,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus
0,0,Capital One,Data Scientist,76883,73000,125000,76883.0,5885.0,5885.0,3272.0
1,1,RBC,Data Scientist,90000,55000,135000,90000.0,12589.0,11983.0,3147.0
2,2,Scotiabank,Data Scientist,96176,74000,103000,96176.0,10051.0,10051.0,3327.0
3,3,TD,Data Scientist,79473,50000,129000,79473.0,6062.0,6062.0,2393.0
4,4,Banque Nationale du Canada/National Bank of Ca...,Data Scientist,74945,71000,90000,74945.0,5045.0,5045.0,1536.0
5,5,Loblaw Companies,Data Scientist,90000,12000,107000,90000.0,9000.0,10008.0,5000.0
6,6,Shopify,Data Scientist,95489,85000,115000,95489.0,NaN,NaN,32840.0
7,7,Bell Canada,Data Scientist,80501,66000,108000,80501.0,11442.0,11442.0,NaN
8,8,RBC,Data Scientist - Hourly Intern,56160,43680,62400,NaN,NaN,NaN,NaN
9,9,IBM,Data Scientist,85187,71000,87000,85187.0,509.0,509.0,NaN
10,10,Rogers Communications,Data Scientist,91429,70000,121000,91429.0,16989.0,16989.0,18956.0
11,11,Deloitte,Data Scientist,70052,61000,90000,70052.0,6.0,6.0,NaN
12,12,Boeing,Data Scientist,100253,74000,108000,100253.0,3147.0,3147.0,NaN
13,13,Intact,Data Scientist - Hourly Intern,60320,45760,68640,NaN,NaN,NaN,NaN
14,14,Stradigi AI,Data Scientist,75110,70000,82000,75110.0,NaN,NaN,NaN
15,15,Scotiabank,Data Scientist - Intern,63171,57000,82000,NaN,NaN,NaN,NaN
16,16,HSBC Holdings,Data Scientist - Hourly Intern,62400,62400,68640,NaN,NaN,NaN,NaN
17,17,Intact,Data Scientist,82500,76000,87000,29.0,NaN,NaN,NaN
18,18,ATB Financial,Data Scientist,80872,70000,115000,80872.0,5000.0,5000.0,NaN
19,19,AeroInfo Systems,Data Scientist,81545,79000,99000,81545.0,5981.0,5981.0,NaN
20,20,CIBC,Data Scientist - Hourly Intern,56160,43680,62400,NaN,NaN,NaN,NaN
21,21,University of British Columbia,Data Scientist,76000,41000,80000,76000.0,NaN,NaN,NaN
22,22,Shopify,Data Scientist - Hourly Intern,76960,64480,85280,NaN,NaN,NaN,NaN
23,23,Ericsson-Worldwide,Data Scientist,137112,67000,181000,137112.0,25.0,NaN,25.0
24,24,LoyaltyOne,Data Scientist,92921,74000,97000,92921.0,11306.0,11306.0,NaN
25,25,Aviva Canada,Data Scientist,97276,69000,115000,97276.0,16500.0,16500.0,NaN
26,26,Thomson Reuters,Data Scientist - Hourly Intern,83200,72800,83200,NaN,NaN,NaN,NaN
27,27,Boston Consulting Group,Data Scientist,130000,100000,130000,130000.0,32500.0,32500.0,8000.0
28,28,Geotab,Data Scientist,80235,65000,95000,80235.0,NaN,NaN,NaN
29,29,Precima,Data Scientist,80117,80000,85000,80117.0,4103.0,4103.0,NaN
...,...,...,...,...,...,...,...,...,...,...
371,371,CIBC,Data Scientist Co-op - Intern,47000,45000,49000,NaN,NaN,NaN,NaN
372,372,CIBC,Data Scientist Co-op - Hourly Intern,58240,56160,60320,NaN,NaN,NaN,NaN
373,373,IBM,Data Scientist Co-op - Hourly Intern,52000,49920,54080,NaN,NaN,NaN,NaN
374,374,KPMG,Data Scientist Co-op - Intern,49000,47000,51000,NaN,NaN,NaN,NaN
375,375,Shopify,Data Scientist Co-op,70500,68000,73000,71000.0,71000.0,495.0,NaN
376,376,Ontario Ministère des Transports,Data Scientist Co-op,36000,35000,37000,36000.0,36000.0,NaN,NaN
377,377,Statistics Canada,Data Scientist Co-op - Hourly Contractor,43680,43680,45760,NaN,NaN,NaN,NaN
378,378,Unilever,Data Scientist Co-op - Hourly,45760,43680,47840,45760.0,45760.0,NaN,NaN
379,379,BioWare,Data Scientist Co-op - Intern,48000,46000,50000,NaN,NaN,NaN,NaN
380,380,FGF Brands,Data Scientist Co-op - Hourly Intern,43680,41600,45760,NaN,NaN,NaN,NaN
381,381,Precima,Data Scientist Co-op - Hourly Intern,66560,64480,68640,NaN,NaN,NaN,NaN
382,382,Ayogo Health,Data Scientist Co-op - Monthly Intern,4000,4000,4000,NaN,NaN,NaN,NaN
383,383,Samplits,Data Scientist Co-op - Monthly Intern,919,888,950,NaN,NaN,NaN,NaN
384,384,Buyavette,Data Scientist Co-op - Hourly,45760,43680,47840,45760.0,45760.0,2000.0,NaN
385,385,IATA,Head of Data Science,178000,173000,183000,179000.0,179000.0,NaN,NaN
386,386,IBM,Data Scientist/Software Engineer - Hourly Intern,54080,52000,58240,NaN,NaN,NaN,NaN
387,387,RBC,Data Scientist Coop,54000,52000,56000,26.0,26.0,NaN,NaN
388,388,RBC,Data Scientist Coop - Hourly Intern,52000,52000,54080,NaN,NaN,NaN,NaN
389,389,RBC,Data Scientist Coop - Intern,54500,52000,57000,NaN,NaN,NaN,NaN
390,390,Scotiabank,Data Scientist Coop - Intern,82000,79000,85000,NaN,NaN,NaN,NaN
391,391,CIBC,Data Scientist Coop,48000,46000,50000,48000.0,48000.0,NaN,NaN
392,392,University of Victoria,Data Scientist Coop,39500,38000,41000,39500.0,39500.0,NaN,NaN
393,393,Fraser Health,Data Scientist Coop - Hourly,43680,41600,45760,43680.0,43680.0,NaN,NaN
394,394,Athabasca University,Manager - Data Science,101000,97000,105000,99000.0,99000.0,9000.0,NaN
395,395,Athabasca University,Manager - Data Science,100500,96000,105000,99500.0,99500.0,9000.0,NaN
396,396,Major cannabis company,Manager - Data Science,94500,91000,98000,NaN,NaN,NaN,NaN
397,397,goeasy,Sr Manager Data Science,134500,129000,140000,135500.0,135500.0,15500.0,NaN
398,398,EMAGIN Clean Technologies,Data Science Lead - Hourly,104000,99840,108160,104000.0,104000.0,NaN,NaN
399,399,Capital One,Senior Associate Data Science,88000,85000,91000,87000.0,87000.0,10500.0,NaN
400,400,Softchoice,Data Science and Analytics - Intern,47000,45000,49000,NaN,NaN,NaN,NaN

In [35]:
finaldf = pd.merge(df2, df3, left_on='Company', right_on='company')

In [36]:
finaldf

,index,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,...,Unnamed: 0,company,position,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus
0,793,Boeing,Senior Software Solution Developer\r\r\r\r\r\r...,NaN,Aerospace & Defense,Montreal,Senior Software Solution Developer,3.7,$10+ billion (USD),Aerospace & Defense,...,12,Boeing,Data Scientist,100253,74000,108000,100253.0,3147.0,3147.0,NaN
1,794,Boeing,Senior DevOps SysOps Specialist\r\r\r\r\r\r\r\...,NaN,Aerospace & Defense,Montreal,Senior DevOps SysOps Specialist,3.7,$10+ billion (USD),Aerospace & Defense,...,12,Boeing,Data Scientist,100253,74000,108000,100253.0,3147.0,3147.0,NaN