In [1]:
import pandas as pd
import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import re

[nltk_data] Downloading package stopwords to C:\Users\Jack
[nltk_data]     Ellis\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
df = pd.read_csv(r'..\..\..\data\raw_data\jack_canada.csv',encoding='utf-8')

In [8]:
stpwords = stopwords.words('english') + stopwords.words('french')
stpwords.append('')
print(stpwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", 'au', 'aux', 'avec', 'ce', 'ces', 'dans', 'de', 'des', 'du', 'elle', 'en', 'et', 'eux', 'il', 'ils', 'je', 'la', 'le', 'les', 'leur', 'lui', 'ma', 'mais', 'me', 'même', 'mes', 'moi', 'mon', 'ne', 'nos', 'notre', 'nous', 'on', 'ou', 'par', 'pas', 'pour', 'qu', 'que', 'qui', 'sa', 'se', 'ses', 'son', 'sur', 'ta', 'te', 'tes', 'toi', 'ton', 'tu', 'un', 'une', 'vos', 'votre', 'vous', 'c', 'd', 'j', 'l', 'à', 'm', 'n', 's', 't', 'y', 'été', 'étée', 'étées', 'étés', 'étant', 'étante', 'étants', 'étantes', 'suis', 'es', 'est', 'sommes', 'êtes', 'sont', 'serai', 'seras', 'sera', 'serons', 'serez', 'seront', 'serais', 'serait', 'serions', 'seriez', 'seraient', 'étais', 'était', 'étions', 'étiez', 'étaient', 'fus', 'fut', 'fûmes', 'fûtes', 'furent', 'sois', 'soit', 'soyons', 'soyez', 'soient', 'fusse', 'fusses', 'fût', 'fussions', 'fussiez', 'fussent', 'ayant', 'ayante', 'ayantes', 'ayants', 'eu', 'eue', 'eues', 'eus', 'ai', 'as', 'avons', 'avez', 'ont', 'aurai', 'auras', 'aura', 'aurons', 'aurez', 'auront', 'aurais', 'aurait', 'aurions', 'auriez', 'auraient', 'avais', 'avait', 'avions', 'aviez', 'avaient', 'eut', 'eûmes', 'eûtes', 'eurent', 'aie', 'aies', 'ait', 'ayons', 'ayez', 'aient', 'eusse', 'eusses', 'eût', 'eussions', 'eussiez', 'eussent', '']

# N-Grams

In [9]:
from nltk import ngrams

In [10]:
def box_of_words(df,n):

    allDescriptions = []
    allGrams = []

    count = 0
    for description in df.Description: 
        sentences = description.split('\n')
        grams = []
        
        allTokens = []
        for sentence in sentences:
            tokens = sentence.split(' ')
            tokens_without_sw = [word for word in tokens if not word in stpwords]
            allTokens += tokens_without_sw
        
        finalTokens = []
        for i in range(len(allTokens)):
            cleanWord = re.sub('[\W_]+', '', allTokens[i])
            finalTokens.append(cleanWord)
        
        grams = list(ngrams(finalTokens, n))
        _ = ''
        
        grams = [gram for gram in grams if _ not in gram]
        
        allDescriptions.append(grams)
        allGrams += grams
        
    allGrams = list(dict.fromkeys(allGrams))
    
    return (allGrams,allDescriptions)

def getGramCounts(grams,descriptions):
    allDescriptionsBOW = {i:0 for i in grams}
    
    for description in descriptions:
        for gram in description:
            allDescriptionsBOW[gram] += 1
    
    keys = list(allDescriptionsBOW.keys())
    values = list(allDescriptionsBOW.values())

    myList = []
    for i in range(len(keys)):
        myList.append([keys[i],values[i]])
    myList = sorted(myList,key=lambda l:l[1], reverse=True)
    
    return myList

def createIndicators(grams,descriptions,df,numGrams):
    
    for i in range(numGrams):
        
        gram = grams[i][0]
        
        newColoumValues = []
        for description in descriptions:
            if gram in description:
                newColoumValues.append(1)
            else:
                newColoumValues.append(0)
        
        df[gram] = newColoumValues

In [11]:
grams,descriptions = box_of_words(df,2)

In [12]:
gramCounts = getGramCounts(grams,descriptions)

In [13]:
gramCounts

[[('machine', 'learning'), 785],
 [('Data', 'Analyst'), 682],
 [('years', 'experience'), 571],
 [('communication', 'skills'), 470],
 [('data', 'science'), 447],
 [('data', 'analysis'), 384],
 [('Computer', 'Science'), 374],
 [('data', 'sets'), 340],
 [('team', 'members'), 338],
 [('2', 'years'), 314],
 [('Data', 'Scientist'), 307],
 [('5', 'years'), 291],
 [('best', 'practices'), 261],
 [('Experience', 'working'), 252],
 [('Data', 'Science'), 251],
 [('data', 'scientists'), 248],
 [('Machine', 'Learning'), 242],
 [('equal', 'opportunity'), 241],
 [('data', 'analytics'), 236],
 [('3', 'years'), 229],
 [('data', 'sources'), 228],
 [('data', 'quality'), 217],
 [('related', 'field'), 204],
 [('opportunity', 'employer'), 203],
 [('work', 'environment'), 196],
 [('Ability', 'work'), 194],
 [('attention', 'detail'), 193],
 [('data', 'management'), 187],
 [('We', 'looking'), 179],
 [('experience', 'working'), 174],
 [('sexual', 'orientation'), 173],
 [('data', 'visualization'), 173],
 [('skills', 'ability'), 172],
 [('Bachelors', 'degree'), 170],
 [('experience', 'data'), 165],
 [('data', 'mining'), 165],
 [('This', 'role'), 165],
 [('internal', 'external'), 164],
 [('large', 'data'), 162],
 [('This', 'position'), 159],
 [('ability', 'work'), 159],
 [('successful', 'candidate'), 158],
 [('big', 'data'), 154],
 [('problem', 'solving'), 149],
 [('project', 'management'), 149],
 [('The', 'successful'), 149],
 [('interpersonal', 'skills'), 147],
 [('work', 'experience'), 146],
 [('Power', 'BI'), 141],
 [('national', 'origin'), 138],
 [('business', 'intelligence'), 138],
 [('work', 'independently'), 135],
 [('management', 'skills'), 134],
 [('statistical', 'analysis'), 133],
 [('We', 'believe'), 133],
 [('business', 'problems'), 132],
 [('written', 'communication'), 131],
 [('complex', 'data'), 130],
 [('Senior', 'Data'), 129],
 [('join', 'team'), 125],
 [('recruitment', 'process'), 124],
 [('cover', 'letter'), 124],
 [('software', 'development'), 124],
 [('Job', 'Description'), 123],
 [('business', 'needs'), 122],
 [('computer', 'science'), 122],
 [('around', 'world'), 121],
 [('gender', 'identity'), 121],
 [('ideal', 'candidate'), 120],
 [('years', 'relevant'), 118],
 [('data', 'models'), 118],
 [('decision', 'making'), 118],
 [('analytical', 'skills'), 117],
 [('data', 'collection'), 116],
 [('The', 'Data'), 114],
 [('selected', 'interview'), 111],
 [('Experience', 'data'), 110],
 [('relevant', 'experience'), 108],
 [('health', 'care'), 108],
 [('deep', 'learning'), 107],
 [('advanced', 'analytics'), 107],
 [('Strong', 'knowledge'), 106],
 [('considered', 'asset'), 106],
 [('data', 'analyst'), 106],
 [('verbal', 'written'), 106],
 [('fastpaced', 'environment'), 105],
 [('Our', 'team'), 104],
 [('programming', 'languages'), 103],
 [('Python', 'R'), 103],
 [('learning', 'models'), 102],
 [('work', 'closely'), 101],
 [('problemsolving', 'skills'), 100],
 [('written', 'verbal'), 100],
 [('actionable', 'insights'), 100],
 [('Business', 'Intelligence'), 99],
 [('track', 'record'), 98],
 [('time', 'management'), 96],
 [('business', 'requirements'), 96],
 [('product', 'development'), 96],
 [('team', 'player'), 94],
 [('help', 'us'), 93],
 [('team', 'environment'), 93],
 [('every', 'day'), 93],
 [('veteran', 'status'), 91],
 [('visualization', 'tools'), 91],
 [('The', 'ideal'), 91],
 [('SQL', 'Server'), 91],
 [('skills', 'including'), 90],
 [('data', 'warehouse'), 90],
 [('selection', 'process'), 90],
 [('organizational', 'skills'), 90],
 [('Research', 'Scientist'), 90],
 [('Work', 'remotely'), 89],
 [('race', 'color'), 89],
 [('degree', 'Computer'), 88],
 [('We', 'thank'), 88],
 [('You', 'work'), 88],
 [('4', 'years'), 87],
 [('We', 'offer'), 86],
 [('Work', 'closely'), 86],
 [('new', 'technologies'), 85],
 [('qualified', 'applicants'), 85],
 [('skills', 'Ability'), 85],
 [('Excellent', 'communication'), 85],
 [('part', 'team'), 84],
 [('Experience', 'using'), 84],
 [('industry', 'experience'), 83],
 [('Microsoft', 'Office'), 83],
 [('limited', 'to'), 83],
 [('using', 'data'), 82],
 [('require', 'accommodation'), 82],
 [('Types', 'Fulltime'), 82],
 [('complex', 'problems'), 82],
 [('Job', 'Types'), 82],
 [('Big', 'Data'), 82],
 [('1', '2'), 81],
 [('committed', 'providing'), 81],
 [('Demonstrated', 'ability'), 81],
 [('experience', 'using'), 80],
 [('without', 'regard'), 79],
 [('orientation', 'gender'), 79],
 [('across', 'multiple'), 79],
 [('applicants', 'interest'), 79],
 [('Masters', 'degree'), 79],
 [('customer', 'service'), 79],
 [('The', 'candidate'), 78],
 [('wide', 'range'), 78],
 [('In', 'addition'), 78],
 [('thank', 'applicants'), 78],
 [('interview', 'contacted'), 78],
 [('upon', 'request'), 78],
 [('color', 'religion'), 77],
 [('You', 'experience'), 77],
 [('Key', 'Responsibilities'), 77],
 [('Working', 'knowledge'), 77],
 [('Data', 'Scientists'), 76],
 [('The', 'role'), 75],
 [('ad', 'hoc'), 75],
 [('per', 'year'), 75],
 [('customer', 'experience'), 75],
 [('deep', 'understanding'), 75],
 [('reporting', 'tools'), 74],
 [('high', 'quality'), 74],
 [('What', 'Youll'), 74],
 [('verbal', 'communication'), 73],
 [('business', 'decisions'), 72],
 [('We', 'work'), 72],
 [('Analyst', 'join'), 72],
 [('solving', 'skills'), 72],
 [('Strong', 'communication'), 71],
 [('business', 'stakeholders'), 71],
 [('Were', 'looking'), 71],
 [('learning', 'algorithms'), 70],
 [('analysis', 'data'), 70],
 [('Strong', 'analytical'), 70],
 [('asset', 'Experience'), 70],
 [('As', 'Senior'), 70],
 [('R', 'Python'), 70],
 [('We', 'currently'), 69],
 [('use', 'data'), 69],
 [('people', 'disabilities'), 69],
 [('business', 'units'), 69],
 [('artificial', 'intelligence'), 68],
 [('meet', 'deadlines'), 68],
 [('For', 'information'), 68],
 [('In', 'role'), 67],
 [('8', 'hour'), 67],
 [('career', 'opportunities'), 67],
 [('etc', 'Experience'), 67],
 [('Google', 'Cloud'), 67],
 [('Monday', 'Friday'), 67],
 [('As', 'part'), 67],
 [('experience', 'developing'), 66],
 [('persons', 'disabilities'), 66],
 [('please', 'visit'), 66],
 [('A', 'minimum'), 66],
 [('1', 'year'), 66],
 [('financial', 'services'), 66],
 [('benefits', 'package'), 66],
 [('master', 'data'), 66],
 [('solve', 'problems'), 66],
 [('presentation', 'skills'), 66],
 [('meet', 'needs'), 66],
 [('Bachelors', 'Degree'), 66],
 [('Data', 'Management'), 66],
 [('learn', 'new'), 65],
 [('Analytics', 'team'), 65],
 [('Excellent', 'written'), 65],
 [('subject', 'matter'), 65],
 [('opportunity', 'work'), 65],
 [('analyze', 'data'), 65],
 [('Schedule', '8'), 65],
 [('software', 'engineering'), 65],
 [('process', 'please'), 64],
 [('We', 'committed'), 64],
 [('least', 'one'), 64],
 [('technical', 'nontechnical'), 64],
 [('Ability', 'communicate'), 64],
 [('If', 'require'), 64],
 [('regard', 'race'), 64],
 [('quantitative', 'field'), 63],
 [('use', 'cases'), 63],
 [('large', 'datasets'), 63],
 [('relational', 'databases'), 63],
 [('experience', 'Data'), 63],
 [('critical', 'thinking'), 63],
 [('predictive', 'models'), 62],
 [('remotely', 'Yes'), 62],
 [('At', 'least'), 62],
 [('hour', 'shift'), 62],
 [('The', 'Senior'), 62],
 [('external', 'stakeholders'), 62],
 [('religion', 'sex'), 61],
 [('knowledge', 'experience'), 61],
 [('We', 'want'), 61],
 [('like', 'you'), 61],
 [('innovative', 'solutions'), 61],
 [('hiring', 'process'), 61],
 [('oral', 'written'), 61],
 [('statistical', 'methods'), 60],
 [('multiple', 'projects'), 60],
 [('research', 'projects'), 60],
 [('Master', 'Data'), 59],
 [('understand', 'business'), 59],
 [('medical', 'dental'), 59],
 [('data', 'visualizations'), 59],
 [('Scientist', 'join'), 59],
 [('quality', 'control'), 58],
 [('SQL', 'queries'), 58],
 [('learning', 'techniques'), 58],
 [('We', 'also'), 58],
 [('working', 'large'), 58],
 [('candidates', 'selected'), 58],
 [('development', 'team'), 58],
 [('Please', 'note'), 58],
 [('including', 'limited'), 58],
 [('one', 'Canadas'), 58],
 [('data', 'processing'), 58],
 [('As', 'Data'), 58],
 [('unstructured', 'data'), 58],
 [('large', 'scale'), 58],
 [('We', 'seeking'), 57],
 [('ans', 'dexpérience'), 57],
 [('Statistics', 'Mathematics'), 57],
 [('looking', 'Data'), 57],
 [('Human', 'Resources'), 57],
 [('drive', 'business'), 57],
 [('able', 'work'), 56],
 [('SQL', 'Python'), 56],
 [('Artificial', 'Intelligence'), 56],
 [('business', 'value'), 56],
 [('crossfunctional', 'teams'), 56],
 [('analysis', 'reporting'), 56],
 [('Demonstrated', 'experience'), 56],
 [('Previous', 'experience'), 55],
 [('data', 'structures'), 55],
 [('Extended', 'health'), 55],
 [('Experience', 'developing'), 55],
 [('ensure', 'data'), 55],
 [('across', 'organization'), 55],
 [('skills', 'Strong'), 55],
 [('marital', 'status'), 55],
 [('skills', 'Experience'), 55],
 [('please', 'contact'), 55],
 [('reporting', 'data'), 54],
 [('Extensive', 'experience'), 54],
 [('predictive', 'modeling'), 54],
 [('data', 'engineering'), 54],
 [('data', 'various'), 54],
 [('data', 'driven'), 54],
 [('using', 'statistical'), 54],
 [('team', 'data'), 54],
 [('new', 'data'), 54],
 [('Accommodations', 'available'), 54],
 [('great', 'people'), 54],
 [('data', 'modeling'), 54],
 [('Experience', 'building'), 53],
 [('Deep', 'Learning'), 53],
 [('Job', 'Type'), 53],
 [('receive', 'consideration'), 53],
 [('Strong', 'understanding'), 53],
 [('Additional', 'Information'), 53],
 [('design', 'implementation'), 53],
 [('years', 'working'), 53],
 [('MS', 'Office'), 53],
 [('Mathematics', 'Statistics'), 53],
 [('written', 'oral'), 53],
 [('applicants', 'receive'), 53],
 [('duties', 'assigned'), 53],
 [('knowledge', 'SQL'), 52],
 [('due', 'COVID19'), 52],
 [('Science', 'Engineering'), 52],
 [('skills', 'Excellent'), 52],
 [('Dental', 'care'), 52],
 [('7', 'years'), 52],
 [('Google', 'Analytics'), 52],
 [('new', 'products'), 52],
 [('professional', 'development'), 52],
 [('collaborative', 'environment'), 52],
 [('working', 'together'), 52],
 [('35', 'years'), 52],
 [('time', 'series'), 51],
 [('Fulltime', 'Permanent'), 51],
 [('languages', 'Python'), 51],
 [('process', 'If'), 51],
 [('design', 'development'), 51],
 [('years', 'Preferred'), 51],
 [('tools', 'like'), 51],
 [('product', 'managers'), 51],
 [('would', 'asset'), 51],
 [('Data', 'Analysis'), 51],
 [('interest', 'however'), 51],
 [('work', 'Canada'), 51],
 [('programming', 'language'), 51],
 [('diverse', 'inclusive'), 50],
 [('data', 'governance'), 50],
 [('University', 'degree'), 50],
 [('qualified', 'candidates'), 50],
 [('work', 'team'), 50],
 [('business', 'objectives'), 50],
 [('Supply', 'Chain'), 50],
 [('data', 'pipelines'), 50],
 [('As', 'member'), 50],
 [('data', 'scientist'), 50],
 [('Natural', 'Language'), 49],
 [('new', 'ways'), 49],
 [('hear', 'you'), 49],
 [('related', 'discipline'), 49],
 [('North', 'America'), 49],
 [('using', 'SQL'), 49],
 [('across', 'Canada'), 49],
 [('work', 'collaboratively'), 49],
 [('data', 'products'), 49],
 [('flexible', 'work'), 49],
 [('join', 'us'), 49],
 [('high', 'level'), 49],
 [('applicants', 'disabilities'), 49],
 [('available', 'upon'), 49],
 [('next', 'generation'), 49],
 [('looking', 'for'), 49],
 [('develop', 'new'), 48],
 [('temporarily', 'due'), 48],
 [('core', 'values'), 48],
 [('Risk', 'Data'), 48],
 [('love', 'hear'), 48],
 [('data', 'manipulation'), 48],
 [('data', 'systems'), 48],
 [('employment', 'without'), 48],
 [('equivalent', 'experience'), 48],
 [('analyze', 'interpret'), 48],
 [('dental', 'vision'), 48],
 [('Develop', 'maintain'), 48],
 [('new', 'ideas'), 48],
 [('within', 'team'), 48],
 [('analytics', 'solutions'), 48],
 [('identify', 'opportunities'), 48],
 [('wide', 'variety'), 47],
 [('including', 'ability'), 47],
 [('data', 'using'), 47],
 [('data', 'information'), 47],
 [('large', 'complex'), 47],
 [('Data', 'Engineer'), 47],
 [('application', 'process'), 47],
 [('Vancouver', 'BC'), 47],
 [('Our', 'mission'), 47],
 [('development', 'experience'), 47],
 [('comfortable', 'working'), 47],
 [('Equal', 'Opportunity'), 47],
 [('All', 'qualified'), 47],
 [('Yes', 'temporarily'), 47],
 [('Job', 'ID'), 47],
 [('were', 'looking'), 47],
 [('knowledge', 'data'), 46],
 [('key', 'stakeholders'), 46],
 [('education', 'experience'), 46],
 [('change', 'management'), 46],
 [('oral', 'communication'), 46],
 [('business', 'processes'), 46],
 [('New', 'York'), 46],
 [('continuous', 'improvement'), 46],
 [('timely', 'manner'), 46],
 [('personal', 'information'), 46],
 [('key', 'role'), 46],
 [('To', 'apply'), 46],
 [('supply', 'chain'), 46],
 [('experience', 'Experience'), 45],
 [('10', 'years'), 45],
 [('Solid', 'understanding'), 45],
 [('2', 'ans'), 45],
 [('working', 'data'), 45],
 [('French', 'English'), 45],
 [('research', 'development'), 45],
 [('broad', 'range'), 45],
 [('Other', 'duties'), 45],
 [('project', 'team'), 45],
 [('data', 'data'), 45],
 [('diversity', 'inclusion'), 45],
 [('understanding', 'business'), 45],
 [('business', 'insights'), 45],
 [('engineers', 'data'), 45],
 [('statistical', 'techniques'), 45],
 [('cutting', 'edge'), 45],
 [('work', 'fastpaced'), 45],
 [('work', 'effectively'), 45],
 [('development', 'implementation'), 45],
 [('The', 'position'), 44],
 [('ability', 'communicate'), 44],
 [('You', 'also'), 44],
 [('help', 'customers'), 44],
 [('business', 'partners'), 44],
 [('Full', 'Time'), 44],
 [('analytics', 'tools'), 44],
 [('About', 'Us'), 44],
 [('report', 'writing'), 44],
 [('structured', 'unstructured'), 44],
 [('working', 'closely'), 44],
 [('request', 'candidates'), 44],
 [('To', 'learn'), 44],
 [('consideration', 'employment'), 44],
 [('Science', 'team'), 44],
 [('Excellent', 'interpersonal'), 44],
 [('employer', 'We'), 44],
 [('user', 'experience'), 44],
 [('highly', 'motivated'), 44],
 [('seeking', 'Data'), 44],
 [('competitive', 'compensation'), 44],
 [('Design', 'develop'), 44],
 [('Who', 'are'), 44],
 [('analyzing', 'data'), 44],
 [('What', 'You'), 44],
 [('Science', 'related'), 43],
 [('work', 'hard'), 43],
 [('We', 'provide'), 43],
 [('Language', 'Processing'), 43],
 [('diverse', 'team'), 43],
 [('multidisciplinary', 'team'), 43],
 [('Opportunity', 'Employer'), 43],
 [('time', 'off'), 43],
 [('thinking', 'skills'), 43],
 [('related', 'experience'), 43],
 [('health', 'safety'), 43],
 [('amounts', 'data'), 43],
 [('development', 'data'), 43],
 [('fast', 'paced'), 43],
 [('We', 'welcome'), 43],
 [('looking', 'someone'), 42],
 [('end', 'users'), 42],
 [('tools', 'Tableau'), 42],
 [('committed', 'creating'), 42],
 [('Casual', 'dress'), 42],
 [('various', 'data'), 42],
 [('currently', 'seeking'), 42],
 [('cloud', 'computing'), 42],
 [('encourage', 'applications'), 42],
 [('The', 'Role'), 42],
 [('business', 'process'), 42],
 [('communicate', 'effectively'), 42],
 [('identity', 'expression'), 42],
 [('quality', 'data'), 42],
 [('however', 'candidates'), 42],
 [('Project', 'Management'), 42],
 [('work', 'home'), 42],
 [('competitive', 'salary'), 41],
 [('sounds', 'like'), 41],
 [('value', 'diversity'), 41],
 [('support', 'business'), 41],
 [('data', 'integrity'), 41],
 [('problem', 'solver'), 41],
 [('inclusive', 'environment'), 41],
 [('senior', 'management'), 41],
 [('business', 'acumen'), 41],
 [('research', 'experience'), 41],
 [('Science', 'Statistics'), 41],
 [('Preferred', 'Qualifications'), 41],
 [('Senior', 'Software'), 41],
 [('products', 'services'), 41],
 [('Software', 'Engineering'), 41],
 [('Database', 'Developer'), 41],
 [('new', 'product'), 41],
 [('data', 'preparation'), 41],
 [('variety', 'data'), 41],
 [('working', 'knowledge'), 41],
 [('race', 'religion'), 41],
 [('team', 'We'), 41],
 [('candidates', 'taking'), 40],
 [('data', 'solutions'), 40],
 [('The', 'ability'), 40],
 [('public', 'health'), 40],
 [('Data', 'Insights'), 40],
 [('taking', 'part'), 40],
 [('large', 'amounts'), 40],
 [('Statistics', 'Computer'), 40],
 [('analytics', 'data'), 40],
 [('work', 'meet'), 40],
 [('Data', 'Engineering'), 40],
 [('code', 'reviews'), 40],
 [('complex', 'technical'), 40],
 [('database', 'design'), 40],
 [('work', 'well'), 40],
 [('quality', 'assurance'), 40],
 [('years', 'Required'), 40],
 [('analysis', 'interpretation'), 40],
 [('Preferred', 'Work'), 40],
 [('reports', 'dashboards'), 40],
 [('technical', 'skills'), 40],
 [('complex', 'business'), 40],
 [('contact', 'us'), 40],
 [('Company', 'Description'), 40],
 [('available', 'request'), 39],
 [('solving', 'complex'), 39],
 [('teams', 'across'), 39],
 [('data', 'You'), 39],
 [('years', 'industry'), 39],
 [('engineering', 'teams'), 39],
 [('Design', 'implement'), 39],
 [('statistical', 'data'), 39],
 [('science', 'données'), 39],
 [('Data', 'Analytics'), 39],
 [('Work', 'home'), 39],
 [('If', 'sounds'), 39],
 [('Mathematics', 'Computer'), 39],
 [('open', 'source'), 39],
 [('Senior', 'Scientist'), 39],
 [('challenging', 'problems'), 39],
 [('employer', 'committed'), 39],
 [('multiple', 'data'), 38],
 [('manage', 'multiple'), 38],
 [('make', 'impact'), 38],
 [('work', 'ethic'), 38],
 [('analytical', 'problemsolving'), 38],
 [('quantitative', 'discipline'), 38],
 [('throughout', 'recruitment'), 38],
 [('make', 'recommendations'), 38],
 [('data', 'engineers'), 38],
 [('multiple', 'sources'), 38],
 [('Job', 'Family'), 38],
 [('oil', 'gas'), 38],
 [('understanding', 'data'), 38],
 [('Strong', 'organizational'), 38],
 [('tight', 'deadlines'), 38],
 [('would', 'like'), 38],
 [('We', 'Are'), 38],
 [('part', 'aspects'), 38],
 [('interview', 'process'), 38],
 [('Toronto', 'ON'), 38],
 [('ensembles', 'données'), 38],
 [('skills', 'required'), 38],
 [('analysis', 'tools'), 38],
 [('Prior', 'experience'), 37],
 [('meet', 'business'), 37],
 [('Canadas', 'Top'), 37],
 [('We', 'encourage'), 37],
 [('looking', 'experienced'), 37],
 [('British', 'Columbia'), 37],
 [('Join', 'us'), 37],
 [('drivers', 'license'), 37],
 [('Advanced', 'knowledge'), 37],
 [('data', 'stores'), 37],
 [('data', 'migration'), 37],
 [('work', 'together'), 37],
 [('management', 'team'), 37],
 [('preferred', 'Experience'), 37],
 [('development', 'opportunities'), 37],
 [('technical', 'expertise'), 37],
 [('Health', 'Sciences'), 37],
 [('Strong', 'interpersonal'), 37],
 [('strong', 'analytical'), 37],
 [('What', 'do'), 37],
 [('business', 'outcomes'), 37],
 [('reasonable', 'accommodation'), 37],
 [('responsibilities', 'include'), 37],
 [('natural', 'language'), 37],
 [('We', 'value'), 37],
 [('What', 'youll'), 37],
 [('global', 'leader'), 37],
 [('This', 'includes'), 37],
 [('protected', 'veteran'), 37],
 [('Excel', 'PowerPoint'), 37],
 [('Science', 'Mathematics'), 37],
 [('include', 'limited'), 37],
 [('compensation', 'package'), 37],
 [('Minimum', '5'), 36],
 [('Powered', 'JazzHR'), 36],
 [('data', 'support'), 36],
 [('Experience', 'SQL'), 36],
 [('experience', 'asset'), 36],
 [('relevant', 'field'), 36],
 [('work', 'pressure'), 36],
 [('Proven', 'ability'), 36],
 [('health', 'services'), 36],
 [('software', 'applications'), 36],
 [('solve', 'complex'), 36],
 [('years', 'related'), 36],
 [('crossfunctional', 'team'), 36],
 [('candidate', 'must'), 36],
 [('scientific', 'technical'), 36],
 [('status', 'veteran'), 36],
 [('Stock', 'Exchange'), 36],
 [('leadership', 'team'), 36],
 [('Microsoft', 'Excel'), 36],
 [('Excellent', 'verbal'), 36],
 [('relevant', 'data'), 36],
 [('internal', 'teams'), 36],
 [('rapidly', 'growing'), 36],
 [('Good', 'understanding'), 36],
 [('communicate', 'complex'), 36],
 [('performance', 'indicators'), 35],
 [('working', 'experience'), 35],
 [('Excellent', 'organizational'), 35],
 [('experience', 'building'), 35],
 [('related', 'tools'), 35],
 [('growing', 'team'), 35],
 [('communication', 'presentation'), 35],
 [('leading', 'global'), 35],
 [('within', 'organization'), 35],
 [('communication', 'interpersonal'), 35],
 [('let', 'us'), 35],
 [('Vision', 'care'), 35],
 [('Experience', 'Data'), 35],
 [('one', 'worlds'), 35],
 [('management', 'data'), 35],
 [('Analyst', 'responsible'), 35],
 [('Degree', 'Computer'), 35],
 [('Strong', 'ability'), 35],
 [('solve', 'business'), 35],
 [('Software', 'Engineer'), 35],
 [('project', 'teams'), 35],
 [('may', 'include'), 35],
 [('Excellent', 'analytical'), 35],

In [69]:
createIndicators(gramCounts,descriptions,df,10)

In [70]:
df

,Unnamed: 0,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,...,"(machine, learning)","(years, experience)","(data, science)","(Data, Analyst)","(communication, skills)","(Computer, Science)","(Data, Scientist)","(team, members)","(data, sets)","(data, analysis)"
0,0,Unity Technologies,The Technology organization is seeking a Senio...,-1,Computer Hardware & Software,Montreal,Senior Data Scientist/Scientifique de données ...,4.9,Unknown / Non-Applicable,Information Technology,...,1,0,1,0,0,0,1,0,0,0
1,1,AlayaCare,Do you believe that recent advancements in AI ...,-1,Enterprise Software & Network Solutions,Montreal,Data Scientist,4.4,Unknown / Non-Applicable,Information Technology,...,1,0,1,0,1,1,1,0,0,0
2,2,"Thales Canada Inc., Guavus","Location: Montreal, Canada\r\r\r\r\r\r\r\r\r\r...",-1,-1,Montreal,"Senior Manager, Data Engineering",-1.0,-1,-1,...,1,1,1,0,0,1,1,0,1,0
3,3,"Thales Digital Solutions Inc., Research & Tech...","Location: Quebec City, Canada\r\r\r\r\r\r\r\r\...",-1,-1,Quebec,Optimization Operational Research Scientist,-1.0,-1,-1,...,0,0,0,0,0,0,0,0,0,0
4,4,Spin Master Ltd,Are you looking to further your career with an...,-1,Consumer Products Manufacturing,Toronto,"Senior Manager, Data Science",2.7,$2 to $5 billion (USD),Manufacturing,...,1,1,1,0,1,0,0,1,0,0
5,5,Roy Northern Environmental Ltd.,ROY NORTHERN LAND AND ENVIRONMENTAL is an expa...,-1,-1,Fort St. John,CONTAMINATED SITES ENVIRONMENTAL SCIENTIST PRO...,-1.0,-1,-1,...,0,0,0,0,0,0,0,1,0,0
6,6,Bell Canada,Req Id: 272559\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1,"Cable, Internet & Telephone Providers",Toronto,"Senior Manager, Data Science",3.7,$10+ billion (USD),Telecommunications,...,1,0,0,0,0,0,0,0,0,0
7,7,(AI)RM Consulting Ltd.,"Senior or Intermediate Hardware, Electrical or...",-1,-1,Winnipeg,"Senior Hardware, Electrical or Mechatronics En...",-1.0,-1,-1,...,0,0,0,0,1,0,0,1,0,0
8,8,Prodigy Game,"Prodigy Education connects students, parents, ...",-1,Computer Hardware & Software,Oakville,"Data Scientist, Marketing & Web Analytics",4.5,Unknown / Non-Applicable,Information Technology,...,0,0,0,0,0,0,0,1,0,0
9,9,Coursera,Coursera is a leading online learning platform...,-1,Colleges & Universities,Toronto,Senior Data Engineer,4.1,Unknown / Non-Applicable,Education,...,0,1,1,0,0,0,0,0,0,0
10,10,Tasktop Technologies,Who we are:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,-1,Computer Hardware & Software,Vancouver,Senior Data Scientist,4.2,$10 to $25 million (USD),Information Technology,...,1,0,0,0,0,1,0,0,1,0
11,11,Manulife,Are you looking for unlimited opportunities to...,-1,Investment Banking & Asset Management,Toronto,Senior Data Scientist,3.8,$25 to $50 million (USD),Finance,...,1,0,1,0,0,1,1,0,0,1
12,12,CIBC,We’re building a relationship-oriented bank fo...,-1,Banks & Credit Unions,Toronto,Senior Data Scientist,3.8,$10+ billion (USD),Finance,...,1,0,0,0,0,1,1,1,0,0
13,13,SOTI,SOTI is committed to providing its employees w...,-1,Enterprise Software & Network Solutions,Mississauga,Senior Data Scientist,2.9,Unknown / Non-Applicable,Information Technology,...,1,1,1,0,0,0,1,0,0,0
14,14,Geotab,Who we are:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,-1,Computer Hardware & Software,Oakville,Senior Data Scientist,4.5,$100 to $500 million (USD),Information Technology,...,1,1,1,0,0,1,1,1,0,1
15,15,Microsoft,Are you passionate about influencing and chang...,-1,Computer Hardware & Software,Vancouver,Senior Data Scientist,4.3,$10+ billion (USD),Information Technology,...,1,0,1,0,0,1,1,0,1,0
16,16,QuantumBlack,Analytics\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,-1,Consulting,Montreal,Senior Data Scientist,4.4,Unknown / Non-Applicable,Business Services,...,1,0,1,0,1,0,1,0,0,0
17,17,Vendasta,As a Senior Data Scientist at Vendasta you wil...,-1,Enterprise Software & Network Solutions,Saskatoon,Senior Data Scientist,4.3,$25 to $50 million (USD),Information Technology,...,0,1,1,0,0,0,1,0,1,1
18,18,RACE21™,"Reporting to the Manager of Data Science, the ...",-1,-1,Vancouver,Senior Data Scientist,-1.0,-1,-1,...,1,0,1,0,1,1,1,0,1,0
19,19,BMO Financial Group,Address:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1,Banks & Credit Unions,Toronto,Senior Data Scientist,3.7,$10+ billion (USD),Finance,...,1,0,0,0,1,1,1,0,0,0
20,20,CIBC World Markets,We’re building a relationship-oriented bank fo...,-1,Investment Banking & Asset Management,Toronto,Senior Data Scientist,3.6,$100 to $500 million (USD),Finance,...,1,0,0,0,0,1,1,1,0,0
21,21,Loblaw Digital,"At Loblaw Digital, we know that our customers ...",-1,Internet,Toronto,Senior Data Scientist,3.6,Unknown / Non-Applicable,Information Technology,...,0,0,0,0,0,0,1,0,0,0
22,22,roomview Technologies Inc.,About Us\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1,-1,Vancouver,Senior Data Scientist,3.3,Less than $1 million (USD),-1,...,1,0,1,0,1,0,0,0,0,0
23,23,nugget.ai,Are you a Senior Data Scientist looking for an...,-1,-1,Toronto,Senior Data Scientist,-1.0,Less than $1 million (USD),-1,...,1,0,1,0,1,0,1,0,0,1
24,24,Tonal,Who We Are\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1,"Health, Beauty, & Fitness",Toronto,Senior Data Scientist,4.2,Unknown / Non-Applicable,Consumer Services,...,1,0,1,0,0,0,0,0,0,0
25,25,Alberta Motor Association,A computer\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,-1,Membership Organizations,Edmonton,Senior Data Scientist,3.0,$100 to $500 million (USD),Business Services,...,1,0,1,0,0,0,0,0,0,0
26,26,Aquatic Informatics,Do you want a meaningful role in a company tha...,-1,Enterprise Software & Network Solutions,Vancouver,Senior Data Scientist,4.1,$5 to $10 million (USD),Information Technology,...,1,0,1,0,1,0,1,0,0,1
27,27,MindGeek Careers,The Data Science team is responsible for impro...,-1,IT Services,Montreal,Senior Data Scientist,3.4,Unknown / Non-Applicable,Information Technology,...,0,1,1,0,0,0,1,0,0,1
28,28,Enverus,Senior Data Scientist\r\r\r\r\r\r\r\r\r\r\r\r\...,-1,Energy,Calgary,Senior Data Scientist,3.5,$100 to $500 million (USD),"Oil, Gas, Energy & Utilities",...,0,0,1,0,0,1,1,1,0,0
29,29,Manitoba Government,The Manitoba government recognizes the importa...,-1,Federal Agencies,Winnipeg,Senior Data Scientist,3.6,Less than $1 million (USD),Government,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
869,869,Tundra,Job description:\r\r\n\r\r\nOur Team\r\r\n\r\r...,-1,Staffing & Outsourcing,Vancouver,Data Analyst (Contract),3.5,Unknown / Non-Applicable,Business Services,...,0,0,0,0,0,0,0,0,0,0
870,870,Tandempark Inc.,TandemPark Inc. is a maturing startup company ...,-1,-1,Innisfil,Jr. Data Analyst,-1.0,-1,-1,...,0,0,1,0,0,0,0,0,0,0
871,0,Randstad,Our large Enterprise Edmonton client is lookin...,-1,Staffing & Outsourcing,Edmonton,Data Analyst - Edmonton - Edmonton,4.1,$10+ billion (USD),Business Services,...,0,0,0,1,0,0,0,0,0,0
872,1,HomeStars,WHO WE ARE:\r\n\r\nCanadians spend over $70B a...,-1,Enterprise Software & Network Solutions,Toronto,Product Data Analyst,3.9,Unknown / Non-Applicable,Information Technology,...,0,0,0,0,0,0,0,0,1,0
873,2,Morgan Stanley,Company Profile\r\n\r\nMorgan Stanley is a glo...,-1,Investment Banking & Asset Management,Montreal,BI/Data Analyst,4.0,$10+ billion (USD),Finance,...,0,0,0,0,0,1,0,0,0,0
874,3,Best Buy,Are you passionate about analytics and eCommer...,-1,Consumer Electronics & Appliances Stores,Burnaby,Data Analyst - eCommerce,3.9,$10+ billion (USD),Retail,...,0,1,0,1,0,0,0,1,1,0
875,4,Providence Health Care,"Data Analyst, Foundry\r\n\r\nREQ:\r\nPHC20-124...",-1,Health Care Services & Hospitals,Vancouver,"Data Analyst, Foundry",4.1,$500 million to $1 billion (USD),Health Care,...,0,0,0,1,0,1,0,0,1,1
876,5,Celestica,Company:\r\nCelestica International Inc.\r\nRe...,-1,Electrical & Electronic Manufacturing,Toronto,"Student Intern, Customer Data Analyst",3.3,$5 to $10 billion (USD),Manufacturing,...,0,0,0,0,1,0,0,0,0,0
877,6,SQUALUS GROUP,"As an Associate Scientist for our Mississauga,...",-1,-1,Mississauga,Associate Scientist,-1.0,-1,-1,...,0,0,0,0,0,0,0,1,0,0
878,7,Golder Associates,Environmental Data Analyst\r\n- (20001874)\r\n...,-1,Architectural & Engineering Services,Kelowna,Environmental Data Analyst,3.4,$500 million to $1 billion (USD),Business Services,...,0,0,1,1,1,1,0,0,0,0
879,8,Ubisoft,Company Description\r\n\r\nnull\r\n\r\nJob Des...,-1,Video Games,Montreal,"Data Analyst, Customer Experience",3.8,$2 to $5 billion (USD),Media,...,0,0,0,1,0,1,0,0,0,0
880,9,Fircroft,The Role:\r\nCore Responsibilities:\r\nDay-to-...,-1,Staffing & Outsourcing,Calgary,SAP System Master Data Analyst,3.4,$500 million to $1 billion (USD),Business Services,...,0,1,0,0,0,0,0,0,0,0
881,10,Brookfield Asset Management,About Brookfield\r\nBrookfield Asset Managemen...,-1,Investment Banking & Asset Management,Toronto,Data Analyst - Business Operations,3.9,$10+ billion (USD),Finance,...,0,1,0,1,0,0,0,0,1,0
882,11,Yelp,"At Yelp, it’s our mission to connect people wi...",-1,Internet,Remote,Data Analyst (Remote),3.4,$1 to $2 billion (USD),Information Technology,...,0,0,0,0,0,0,0,0,0,0
883,12,Electronic Arts,Advanced Analyst\r\n\r\nThe EA Marketing Analy...,-1,Video Games,Vancouver,Advanced Marketing Data Analyst,4.0,$2 to $5 billion (USD),Media,...,0,0,0,0,0,0,0,0,1,0
884,13,Decipher Biosciences,Summary:\r\n\r\nThe Data (bio)Informatics Scie...,-1,-1,Vancouver,Bioinformatics Data Analyst,1.4,Less than $1 million (USD),-1,...,1,0,1,0,1,0,0,0,1,1
885,14,Behavox,About Behavox\r\nBehavox is shaping the future...,-1,Enterprise Software & Network Solutions,Montreal,HR Data Analyst,4.4,Unknown / Non-Applicable,Information Technology,...,0,0,0,0,0,0,0,0,0,0
886,15,Civeo Canada LP,Civeo is a global workforce accommodation spec...,-1,Building & Personnel Services,Edmonton,Admin/Data Analyst,3.5,$1 to $5 million (USD),Business Services,...,0,1,0,1,1,0,0,0,0,1
887,16,Morningstar,About the Role\r\n\r\nMorningstar Research Inc...,-1,Financial Analytics & Research,Toronto,Equity Data Analyst,4.0,$1 to $2 billion (USD),Finance,...,0,0,0,1,0,0,0,0,0,0
888,17,Tundra,Job description:\r\n\r\nOur client is a leader...,-1,Staffing & Outsourcing,Calgary,SAP Master Data Analyst (Contract),3.5,Unknown / Non-Applicable,Business Services,...,0,0,0,1,0,0,0,0,0,0
889,18,Thinkific,We'd love to put your mind at ease while looki...,-1,Internet,Vancouver,"Data Analyst, Product",4.7,Unknown / Non-Applicable,Information Technology,...,0,0,0,1,1,0,0,1,0,1
890,19,Celestica,Req ID: 65591\r\nRegion: Americas\r\nCountry: ...,-1,Electrical & Electronic Manufacturing,Toronto,"Student Intern, Data Analyst & Quote Controller",3.3,$5 to $10 billion (USD),Manufacturing,...,0,0,0,0,0,0,0,0,0,0
891,20,Napoleon Products,Job Details\r\nDescription\r\nTitle: Business ...,-1,-1,Barrie,BI Data Analyst,3.0,Less than $1 million (USD),-1,...,1,0,1,1,1,0,0,1,0,1
892,21,WeyMedia Inc.,"Digital Marketing Data Analyst, Dieppe NB\r\nW...",-1,-1,New Brunswick,Digital Marketing Data Analyst,-1.0,-1,-1,...,0,0,0,1,0,0,0,0,1,1
893,22,Ardene,WHO WE ARE:\r\nArdene is the ultimate value fa...,-1,"Department, Clothing, & Shoe Stores",Montreal,Digital Data Analyst,3.3,Unknown / Non-Applicable,Retail,...,0,0,0,1,0,0,0,0,1,0
894,23,BMO Financial Group,Address:\r\n\r\n120 Bloor Street East\r\nJob F...,-1,Banks & Credit Unions,Toronto,Technical Data Analyst,3.7,$10+ billion (USD),Finance,...,0,1,0,1,1,1,0,0,0,0
895,24,IBM,Introduction\r\nAs a Package Consultant at IBM...,-1,IT Services,Halifax,SAP Data Analyst,3.8,$10+ billion (USD),Information Technology,...,0,1,0,1,0,0,0,0,0,0
896,25,Stingray Digital,Marketing Data Analyst\r\n\r\n\r\nCategory: Ma...,-1,Music Production & Distribution,Montreal,Marketing Data Analyst,3.3,$10 to $25 million (USD),Media,...,0,0,0,1,1,0,0,0,0,0
897,26,GTB,"WHO IS GTB?\r\n\r\nA global, industry-leading ...",-1,Advertising & Marketing,Toronto,Marketing Data Analyst,4.2,Unknown / Non-Applicable,Business Services,...,0,0,0,1,0,0,0,0,1,0
898,27,Hudson Rouge,"WHO IS GTB?\r\n\r\nA global, industry-leading ...",-1,Advertising & Marketing,Toronto,Marketing Data Analyst,3.6,Less than $1 million (USD),Business Services,...,0,0,0,1,0,0,0,0,1,0

# Language Analysis

In [14]:
grams,descriptions = box_of_words(df,1)

In [15]:
from langdetect import detect
from langdetect import detect_langs

In [16]:
description = descriptions[3]
words = ''
for i in range(len(description)):
    words += ' ' + description[i][0]

In [17]:
count = 0
indexes = []
for description in descriptions:
    words = ''
    for i in range(len(description)):
        words += ' ' + description[i][0]
    langs = detect_langs(words)
    if len(langs)>1:
        indexes.append(count)
    count += 1
print(len(indexes))

28

In [18]:
count = 0
indexes = []
for description in descriptions:
    words = ''
    for i in range(len(description)):
        words += ' ' + description[i][0]
    lang = detect(words)
    if lang == 'fr':
        indexes.append(count)
    count += 1
print(len(indexes))

68

In [19]:
indexes

[109,
 195,
 248,
 257,
 295,
 306,
 307,
 314,
 315,
 318,
 319,
 320,
 322,
 325,
 326,
 329,
 332,
 334,
 369,
 389,
 394,
 396,
 400,
 629,
 633,
 636,
 642,
 644,
 660,
 667,
 668,
 669,
 670,
 695,
 696,
 697,
 698,
 705,
 707,
 708,
 715,
 726,
 741,
 758,
 764,
 772,
 790,
 793,
 794,
 801,
 821,
 823,
 831,
 931,
 949,
 958,
 988,
 1002,
 1009,
 1010,
 1017,
 1031,
 1035,
 1039,
 1040,
 1041,
 1073,
 1078]

In [47]:
dist = []
count = 0
for index in indexes:
    count += 1
    print(count)
    french = 0
    english = 0
    for word in descriptions[index]:
        if not word[0].isnumeric():
            lang = detect(word[0])
            if lang == 'en':
                english == 1
            elif lang == 'fr':
                french += 1
    dist.append([english,french])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68

In [48]:
dist

[[0, 281],
 [0, 108],
 [0, 257],
 [0, 281],
 [0, 153],
 [0, 111],
 [0, 266],
 [0, 8],
 [0, 168],
 [0, 212],
 [0, 104],
 [0, 183],
 [0, 107],
 [0, 100],
 [0, 170],
 [0, 45],
 [0, 189],
 [0, 259],
 [0, 268],
 [0, 277],
 [0, 208],
 [0, 264],
 [0, 247],
 [0, 282],
 [0, 8],
 [0, 139],
 [0, 267],
 [0, 208],
 [0, 252],
 [0, 268],
 [0, 171],
 [0, 165],
 [0, 252],
 [0, 107],
 [0, 213],
 [0, 109],
 [0, 422],
 [0, 257],
 [0, 185],
 [0, 106],
 [0, 103],
 [0, 43],
 [0, 216],
 [0, 112],
 [0, 257],
 [0, 236],
 [0, 123],
 [0, 135],
 [0, 267],
 [0, 272],
 [0, 201],
 [0, 182],
 [0, 180],
 [0, 115],
 [0, 231],
 [0, 139],
 [0, 269],
 [0, 248],
 [0, 261],
 [0, 319],
 [0, 188],
 [0, 187],
 [0, 110],
 [0, 112],
 [0, 319],
 [0, 111],
 [0, 152],
 [0, 181]]

In [31]:
df2 = df[df['index'].isin(indexes)]

In [32]:
df2

,index,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,Size,Type,Year Founded
109,109,Balcan Plastics Inc,Les Plastiques Balcan compte parmi les chefs d...,NaN,NaN,Montreal,"Analyste de données, prévision de ventes / Sal...",NaN,NaN,NaN,NaN,NaN,NaN
195,195,adMare BioInnovations,About adMare BioInnovations:\r\r\r\r\r\r\r\r\n...,NaN,NaN,Montreal,Senior Scientist - Cell Biology,3.4,Less than $1 million (USD),NaN,Unknown,Company - Private,NaN
248,248,Thales,"Location: Quebec City, CanadaDans des marchés ...",NaN,Aerospace & Defense,Quebec,Optimization Operational Research Scientist,3.8,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,2000.0
257,257,Square Enix Montréal,// English version will follow...//\r\r\r\r\r\...,NaN,Video Games,Montreal,Analyste de données en chef / Lead Data Analyst,3.5,Unknown / Non-Applicable,Media,1001 to 5000 Employees,Company - Public,1975.0
295,295,agileDSS,Nous sommes à la recherche d’un(e) Data Engine...,NaN,IT Services,Montreal,Data Engineer / Data Analyst,4.4,$10 to $25 million (USD),Information Technology,51 to 200 Employees,Company - Private,2005.0
306,306,Ardene,WHO WE ARE:\r\r\r\r\nArdene is the ultimate va...,NaN,"Department, Clothing, & Shoe Stores",Saint-Laurent,Digital Data Analyst / Analyste de données num...,3.2,Unknown / Non-Applicable,Retail,1001 to 5000 Employees,Company - Private,1982.0
307,307,ODESIA,Description\r\r\r\r\nRôle d'analyste de donnée...,NaN,Consulting,Montreal,Data Analyst - BI Environment,5.0,$5 to $10 million (USD),Business Services,51 to 200 Employees,Company - Private,NaN
314,314,ZeniMax Media Inc.,Your Privacy:\r\r\r\r\nZeniMax understands the...,NaN,Video Games,Montreal,Spécialiste en Analyse des données / Data Analyst,3.8,Unknown / Non-Applicable,Media,201 to 500 Employees,Company - Private,1999.0
315,315,PLB International inc,"At PLB, the Data Analyst and Demand Planning, ...",NaN,Consumer Products Manufacturing,Boucherville,"Demand Planner, Data Analyst",3.9,$25 to $50 million (USD),Manufacturing,51 to 200 Employees,Company - Private,1969.0
318,318,Square Enix Montreal,// ENGLISH VERSION WILL FOLLOW ...//\r\r\r\r\n...,NaN,Video Games,Montreal,Analyste de données / Data Analyst,3.5,Unknown / Non-Applicable,Media,1001 to 5000 Employees,Company - Public,1975.0
319,319,Nuagem inc.,SOMMAIRE :\r\r\r\r\n\r\r\r\r\nL'analyste Fonct...,NaN,NaN,Boucherville,SAP master Data Analyst,NaN,Less than $1 million (USD),NaN,1 to 50 Employees,Company - Private,NaN
320,320,Quebec en Mexico,Job description\r\r\r\r\nWith its 200 passiona...,NaN,NaN,Quebec,Croesus - Data analyst,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Government,NaN
322,322,Quebec en Mexico,Description de l'emploi\r\r\r\r\nConseiller – ...,NaN,NaN,Quebec,Solution BI - Data Analyst,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Government,NaN
325,325,Bethesda Game Studios,Overview\r\r\r\r\nBethesda Game Studios recher...,NaN,Video Games,Montreal,Spécialiste en Analyse des données / Data Analyst,3.6,$5 to $10 million (USD),Media,51 to 200 Employees,Subsidiary or Business Segment,NaN
326,326,Tundra,Job description:\r\r\r\r\n\r\r\r\r\nProvide da...,NaN,Staffing & Outsourcing,Montreal,Data Analyst 3 (contract),3.4,Unknown / Non-Applicable,Business Services,201 to 500 Employees,Company - Private,2004.0
329,329,Nvizzio Creations,Description de l'entreprise\r\r\r\r\nDepuis 20...,NaN,NaN,Montreal,MARKETING DATA ANALYST -FR,4.6,Less than $1 million (USD),NaN,51 to 200 Employees,Contract,NaN
332,332,CAE,Role and Responsibilities\r\r\r\nJob Descripti...,NaN,Aerospace & Defense,Montreal,Analyste de données de l’expérience client /Cu...,3.8,$2 to $5 billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1947.0
334,334,CAE Inc.,Role and Responsibilities\r\r\r\nAnalyste des ...,NaN,Aerospace & Defense,Saint-Laurent,Analyste des données / Data Analyst,3.8,$2 to $5 billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1947.0
369,369,"Thales Digital Solutions Inc., Research & Tech...","Location: Quebec City, Canada\r\r\nDans des ma...",NaN,NaN,Quebec,Optimization Operational Research Scientist,NaN,NaN,NaN,NaN,NaN,NaN
389,389,Unity Technologies,The Technology organization is seeking a Senio...,NaN,Computer Hardware & Software,Montreal,Senior Data Scientist/Scientifique de données ...,4.9,Unknown / Non-Applicable,Information Technology,1001 to 5000 Employees,Company - Private,2005.0
394,394,"Thales Canada Inc., Guavus","Location: Montreal, Canada\r\r\r\r\r\r\r\r\r\r...",NaN,NaN,Montreal,Senior Data Engineer,NaN,NaN,NaN,NaN,NaN,NaN
396,396,"Thales Canada Inc., Guavus","Location: Montreal, Canada\r\r\r\r\r\r\r\r\r\r...",NaN,NaN,Montreal,"Senior Manager, Data Engineering",NaN,NaN,NaN,NaN,NaN,NaN
400,400,"Thales Digital Solutions Inc., Research & Tech...","Location: Quebec City, Canada\r\r\r\r\r\r\r\r\...",NaN,NaN,Quebec,Optimization Operational Research Scientist,NaN,NaN,NaN,NaN,NaN,NaN
629,629,ODESIA,Description\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Consulting,Montreal,Data Analyst - BI Environment,5.0,$5 to $10 million (USD),Business Services,51 to 200 Employees,Company - Private,NaN
633,633,Procom,Ingénieur de données\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,Staffing & Outsourcing,Montreal,Ingénieur de données / Data Engineer - 298695,4.6,$1 to $2 billion (USD),Business Services,5001 to 10000 Employees,Company - Private,1978.0
636,636,Ardene,WHO WE ARE:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,"Department, Clothing, & Shoe Stores",Saint-Laurent,Digital Data Analyst / Analyste de données num...,3.2,Unknown / Non-Applicable,Retail,1001 to 5000 Employees,Company - Private,1982.0
642,642,Unity Technologies,The Technology organization is seeking a Senio...,NaN,Computer Hardware & Software,Montreal,Senior Data Scientist/Scientifique de données ...,4.9,Unknown / Non-Applicable,Information Technology,1001 to 5000 Employees,Company - Private,2005.0
644,644,adMare BioInnovations,About adMare BioInnovations:\r\r\r\r\r\r\r\r\r...,NaN,NaN,Montreal,Senior Scientist - Cell Biology,3.4,Less than $1 million (USD),NaN,Unknown,Company - Private,NaN
660,660,CAE Inc.,Role and Responsibilities\r\r\r\r\r\r\r\r\r\r\...,NaN,Aerospace & Defense,Saint-Laurent,Analyste des données / Data Analyst,3.8,$2 to $5 billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1947.0
667,667,Bethesda Game Studios,Overview\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,Video Games,Montreal,Spécialiste en Analyse des données / Data Analyst,3.6,$5 to $10 million (USD),Media,51 to 200 Employees,Subsidiary or Business Segment,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,707,Quebec en Mexico,Job description\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,NaN,Quebec,Croesus - Data analyst,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Government,NaN
708,708,Quebec en Mexico,Description de l'emploi\r\r\r\r\r\r\r\r\r\r\r\...,NaN,NaN,Quebec,Solution BI - Data Analyst,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Government,NaN
715,715,Tundra,Job description:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,Staffing & Outsourcing,Montreal,Data Analyst 3 (contract),3.4,Unknown / Non-Applicable,Business Services,201 to 500 Employees,Company - Private,2004.0
726,726,Element AI,English version below\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,IT Services,Toronto,"Chercheuse/Chercheur scientifique, recherche a...",3.6,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,Company - Private,2016.0
741,741,Balcan Plastics Inc,Les Plastiques Balcan compte parmi les chefs d...,NaN,NaN,Montreal,"Analyste de données, prévision de ventes / Sal...",NaN,NaN,NaN,NaN,NaN,NaN
758,758,Plotly,(Français à suivre)\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,NaN,Montreal,Senior DevOps Engineer / Développeur DevOps sé...,4.7,Less than $1 million (USD),NaN,1 to 50 Employees,Company - Private,NaN
764,764,NanoXplore,"NanoXplore est une entreprise de graphène, un ...",NaN,NaN,Montreal,Chercheur scientifique – Batterie / Research S...,4.0,Less than $1 million (USD),NaN,1 to 50 Employees,Company - Private,NaN
772,772,Services Conseils IntelliSoft inc.,Rôle et Responsabilités:\r\r\r\r\r\r\r\r\r\r\r...,NaN,NaN,Montreal,Data Scientist,NaN,Less than $1 million (USD),NaN,Unknown,Company - Private,NaN
790,790,EXFO,Sommaire du poste\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Telecommunications Services,Canada,Principal Research Scientist / Chercheur(euse)...,3.5,$100 to $500 million (USD),Telecommunications,1001 to 5000 Employees,Company - Public,1985.0
793,793,Boeing,Senior Software Solution Developer\r\r\r\r\r\r...,NaN,Aerospace & Defense,Montreal,Senior Software Solution Developer,3.7,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1916.0
794,794,Boeing,Senior DevOps SysOps Specialist\r\r\r\r\r\r\r\...,NaN,Aerospace & Defense,Montreal,Senior DevOps SysOps Specialist,3.7,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1916.0
801,801,GenAIz,"GenAIz, une division d'Uni3T, est une jeune et...",NaN,NaN,Montreal,Développeur senior Node.js/Senior Node.js Deve...,NaN,NaN,NaN,NaN,NaN,NaN
821,821,AT&T,Xandr operates one of the largest Online Adver...,NaN,Telecommunications Services,Montreal,"Senior Software Engineer II, Team Lead - Bidde...",3.5,$10+ billion (USD),Telecommunications,10000+ Employees,Company - Public,1983.0
823,823,Xandr,Xandr operates one of the largest Online Adver...,NaN,Advertising & Marketing,Montreal,"Senior Software Engineer II, Team Lead - Bidde...",3.7,Unknown / Non-Applicable,Business Services,1001 to 5000 Employees,Company - Public,2018.0
831,831,Eidos Montreal,// English version will follow //\r\r\r\r\r\r\...,NaN,Video Games,Montreal,Data Scientist,3.7,$25 to $50 million (USD),Media,201 to 500 Employees,Company - Public,NaN
931,931,Unity Technologies,The Montreal Monetization team is looking for ...,NaN,Computer Hardware & Software,Montreal,Senior Machine Learning Developer / Développeu...,4.9,Unknown / Non-Applicable,Information Technology,1001 to 5000 Employees,Company - Private,2005.0
949,949,Nuchem,Position: Research Associate or Scientist - Ch...,NaN,NaN,Saint-Laurent,"Research Scientist, Scientist/Associé(e) de re...",NaN,NaN,NaN,NaN,NaN,NaN
958,958,Unity Technologies,We are looking for a Product Manager to join o...,NaN,Computer Hardware & Software,Montreal,Senior Product Manager- Operate Services- Frau...,4.9,Unknown / Non-Applicable,Information Technology,1001 to 5000 Employees,Company - Private,2005.0
988,988,Thales,"Location: Quebec City, CanadaDans des marchés ...",NaN,Aerospace & Defense,Quebec,Optimization Operational Research Scientist,3.8,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,2000.0
1002,1002,Thales,"Location: Montreal, CanadaDans des marchés en ...",NaN,Aerospace & Defense,Montreal,"Senior Manager, Data Engineering",3.8,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,2000.0
1009,1009,Thales,"Location: Montreal, CanadaDans des marchés en ...",NaN,Aerospace & Defense,Montreal,Senior Data Engineer,3.8,$10+ billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,2000.0
1010,1010,CAE,Role and Responsibilities\r\r\r\r\r\r\r\r\r\r\...,NaN,Aerospace & Defense,Montreal,Scientifique des données / Data Scientist,3.8,$2 to $5 billion (USD),Aerospace & Defense,10000+ Employees,Company - Public,1947.0
1017,1017,Nvizzio Creations,Description de l'entreprise\r\r\r\r\r\r\r\r\r\...,NaN,NaN,Montreal,MARKETING DATA ANALYST -FR,4.6,Less than $1 million (USD),NaN,51 to 200 Employees,Contract,NaN
1031,1031,Element AI,English version below\r\r\r\r\r\r\r\r\r\n\r\r\...,NaN,IT Services,Montreal,"Chercheuse/Chercheur scientifique, recherche a...",3.6,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,Company - Private,2016.0
1035,1035,agileDSS,Nous sommes à la recherche d’un(e) Data Engine...,NaN,IT Services,Montreal,Data Engineer / Data Analyst,4.4,$10 to $25 million (USD),Information Technology,51 to 200 Employees,Company - Private,2005.0
1039,1039,Square Enix Co.,// English version will follow //\r\r\r\r\r\r\...,NaN,Video Games,Montreal,Scientifique de Données / Data Scientist,3.5,Unknown / Non-Applicable,Media,1001 to 5000 Employees,Company - Public,1975.0
1040,1040,Slalom LLC.,*English will follow*\r\r\r\r\r\r\r\r\r\n\r\r\...,NaN,Consulting,Montreal,Data Scientist (Cloud technology) / Scientifiq...,4.1,$1 to $2 billion (USD),Business Services,1001 to 5000 Employees,Company - Private,2001.0
1041,1041,Eidos Montréal,// English version will follow //\r\r\r\r\r\r\...,NaN,Video Games,Montreal,Scientifique de Données / Data Scientist,3.7,$25 to $50 million (USD),Media,201 to 500 Employees,Company - Public,NaN
1073,1073,Square Enix Montreal,// English version will follow...//\r\r\r\r\r\...,NaN,Video Games,Montreal,Analyste de données en chef / Lead Data Analyst,3.5,Unknown / Non-Applicable,Media,1001 to 5000 Employees,Company - Public,1975.0
1078,1078,Nuance,Nuance est à la fois précurseur et leader dans...,NaN,Computer Hardware & Software,Montreal,Chercheur Scientifique Senior - NLU - Senior R...,3.7,$1 to $2 billion (USD),Information Technology,5001 to 10000 Employees,Company - Public,1992.0

In [33]:
df3 = pd.read_csv('../../../data/clean_data/salaries_ca.csv')

,Unnamed: 0,company,position,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus
0,0,Capital One,Data Scientist,76883,73000,125000,76883.0,5885.0,5885.0,3272.0
1,1,RBC,Data Scientist,90000,55000,135000,90000.0,12589.0,11983.0,3147.0
2,2,Scotiabank,Data Scientist,96176,74000,103000,96176.0,10051.0,10051.0,3327.0
3,3,TD,Data Scientist,79473,50000,129000,79473.0,6062.0,6062.0,2393.0
4,4,Banque Nationale du Canada/National Bank of Ca...,Data Scientist,74945,71000,90000,74945.0,5045.0,5045.0,1536.0
5,5,Loblaw Companies,Data Scientist,90000,12000,107000,90000.0,9000.0,10008.0,5000.0
6,6,Shopify,Data Scientist,95489,85000,115000,95489.0,NaN,NaN,32840.0
7,7,Bell Canada,Data Scientist,80501,66000,108000,80501.0,11442.0,11442.0,NaN
8,8,RBC,Data Scientist - Hourly Intern,56160,43680,62400,NaN,NaN,NaN,NaN
9,9,IBM,Data Scientist,85187,71000,87000,85187.0,509.0,509.0,NaN
10,10,Rogers Communications,Data Scientist,91429,70000,121000,91429.0,16989.0,16989.0,18956.0
11,11,Deloitte,Data Scientist,70052,61000,90000,70052.0,6.0,6.0,NaN
12,12,Boeing,Data Scientist,100253,74000,108000,100253.0,3147.0,3147.0,NaN
13,13,Intact,Data Scientist - Hourly Intern,60320,45760,68640,NaN,NaN,NaN,NaN
14,14,Stradigi AI,Data Scientist,75110,70000,82000,75110.0,NaN,NaN,NaN
15,15,Scotiabank,Data Scientist - Intern,63171,57000,82000,NaN,NaN,NaN,NaN
16,16,HSBC Holdings,Data Scientist - Hourly Intern,62400,62400,68640,NaN,NaN,NaN,NaN
17,17,Intact,Data Scientist,82500,76000,87000,29.0,NaN,NaN,NaN
18,18,ATB Financial,Data Scientist,80872,70000,115000,80872.0,5000.0,5000.0,NaN
19,19,AeroInfo Systems,Data Scientist,81545,79000,99000,81545.0,5981.0,5981.0,NaN
20,20,CIBC,Data Scientist - Hourly Intern,56160,43680,62400,NaN,NaN,NaN,NaN
21,21,University of British Columbia,Data Scientist,76000,41000,80000,76000.0,NaN,NaN,NaN
22,22,Shopify,Data Scientist - Hourly Intern,76960,64480,85280,NaN,NaN,NaN,NaN
23,23,Ericsson-Worldwide,Data Scientist,137112,67000,181000,137112.0,25.0,NaN,25.0
24,24,LoyaltyOne,Data Scientist,92921,74000,97000,92921.0,11306.0,11306.0,NaN
25,25,Aviva Canada,Data Scientist,97276,69000,115000,97276.0,16500.0,16500.0,NaN
26,26,Thomson Reuters,Data Scientist - Hourly Intern,83200,72800,83200,NaN,NaN,NaN,NaN
27,27,Boston Consulting Group,Data Scientist,130000,100000,130000,130000.0,32500.0,32500.0,8000.0
28,28,Geotab,Data Scientist,80235,65000,95000,80235.0,NaN,NaN,NaN
29,29,Precima,Data Scientist,80117,80000,85000,80117.0,4103.0,4103.0,NaN
...,...,...,...,...,...,...,...,...,...,...
371,371,CIBC,Data Scientist Co-op - Intern,47000,45000,49000,NaN,NaN,NaN,NaN
372,372,CIBC,Data Scientist Co-op - Hourly Intern,58240,56160,60320,NaN,NaN,NaN,NaN
373,373,IBM,Data Scientist Co-op - Hourly Intern,52000,49920,54080,NaN,NaN,NaN,NaN
374,374,KPMG,Data Scientist Co-op - Intern,49000,47000,51000,NaN,NaN,NaN,NaN
375,375,Shopify,Data Scientist Co-op,70500,68000,73000,71000.0,71000.0,495.0,NaN
376,376,Ontario Ministère des Transports,Data Scientist Co-op,36000,35000,37000,36000.0,36000.0,NaN,NaN
377,377,Statistics Canada,Data Scientist Co-op - Hourly Contractor,43680,43680,45760,NaN,NaN,NaN,NaN
378,378,Unilever,Data Scientist Co-op - Hourly,45760,43680,47840,45760.0,45760.0,NaN,NaN
379,379,BioWare,Data Scientist Co-op - Intern,48000,46000,50000,NaN,NaN,NaN,NaN
380,380,FGF Brands,Data Scientist Co-op - Hourly Intern,43680,41600,45760,NaN,NaN,NaN,NaN
381,381,Precima,Data Scientist Co-op - Hourly Intern,66560,64480,68640,NaN,NaN,NaN,NaN
382,382,Ayogo Health,Data Scientist Co-op - Monthly Intern,4000,4000,4000,NaN,NaN,NaN,NaN
383,383,Samplits,Data Scientist Co-op - Monthly Intern,919,888,950,NaN,NaN,NaN,NaN
384,384,Buyavette,Data Scientist Co-op - Hourly,45760,43680,47840,45760.0,45760.0,2000.0,NaN
385,385,IATA,Head of Data Science,178000,173000,183000,179000.0,179000.0,NaN,NaN
386,386,IBM,Data Scientist/Software Engineer - Hourly Intern,54080,52000,58240,NaN,NaN,NaN,NaN
387,387,RBC,Data Scientist Coop,54000,52000,56000,26.0,26.0,NaN,NaN
388,388,RBC,Data Scientist Coop - Hourly Intern,52000,52000,54080,NaN,NaN,NaN,NaN
389,389,RBC,Data Scientist Coop - Intern,54500,52000,57000,NaN,NaN,NaN,NaN
390,390,Scotiabank,Data Scientist Coop - Intern,82000,79000,85000,NaN,NaN,NaN,NaN
391,391,CIBC,Data Scientist Coop,48000,46000,50000,48000.0,48000.0,NaN,NaN
392,392,University of Victoria,Data Scientist Coop,39500,38000,41000,39500.0,39500.0,NaN,NaN
393,393,Fraser Health,Data Scientist Coop - Hourly,43680,41600,45760,43680.0,43680.0,NaN,NaN
394,394,Athabasca University,Manager - Data Science,101000,97000,105000,99000.0,99000.0,9000.0,NaN
395,395,Athabasca University,Manager - Data Science,100500,96000,105000,99500.0,99500.0,9000.0,NaN
396,396,Major cannabis company,Manager - Data Science,94500,91000,98000,NaN,NaN,NaN,NaN
397,397,goeasy,Sr Manager Data Science,134500,129000,140000,135500.0,135500.0,15500.0,NaN
398,398,EMAGIN Clean Technologies,Data Science Lead - Hourly,104000,99840,108160,104000.0,104000.0,NaN,NaN
399,399,Capital One,Senior Associate Data Science,88000,85000,91000,87000.0,87000.0,10500.0,NaN
400,400,Softchoice,Data Science and Analytics - Intern,47000,45000,49000,NaN,NaN,NaN,NaN

In [35]:
finaldf = pd.merge(df2, df3, left_on='Company', right_on='company')

In [36]:
finaldf

,index,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,...,Unnamed: 0,company,position,salary,lower_bound_salary,upper_bound_salary,base_pay,bonus_pay,cash_bonus,stock_bonus
0,793,Boeing,Senior Software Solution Developer\r\r\r\r\r\r...,NaN,Aerospace & Defense,Montreal,Senior Software Solution Developer,3.7,$10+ billion (USD),Aerospace & Defense,...,12,Boeing,Data Scientist,100253,74000,108000,100253.0,3147.0,3147.0,NaN
1,794,Boeing,Senior DevOps SysOps Specialist\r\r\r\r\r\r\r\...,NaN,Aerospace & Defense,Montreal,Senior DevOps SysOps Specialist,3.7,$10+ billion (USD),Aerospace & Defense,...,12,Boeing,Data Scientist,100253,74000,108000,100253.0,3147.0,3147.0,NaN