# Workflow: 

- Step 1.  For 'Position_clean' column, find all rows that contain substring combo ('intern' OR 'co-op) AND ('data science' OR 'data scientist' OR 'ML' or 'machine learning') *case insensitive*
    - replace all with 'Data Scientist Intern' 
- Step 2.  find all rows that contain substring 'data science'*case insensitive*
    - replace case by case with 'xx Data Scientist' 
- Step 3. find all rows that contain substring 'analytics' *case insensitive*
    - replace case by case with 'xx Data Scientist' 
- Step 4. find all rows that contain substring 'ML' or 'machine learning' (assume: exclude 'AI' roles) *case-insensitive*
    - replace case by case with 'xx Data Scientist' 
 
- Step 5. Other special cases (from examining df.Position. unique()): replace case by case with 'xx Data Scientist' 
  
- Step 6: find all rows that do NOT contain substring *case-insensitive* 'Data Scientist'(e.g. 'software engineer', 'AI research scientist', 'data engineer', 'software developer', 'database developer', 'data analyst') -> replace with np.nan (for easier removal of these rows later) 


[see here for str.replace](https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas)

**note: order matters! e.g. '*Senior* *director*, data scientist' - need to change to LDS, before SR**

- Step 7A. replace any substrings 'lead' or 'director' or 'manager' or 'principal' -> 'Lead Data Scientist'
- Step 7B. replace any substrings 'sr' or 'senior' -> 'Senior Data Scientist'
- Step 7C. replace any substrings jr' or 'junior' -> 'Junior Data Scientist'
- Step 7D. replace substrings NOT 'intern' NOT 'junior' NOT 'senior' NOT 'lead' NOT NaN  -> 'Data Scientist' 


AFTER merging with Sasha's cleaned columns, do following: 
- drop rows that have NaN in the 'Position_clean' column [see how here](https://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-in-a-certain-column-is-nan)
- check and drop duplicates
- drop other rows with certain NaN fields

In [34]:
import pandas as pd
import numpy as np

In [2]:
INTERN = 'Data Scientist Intern'
JR = 'Junior Data Scientist'
SR = 'Senior Data Scientist'
DS = 'Data Scientist'
LDS = 'Lead Data Scientist'
rm = np.nan

In [3]:
df_ca = pd.read_csv('jack_canada.csv', index_col = 0)

In [4]:
df_ca.shape

(1258, 12)

In [5]:
df_ca.head()

,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,Size,Type,Year Founded
0,AlayaCare,Do you believe that recent advancements in AI ...,NaN,Enterprise Software & Network Solutions,Montreal,Data Scientist,4.4,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,Company - Private,2014.0
1,Special Risk Insurance Managers Ltd.,Be a part of a dynamic and growing team at Spe...,NaN,NaN,Langley,Data Analyst,NaN,NaN,NaN,NaN,NaN,NaN
2,Syniti,Syniti was founded to solve business’ complex ...,NaN,IT Services,Moncton,Data Analyst,3.7,$100 to $500 million (USD),Information Technology,501 to 1000 Employees,Company - Private,1996.0
3,Points International,Company Description\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Internet,Toronto,Data Scientist,3.6,$100 to $500 million (USD),Information Technology,201 to 500 Employees,Company - Public,2001.0
4,Spin Master Ltd,Are you looking to further your career with an...,NaN,Consumer Products Manufacturing,Toronto,"Senior Manager, Data Science",3.0,$2 to $5 billion (USD),Manufacturing,1001 to 5000 Employees,Company - Public,1994.0

In [6]:
# duplicate
df_ca['Position_clean'] = df_ca.loc[:, 'Position']

In [7]:
df_ca['Position'].unique()

array(['Data Scientist', 'Data Analyst', 'Senior Manager, Data Science',
       'Automotive Software Data Analyst / Tester - Remote',
       'Junior Data Analyst',
       'Optimization Operational Research Scientist',
       'Data Scientist Intern', 'Junior Scientist',
       'Senior Database Developer', 'Master Data Analyst / SAP (Junior)',
       'Data Analyst - Junior', 'Data Analyst (Remote)',
       'Remote PT Data Science Mentor',
       'Remote Cloud Database developer (Python)',
       'Reporting Consultant & Data Analyst / Cognos Expert',
       'Flight Data Analyst', 'Junior Software Developer',
       'Product Data Analyst', 'Data Analyst II',
       'Entry Level Data Analyst (Bilingual French & English)',
       'Jr. Data Analyst', 'Digital Data Analyst',
       'Principal Data Scientist', 'Data Analyst, Security - 297742',
       'Tech - Data Analyst', 'Data Analyst, Product',
       'Data Analyst Intern, Global Investments IT',
       'Data Analyst - Level 1 x2 (Contract)',
       'Student Intern, Customer Data Analyst',
       'Data Analyst and Reporting Specialist', 'Game Data Analyst',
       'Master Data Analyst /Vancouver, BC', 'Data Analyst, Foundry',
       'Student Intern, Data Analyst & Quote Controller',
       'Data Analyst - Product',
       'Analyste de données, prévision de ventes / Sales Forecast Data Analyst',
       'Intermediate Data Analyst-Tableau Developer',
       'Business Data Analyst', 'CRM Data Analyst',
       'Junior Business Development Associate (remote)',
       'Marketing Data Analyst', 'HR Data Analyst', 'Data Analyst Intern',
       'Analyste de données - Fraude Fidélité / Data Analyst - Loyalty Fraud - 298856',
       'Data Analyst Intern, Global Investments IT (4-month Term)',
       'Quality Data Analyst', 'BI/Data Analyst',
       'Data Analyst (Coder) - Decision Support',
       'DATA ANALYST - DATA ENGINEERING', 'Data Analyst (Contract)',
       'Financial Data Analyst',
       'Program Evaluator/Data Analyst (CUPE 75.20)',
       'Sales Forecasting/Data Analyst', 'BI/Data Analyst 3155721',
       'Data Analyst - eCommerce', 'CSR Data Analyst - 2 Year Term',
       'Database Developer', 'AVP - Data Analyst - ICG EAP',
       'BI Data Analyst',
       'Entry-Level Data Analyst (Bilingual French & English)',
       'Supply Chain Data Analyst -3 Months', 'Data Analyst - 298793',
       'Data Analyst - Growth', 'Data Analyst/Financial Analyst',
       'Business Analyst \\ Business Data Analyst ( Banking and Capital markets )',
       'Data Analyst - 14842', 'Data Analyst 2 / Analyste de données 2',
       'Data Analyst - Immunology', 'Data Analyst, Fraud & Risk',
       'SAP Data Analyst',
       'Data Analyst (Coder) - Decision Support - Temporary Full Time (201858)',
       'Junior Urban Assessment and Remediation Professional',
       'Financial/Data Analyst', 'Junior Environmental Scientist',
       'Health Data Analyst - Release of Information',
       'Data Analyst - 298045', 'CSR Data Analyst',
       '2020-061 Data Analyst, Health Surveys',
       'Integration and Data Analyst Parian', 'DEVELOPER / DATA ANALYST',
       'Clinical Trials Data Analyst', 'Data Analyst 3',
       'Certified Data Analyst', 'Data Analyst - 14835',
       'Master Data Analyst', 'Environmental Data Analyst',
       'Data Analyst (w/SQL)', 'Bioinformatics Scientist I',
       'Data Analyst (SQL/Python/AI)',
       'Data Analyst, Business Operations', 'Data Analyst 2 (contract)',
       'Data Analyst , Investigation and Forensic',
       'Senior Data Scientist', 'Data Analyst - 297883',
       'GIS Data Analyst / Data Engineer', 'SAS SQL Data Analyst',
       'Data Analyst / Office Admin',
       'Business Intelligence Data Analyst / Engineer',
       'Report Developer & Data Analyst, Case & Data Management, Professional Regulation',
       'Manufacturing Data Analyst & Software Support (Job Req # 2020-191)',
       'Data Analyst - Business Intelligence',
       'Coordinator, Data Analyst - Employment & Technology',
       'Data Analyst, Banking and Financial Services',
       'Data Analyst (contract)',
       'Initiative - Data Analyst, Digital Hub',
       'Intermediate Data Analyst',
       'Junior Environmental Scientist / Engineer',
       'Principal Data Analyst',
       'Data Analyst, Customer Success and Support',
       'Physical Scientist II', 'Senior Scientist - Cell Biology',
       'Data Analyst (Insurance)', 'Health Data Analyst – ACW',
       'Enterprise DBA or Data Analyst',
       'Pipeline Integrity Data Analyst (Term role)',
       'Bioinformatics Data Analyst', 'Senior Systems Data Analyst',
       'Junior Urban Assessment and Remediation Professional #18-2010-RR-C – Full Time',
       'Development Scientist I', 'Director, Data Science',
       'Data Analyst - Power BI Developer',
       'Cost Accountant/SAP Data Analyst',
       'Project Administrator/Data Analyst', 'Database Developer II',
       'Director, Data Science - AIML Coe',
       'Health & Social Services - Program Evaluator/ Data Analyst',
       'Mediabrands - Jr. Data Analyst', 'Regulatory and Data Analyst',
       'Data Analyst - Trauma Services - Temporary Full-Time (202349)',
       'Junior Developer', 'Equity Data Analyst', 'Lead Data Analyst',
       'Junior Front-End Developer - Symon',
       'Fenergo - Data Analyst(Technical)',
       'Senior / Principal Data Scientist', 'MARKETING DATA ANALYST -EN',
       'Master Data Analyst (SAP)', 'Data Analyst (Emissions Management)',
       'Data Analyst /Data Governance Specialist',
       '#21-2010-AR-GP Junior Assessment and Remediation Professional – Full Time',
       'Risk Data Analyst, Risk Data Management Office',
       'Technical Data Analyst', 'Health Data Analyst',
       'Nutrition Data Analyst', 'Sr. Data Analyst',
       'Greenhouse Data Analyst',
       'Associate Scientist II, Process Development',
       'Systems Consultant and Data Analyst', 'Data Analyst & Programmer',
       'data analyst - informatics and systems',
       'Scientist, Analytical Chemistry', 'Sr. Data Scientist',
       'Junior Statistician/Database Specialist (Research Institute)',
       'Membership - Member Services - Data Analyst',
       'Information Systems Process and Data Analyst',
       'Junior Air Quality Consultant', 'Data Analyst - Internal Audit',
       'Apprentice Data Analyst - Level 4',
       'Junior Environmental Scientist / Engineer - Kamloops',
       'Senior Data Scientist - ML Governance',
       'Advanced Marketing Data Analyst',
       'Junior Field Technician/Technologist', 'Environmental Scientist',
       'Data Analyst - Business Operations',
       'SAP System Master Data Analyst',
       'Analyste de données en chef / Lead Data Analyst',
       'Data Analyst, Financial Services Group',
       'Digital Marketing Data Analyst',
       'Data Analyst (Staff Services Analyst)',
       'Mid-Level Geologist / Environmental Scientist',
       'Data Analyst, Demand Planner', 'Data Analyst/Senior Data Analyst',
       'Data Analyst Trainee',
       'Assistant Manager (Senior Data Analyst), Decision Analytics Services',
       'Bioinformatics Scientist II',
       'Data Analyst - Business Operations, Winter 2021 (Co-op/Internship) - 4 Months',
       'Quality Lead/Data Analyst - Mental Health & Addictions',
       'Bilingual Call Center, Data Analyst',
       '(Senior) Principal Data Scientist, Real World Data – Neuroscience & Rare Diseases',
       'Postgresql Database Developer',
       'Manager Data Analyst - Data Warehouse Services',
       'Principal Database Developer',
       'Oracle Database Developer - PL/SQL & SQL with Java - 298732',
       'Machine Learning Artificial Intelligence Internship (Data Science)',
       'Data Analyst - Trauma Services', 'Manager Data Analytics',
       'Senior Data Scientist (Technology Group)',
       'Marketing Data Analyst Assistant',
       'Risk Data Analyst, Risk Data Management Office (5 month secondment)',
       'Environmental Engineer/Scientist, North Vancouver, BC (fulltime)',
       'Data Engineer / Data Analyst',
       'Programmer/Developer Lead - Sr Data Analyst - Engineering',
       'Sr Data Scientist', 'Database Developer – Oracle PL/SQL - 297674',
       'Programmer/Developer Lead - Sr Data Analyst - Visualization',
       'Intermediate Environmental Scientist',
       'SENIOR DATA ANALYST BUSINESS INTELLIGENCE',
       'Wireless Network Data Analyst (Wireless Network & Service DevOps)',
       'Clinical Database Developer/ Certified RAVE Developer',
       'Digital Data Analyst / Analyste de données numériques',
       'Data Analyst - BI Environment', 'Senior Data Analyst',
       'Market Research Data Analyst',
       'Oracle Database Developer/ Java/Capital Markers',
       'Database Developer - Information Management - Information Services - Regular Full-Time (202395)',
       'Spécialiste en Analyse des données / Data Analyst',
       'Demand Planner, Data Analyst',
       'Senior Data Analyst, Global Investments',
       'Analyste de données / Data Analyst', 'SAP master Data Analyst',
       'Croesus - Data analyst',
       'Intermediate Environmental Scientist - Field',
       'Solution BI - Data Analyst',
       'Intermediate Environmental Scientist/Technologist',
       'Scientist, in vitro', 'Data Analyst 3 (contract)',
       'DATABASE DEVELOPER', 'MARKETING DATA ANALYST -FR',
       'Analyste de données de l’expérience client /Customer Experience (CX) Data Analyst',
       'Analyste des données / Data Analyst',
       'Data Warehouse / Database Developer..............................!',
       'Senior Business Process & Data Analyst, Data & Implementation Science',
       'Data Analyst - Senior level', 'Senior Data Analyst - 297937',
       'Sr. Data Analyst - Canadian Tire Corporation',
       'Senior Data Analyst (contract)', 'Senior Digital Data Analyst',
       'Senior Data Analyst, North American Risk and Collections Strategy',
       'Data Warehouse & Database Developer',
       'Data Engineer / Senior Data Engineer',
       'Data Analyst/Senior Data Analyst - Business Intelligence',
       'Technical Database Developer', 'Back-End Database Developer',
       'Senior Database Developer (Remote)', 'Senior Data Analyst - Risk',
       'Sr Data Analyst ( Oracle/Big Data) AVP',
       'Senior Data Scientist/Scientifique de données principal',
       'Senior Scientist SARS-CoV-2',
       'Senior Clinical Scientist - Oncology - Home Based',
       'Senior Data Engineer', 'Senior Manager, Data Engineering',
       'Lead Data Scientist/Consciousness Engineer',
       'Lead Data Scientist - RACE21', 'Data Scientist – Technical Lead',
       'Senior Data Scientist - RACE21',
       'Data Scientist, Marketing & Web Analytics',
       'Senior Data Scientist (Quebec City), Intact Lab',
       'Senior Security Data Scientist',
       'Lead Data Scientist (Health & Safety)',
       'Lead Data Scientist (Ore Body Knowledge)',
       'Lead Data Scientist (Drill & Blast)',
       'Lead Data Scientist (Water & Tailings)',
       'Lead Data Scientist (Supply Chain Analytics)',
       'Lead Security Data Scientist',
       'Senior Data Scientist - AWS Professional Services',
       'Senior Data Scientist, Customer Experience',
       'Senior Machine Learning Developer',
       'Data Scientist, Sales & Customer Success',
       'Senior Front-end & Mobile Software Engineer',
       'Senior Research Scientist, Multi-Modal AI',
       'SENIOR DATA SCIENTIST', 'Senior Data Scientist - QuantumBlack',
       'Senior Data Scientist, Machine Learning',
       'Senior Software Engineer, Machine Learning Algorithms (C++)',
       'Lead Data Scientist',
       'Senior Software Engineer - Machine Learning',
       'Senior Software Engineer, Machine Learning Algorithms',
       'Sr. Systems & Data Analyst',
       'Specialist System Design, Data Scientist Machine Learning and Visual Analytics',
       'Data Science Senior Manager',
       'Senior Machine Learning Engineer, Speech Recognition',
       'Data Scientist, Game',
       'CONTAMINATED SITES ENVIRONMENTAL SCIENTIST PROJECT MANAGER',
       'Data Scientist - Full-time - North York (remote during COVID)',
       'Data Scientist (AI/ML)', 'Senior Machine Learning Scientist',
       'Senior Data Scientist, Intact Lab',
       'Associate Scientist Formulation Development',
       'Data Scientist - Edmonton AB',
       "Ricki's Home Office Salesforce Marketing Cloud & Data Scientist",
       'Adastra - Senior Data Scientist', 'Data Scientist - Calgary AB',
       'Senior Matchmaking Data Scientist', 'Data Scientist - 14760',
       'Data Scientist II',
       'Senior Data Scientist, Pathology & Laboratory Medicine, Cumming School of Medicine',
       'Senior Machine Learning Engineer',
       'Data Scientist (Decision Science)', 'Data Scientist/Time Series',
       'Senior Software Engineer, Data Platform',
       'Data Scientist, Video Analytics',
       'Senior Economist or FSS Senior Analyst (2020-2021 PhD Job Market)',
       'Data Scientist, Advanced Analytics',
       'Senior Data Scientist (Toronto), Intact Lab',
       'Data Scientist - 14444', 'Data Scientist - 14673',
       'Senior Data Scientist BI Analytics', 'Data Scientist - 14428',
       'Senior Data Scientist - Forecasting',
       'Data Scientist - TELUS Digital',
       'Senior Data Engineer - Analytics',
       '20-78 Data Scientist (Closing Date: November 22, 2020)',
       'Senior Data Engineer (R Developer)',
       'Data Scientist - Media Measurement',
       'Senior Software Engineer - Data Pipeline',
       'Data Scientist - Client Success',
       'Senior Data Scientist – BI Analytics',
       'Senior Data Scientist, GANs', 'Data Scientist - QuantumBlack',
       'Senior ETL Developer - 297541',
       'Senior Machine Learning Scientist, Natural Language Processing',
       'WD Quantitative Analyst 2, Analyst',
       'Data Scientist/ Machine learning Engineer',
       'Senior Software Engineer', 'Senior Data Scientist, AWS Security',
       'Senior Software Engineer, Data Analytics',
       'Senior Big Data Engineer--Toronto',
       'Senior Data Engineer - Toronto',
       'Senior Data Analyst - Data Warehouse Services',
       'Senior Software Developer - Data Centre',
       'Quantitative Analyst/Senior Quantitative Analyst',
       'Senior Software Developer - Data Visualization Team',
       'Sr ML/AI Data Analyst', 'Senior Data Scientist/Manager',
       'Senior Software Engineer, Cross-Platform (C++)',
       'Senior Data Analyst - Air',
       'Senior Software Engineer - Information Retrieval (IR)',
       'Senior FullStack Software Development Engineer -',
       'Senior Software Developer: Front End JavaScript',
       'Ocular Imagery Specialist - Principal Research Scientist(IPN) 1',
       'Senior Software Development Engineer - Personalization',
       'Senior Software Engineer - R&D',
       'Ingénieur de données / Data Engineer - 298695',
       'Senior FullStack Software Development Engineer - (Ottawa)',
       'Senior Software Engineer, Recognition Algorithms (C++)',
       'Senior Software Engineer, C/C++',
       'Senior Software Engineer-Data Analytics',
       'Senior Scientist (Laval)',
       'Senior Software Engineer, Cloud Services',
       'GCP Data Engineering Manager',
       'Associate Educator, Data Scientist',
       'Senior Software Engineer – macOS Sensor - Secureworks - Remote Canada',
       'Senior Applied Scientist - Personalization',
       'Senior Software Engineer – macOS Sensor - Secureworks - Remote',
       'Senior Software Engineer, Audio Processing (C++)',
       'Senior Software Developer – Osquery – Secureworks – Remote Canada',
       'Senior Software Development Engineer, AWS Security',
       'Manager Data Strategy',
       'Senior Back End Software Developer - Machine Learning',
       'Senior Software Engineer - Local Businesses',
       'Senior Visualization Developer',
       'Senior Software Engineer (p2p), Cash App',
       'Senior Software Developer – Osquery – Secureworks – Remote',
       'Senior Backend and Infrastructure Engineer / Développeur Backend et Infrastructure sénior',
       'Senior Software Developer - iOS',
       'Senior Software Developer – Microservices',
       'Computational Biologist - Statistical Geneticist',
       'Senior Software Engineer/Developer – Microservices',
       'Senior Scientist - BPC',
       'Senior Software Engineer/Developer Microservices',
       'Senior Infrastructure Engineer (Devops)',
       'Senior Software Engineer - Mobile - Flights Marketplace',
       'Senior Business Intelligence Engineer',
       'Senior Pharmacokinetic Scientist',
       'Senior Software Developer Microservices',
       'Senior Regulatory Documentation Team Lead',
       'Senior Data Architect, Vancouver',
       'Senior Software Developer - Mobile - Flights Marketplace',
       'Senior AI Python Developer', 'Senior Data Engineer (VP)',
       'Senior Software Developer - Microservices - Virtual Interlining',
       'Senior Product Manager, AIOps',
       'Medical Affairs Senior Scientist, Consumer Healthcare',
       'Senior Statistical Programmer/Statistical Scientist',
       'Senior Full Stack Software Developer',
       'Software and Data Systems Developer, Department of Physics and Astronomy, Faculty of Science',
       'IBM - Data Scientist',
       'Spécialiste, System Design, Data Scientist Machine Learning and Visual Analytics',
       'Senior Actuarial Analyst, Personal Insurance Street Pricing',
       'Senior Backend Infrastructure Developer',
       'Senior Scientist – Microbiology and Virology - Eurofins PSS',
       'Lead Data Developer - RACE21', 'Cloud Data Consulting Sr Manager',
       '2521 - Senior Research Scientist',
       'Senior Environmental Scientist/Technician',
       'LSO OTHR 3 - Research Scientist, Pest Resistance and Management',
       'Business Data Scientist (Professional Services)',
       'Senior Research Scientist - Antibody Expression & Purification',
       'Data Scientist/Machine Learning Engineer',
       'Analytics Engineering Senior Specialist',
       'Tech- Senior Linux Infrastructure Engineer (DevOps/SRE)',
       'Senior Manager Advanced Analytics',
       'Senior Scientist – Protein Technologies Team Lead',
       'Chercheuse/Chercheur scientifique, recherche appliquée - Séries chronologiques / Applied Research Scientist - Time Series Forecasting - Platform',
       'Analytics DevOps Senior Engineer',
       'Risk Advisory, Senior Quantitative Analyst',
       'Senior Scientist, Public Health Laboratory - BC Centre for Disease Control',
       'Research Scientist, Pharmacology & Toxicology',
       'Senior Research Scientist Antibody Expression & Purification',
       'Senior Technical Product Manager',
       'Data & Analytics Strategy Manager',
       'Senior Applications Developer Toronto, Ontario',
       'Senior Manager, Model Operations - Global Risk Management',
       'Senior Actuarial Analyst, Commercial Insurance Predictive Modeling, Data Science Team',
       'Research Scientist BC Renal Research Unit',
       'Senior DevOps Engineer - Cloud Infrastructure',
       'Senior Scientist, Translational Medicine',
       'Senior Product Manager, Retail Analytics (EST)',
       'Senior Manager, Model Operations - Global Risk Management (Toronto)',
       'Research Scientist – Analytical',
       'Senior Environmental Scientist - Impact Assessment/Permitting (Mid-Senior Level)',
       'Senior Strategist, Social Science', 'Senior General Adjuster',
       'Senior Scala Engineer', 'Senior UI/UX Designer',
       'Research Scientist, Molecular Diagnostics Division',
       '571399 - Senior Environmental Due Diligence Engineer/Scientist',
       'Senior Environmental Due Diligence Engineer/Scientist',
       'Senior DevOps Engineer / Développeur DevOps sénior',
       'Senior Scientist Protein Technologies Team Lead',

In [8]:
df_ca[df_ca['Position'] == 'Senior Statistical Programmer/Statistical Scientist']

,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,Size,Type,Year Founded,Position_clean
692,IQVIA,IQVIA™ is the leading human data science compa...,NaN,Biotech & Pharmaceuticals,Kirkland,Senior Statistical Programmer/Statistical Scie...,3.7,$2 to $5 billion (USD),Biotech & Pharmaceuticals,10000+ Employees,Company - Public,2017.0,Senior Statistical Programmer/Statistical Scie...

In [9]:
## step 1
s = ['intern', 'co-op', 'co op', 'placem']
cond_or1 = '|'.join(s)
t = ["data scien", "machine learn"]
cond_or2 = '|'.join(t)
bool_intern = (df_ca['Position'].str.contains(cond_or1, case = False))& \
               ( (df_ca['Position'].str.contains(cond_or2, case = False)) |\
                (df_ca['Position'].str.contains('ML', case = True))
               ) 
df_ca[bool_intern] # display rows

,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,Size,Type,Year Founded,Position_clean
10,Guavus,"Guavus, a Thales company, is seeking a Data Sc...",NaN,Enterprise Software & Network Solutions,Montreal,Data Scientist Intern,2.8,$25 to $50 million (USD),Information Technology,201 to 500 Employees,Subsidiary or Business Segment,2006.0,Data Scientist Intern
286,Reesby IT,About the Data Scientist Internship\r\r\r\r\r\...,NaN,NaN,British Columbia,Machine Learning Artificial Intelligence Inter...,NaN,NaN,NaN,NaN,NaN,NaN,Machine Learning Artificial Intelligence Inter...
370,Guavus,"Guavus, a Thales company, is seeking a Data Sc...",NaN,Enterprise Software & Network Solutions,Montreal,Data Scientist Intern,2.8,$25 to $50 million (USD),Information Technology,201 to 500 Employees,Subsidiary or Business Segment,2006.0,Data Scientist Intern
1056,RBC,What is the opportunity?\r\r\r\r\r\r\r\r\n\r\r...,NaN,Banks & Credit Unions,Toronto,Data Scientist - Winter 2021 Internship (8 Mon...,4.0,$10+ billion (USD),Finance,10000+ Employees,Company - Public,1869.0,Data Scientist - Winter 2021 Internship (8 Mon...
1159,QuadReal,About QuadReal\r\r\r\r\r\nHeadquartered in Van...,NaN,Real Estate,Toronto,"Intern, Data Scientist",4.4,Unknown / Non-Applicable,Real Estate,1001 to 5000 Employees,Company - Private,2016.0,"Intern, Data Scientist"
1174,Guavus,"Guavus, a Thales company, is seeking a Data Sc...",NaN,Enterprise Software & Network Solutions,Montreal,Data Scientist Intern,2.8,$25 to $50 million (USD),Information Technology,201 to 500 Employees,Subsidiary or Business Segment,2006.0,Data Scientist Intern
1181,"Southern Graphics Systems, Canada Co.",Data Scientist Intern– sgsco labs\r\r\r\r\n\r\...,NaN,Advertising & Marketing,Toronto,Intern - Data Science,3.0,Unknown / Non-Applicable,Business Services,1001 to 5000 Employees,Subsidiary or Business Segment,1946.0,Intern - Data Science
1208,sgsco,Data Scientist Intern– sgsco labs\r\r\r\n\r\r\...,NaN,Advertising & Marketing,Toronto,Intern - Data Science,2.5,Unknown / Non-Applicable,Business Services,1001 to 5000 Employees,Company - Private,1946.0,Intern - Data Science
1210,American Iron and Metal,Company Description\r\r\r\n\r\r\r\nES-TU FORGÉ...,NaN,Metal & Mineral Manufacturing,Montréal-Est,Internship Data Scientist,2.6,$1 to $2 billion (USD),Manufacturing,1001 to 5000 Employees,Company - Private,1936.0,Internship Data Scientist

In [10]:
df_ca.loc[bool_intern, 'Position_clean'] = INTERN
# 1c. check by comparing 2 columns
df_ca[bool_intern][['Position', 'Position_clean']]

                                               Position         Position_clean
10                                Data Scientist Intern  Data Scientist Intern
286   Machine Learning Artificial Intelligence Inter...  Data Scientist Intern
370                               Data Scientist Intern  Data Scientist Intern
1056  Data Scientist - Winter 2021 Internship (8 Mon...  Data Scientist Intern
1159                             Intern, Data Scientist  Data Scientist Intern
1174                              Data Scientist Intern  Data Scientist Intern
1181                              Intern - Data Science  Data Scientist Intern
1208                              Intern - Data Science  Data Scientist Intern
1210                          Internship Data Scientist  Data Scientist Intern

In [11]:
## Step 2
bool_2 = df_ca['Position'].str.contains('data science', case = False)
df_ca[bool_2] # display

,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,Size,Type,Year Founded,Position_clean
4,Spin Master Ltd,Are you looking to further your career with an...,NaN,Consumer Products Manufacturing,Toronto,"Senior Manager, Data Science",3.0,$2 to $5 billion (USD),Manufacturing,1001 to 5000 Employees,Company - Public,1994.0,"Senior Manager, Data Science"
75,Lighthouse Labs,*DUE TO COVID WE ARE CURRENTLY FULLY REMOTE AN...,NaN,Education Training Services,Vancouver,Remote PT Data Science Mentor,4.1,Unknown / Non-Applicable,Education,1 to 50 Employees,Company - Private,2013.0,Remote PT Data Science Mentor
204,Loblaw Companies Limited,Lieu:\r\r\r\r\r\r\r\r\n1 Presidents Choice Cir...,NaN,Vehicle Dealers,Brampton,"Director, Data Science",3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,"Director, Data Science"
210,Loblaw,Location:\r\r\r\r\r\r\r\n\r\r\r\r\r\r\r\n1 Pre...,NaN,Vehicle Dealers,Brampton,"Director, Data Science - AIML Coe",3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,"Director, Data Science - AIML Coe"
286,Reesby IT,About the Data Scientist Internship\r\r\r\r\r\...,NaN,NaN,British Columbia,Machine Learning Artificial Intelligence Inter...,NaN,NaN,NaN,NaN,NaN,NaN,Data Scientist Intern
363,Spin Master Ltd,Are you looking to further your career with an...,NaN,Consumer Products Manufacturing,Toronto,"Senior Manager, Data Science",3.0,$2 to $5 billion (USD),Manufacturing,1001 to 5000 Employees,Company - Public,1994.0,"Senior Manager, Data Science"
393,Spin Master Ltd,Are you looking to further your career with an...,NaN,Consumer Products Manufacturing,Toronto,"Senior Manager, Data Science",3.0,$2 to $5 billion (USD),Manufacturing,1001 to 5000 Employees,Company - Public,1994.0,"Senior Manager, Data Science"
395,Bell Canada,Req Id: 272559\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r...,NaN,"Cable, Internet & Telephone Providers",Toronto,"Senior Manager, Data Science",3.7,$10+ billion (USD),Telecommunications,10000+ Employees,Company - Public,1880.0,"Senior Manager, Data Science"
459,Citi,The Applications Development Senior Manager ac...,NaN,Investment Banking & Asset Management,Mississauga,Data Science Senior Manager,3.8,$10+ billion (USD),Finance,10000+ Employees,Company - Public,1812.0,Data Science Senior Manager
474,Citibank,The Applications Development Senior Manager ac...,NaN,Lending,Mississauga,Data Science Senior Manager,3.5,$50 to $100 million (USD),Finance,5001 to 10000 Employees,Subsidiary or Business Segment,NaN,Data Science Senior Manager
544,Loblaw,Location:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\...,NaN,Vehicle Dealers,Brampton,"Director, Data Science - AIML Coe",3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,"Director, Data Science - AIML Coe"
738,Aviva,** FUTURE OPPORTUNITY **\r\r\r\r\r\r\r\r\r\r\r...,NaN,Insurance Carriers,Markham,"Senior Actuarial Analyst, Commercial Insurance...",3.6,$5 to $10 billion (USD),Insurance,10000+ Employees,Company - Public,1861.0,"Senior Actuarial Analyst, Commercial Insurance..."
857,Loblaw Companies Limited,Lieu:\r\r\r\r\r\r\r\r\r\r\r\r\r\r\r\n1 Preside...,NaN,Vehicle Dealers,Brampton,"Director, Data Science",3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,"Director, Data Science"
868,Lighthouse Labs,*DUE TO COVID WE ARE CURRENTLY FULLY REMOTE AN...,NaN,Education Training Services,Vancouver,Remote PT Data Science Mentor,4.1,Unknown / Non-Applicable,Education,1 to 50 Employees,Company - Private,2013.0,Remote PT Data Science Mentor
878,Intact,How do you imagine life at an insurance compan...,NaN,Insurance Carriers,Toronto,"Data Science Specialist, Intact Lab",4.2,$5 to $10 billion (USD),Insurance,10000+ Employees,Company - Public,NaN,"Data Science Specialist, Intact Lab"
923,RBC,What is the opportunity?\r\r\r\r\r\r\r\r\r\r\r...,NaN,Banks & Credit Unions,Toronto,"Director, Data Science",4.0,$10+ billion (USD),Finance,10000+ Employees,Company - Public,1869.0,"Director, Data Science"
968,Loblaw Companies Limited,Lieu:\r\r\r\r\r\r\r\r\r\r\r\n1 Presidents Choi...,NaN,Vehicle Dealers,Brampton,"Data Science Analyst,Customer Analytics/CRM",3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,"Data Science Analyst,Customer Analytics/CRM"
969,Loblaw,Location:\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\...,NaN,Vehicle Dealers,Brampton,"Data Science Analyst,Customer Analytics/CRM - ...",3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,"Data Science Analyst,Customer Analytics/CRM - ..."
970,Loblaw Companies Limited,Lieu:\r\r\r\r\r\r\r\r\r\r\r\n1 Presidents Choi...,NaN,Vehicle Dealers,Brampton,"Data Science Analyst, Customer Analytics/CRM",3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,"Data Science Analyst, Customer Analytics/CRM"
984,Loblaw,Location:\r\r\r\r\r\r\r\r\r\r\r\n\r\r\r\r\r\r\...,NaN,Vehicle Dealers,Brampton,"Data Science Analyst, Customer Analytics/CRM -...",3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,"Data Science Analyst, Customer Analytics/CRM -..."
1181,"Southern Graphics Systems, Canada Co.",Data Scientist Intern– sgsco labs\r\r\r\r\n\r\...,NaN,Advertising & Marketing,Toronto,Intern - Data Science,3.0,Unknown / Non-Applicable,Business Services,1001 to 5000 Employees,Subsidiary or Business Segment,1946.0,Data Scientist Intern
1208,sgsco,Data Scientist Intern– sgsco labs\r\r\r\n\r\r\...,NaN,Advertising & Marketing,Toronto,Intern - Data Science,2.5,Unknown / Non-Applicable,Business Services,1001 to 5000 Employees,Company - Private,1946.0,Data Scientist Intern

In [12]:
# special
df_ca.loc[df_ca['Position'] == 'Remote PT Data Science Mentor', 'Position_clean' ] = rm

In [13]:
# lead ds
bool_lds = (df_ca['Position_clean'].str.contains('Manage|Direct|Lead', case = False)) & \
           (df_ca['Position_clean'].str.contains('data science', case = False))
df_ca.loc[bool_lds, 'Position_clean'] = LDS
# sr ds
bool_sr = (df_ca['Position_clean'].str.contains('Senior|Sr', case = False)) &\
            (df_ca['Position_clean'].str.contains('data science', case = False))
df_ca.loc[bool_sr, 'Position_clean'] = SR
# ds
bool_ds = (df_ca['Position_clean'].str.contains('Specialist|Analyst', case = False)) &\
            (df_ca['Position_clean'].str.contains('data science', case = False))
df_ca.loc[bool_ds, 'Position_clean'] = DS

In [14]:
# check 
df_ca[bool_2][['Position', 'Position_clean']]

                                               Position         Position_clean
4                          Senior Manager, Data Science    Lead Data Scientist
75                        Remote PT Data Science Mentor                    NaN
204                              Director, Data Science    Lead Data Scientist
210                   Director, Data Science - AIML Coe    Lead Data Scientist
286   Machine Learning Artificial Intelligence Inter...  Data Scientist Intern
363                        Senior Manager, Data Science    Lead Data Scientist
393                        Senior Manager, Data Science    Lead Data Scientist
395                        Senior Manager, Data Science    Lead Data Scientist
459                         Data Science Senior Manager    Lead Data Scientist
474                         Data Science Senior Manager    Lead Data Scientist
544                   Director, Data Science - AIML Coe    Lead Data Scientist
738   Senior Actuarial Analyst, Commercial Insurance...  Senior Data Scientist
857                              Director, Data Science    Lead Data Scientist
868                       Remote PT Data Science Mentor                    NaN
878                 Data Science Specialist, Intact Lab         Data Scientist
923                              Director, Data Science    Lead Data Scientist
968         Data Science Analyst,Customer Analytics/CRM         Data Scientist
969   Data Science Analyst,Customer Analytics/CRM - ...         Data Scientist
970        Data Science Analyst, Customer Analytics/CRM         Data Scientist
984   Data Science Analyst, Customer Analytics/CRM -...         Data Scientist
1181                              Intern - Data Science  Data Scientist Intern
1208                              Intern - Data Science  Data Scientist Intern

In [15]:
## Step 3
# display all 'analytics' roles
bool_3 = df_ca['Position'].str.contains('analytics', case = False)
df_ca[bool_3][['Position', 'Position_clean']]# display

,Position,Position_clean
269,"Assistant Manager (Senior Data Analyst), Decis...","Assistant Manager (Senior Data Analyst), Decis..."
290,Manager Data Analytics,Manager Data Analytics
420,"Data Scientist, Marketing & Web Analytics","Data Scientist, Marketing & Web Analytics"
435,Lead Data Scientist (Supply Chain Analytics),Lead Data Scientist (Supply Chain Analytics)
456,"Specialist System Design, Data Scientist Machi...","Specialist System Design, Data Scientist Machi..."
506,"Data Scientist, Video Analytics","Data Scientist, Video Analytics"
509,"Data Scientist, Advanced Analytics","Data Scientist, Advanced Analytics"
513,Senior Data Scientist BI Analytics,Senior Data Scientist BI Analytics
519,Senior Data Engineer - Analytics,Senior Data Engineer - Analytics
533,Senior Data Scientist – BI Analytics,Senior Data Scientist – BI Analytics
562,"Senior Software Engineer, Data Analytics","Senior Software Engineer, Data Analytics"
606,Manager Data Analytics,Manager Data Analytics
647,Senior Software Engineer-Data Analytics,Senior Software Engineer-Data Analytics
697,"Spécialiste, System Design, Data Scientist Mac...","Spécialiste, System Design, Data Scientist Mac..."
720,Analytics Engineering Senior Specialist,Analytics Engineering Senior Specialist
722,Senior Manager Advanced Analytics,Senior Manager Advanced Analytics
728,Analytics DevOps Senior Engineer,Analytics DevOps Senior Engineer
734,Data & Analytics Strategy Manager,Data & Analytics Strategy Manager
743,"Senior Product Manager, Retail Analytics (EST)","Senior Product Manager, Retail Analytics (EST)"
751,"Assistant Manager (Senior Data Analyst), Decis...","Assistant Manager (Senior Data Analyst), Decis..."
797,"Product Director, Data and Analytics","Product Director, Data and Analytics"
800,Senior Actuarial Analyst - Risk Analytics,Senior Actuarial Analyst - Risk Analytics
842,Data and Analytics Quantitative Analyst 3157309,Data and Analytics Quantitative Analyst 3157309
845,"Data Scientist, People Analytics","Data Scientist, People Analytics"
887,"Intermediate/Senior Backend Developer, Analyti...","Intermediate/Senior Backend Developer, Analyti..."
951,Data & Analytics - Senior Data Analyst,Data & Analytics - Senior Data Analyst
968,"Data Science Analyst,Customer Analytics/CRM",Data Scientist
969,"Data Science Analyst,Customer Analytics/CRM - ...",Data Scientist
970,"Data Science Analyst, Customer Analytics/CRM",Data Scientist
984,"Data Science Analyst, Customer Analytics/CRM -...",Data Scientist
1144,Data and Analytics Quantitative Analyst,Data and Analytics Quantitative Analyst

In [16]:
# replace 'engineer/PM' & 'analytics' roles with NaN
bool_eng = df_ca['Position_clean'].str.contains('engineer|product manager|backend', case = False) & \
           df_ca['Position_clean'].str.contains('analytics', case = False)
df_ca.loc[bool_eng , 'Position_clean'] = rm

In [17]:
df_ca[bool_eng][['Position', 'Position_clean']]

                                              Position Position_clean
519                   Senior Data Engineer - Analytics            NaN
562           Senior Software Engineer, Data Analytics            NaN
647            Senior Software Engineer-Data Analytics            NaN
720            Analytics Engineering Senior Specialist            NaN
728                   Analytics DevOps Senior Engineer            NaN
743     Senior Product Manager, Retail Analytics (EST)            NaN
887  Intermediate/Senior Backend Developer, Analyti...            NaN

In [18]:
## replace 
# LDS
bool_lds = (df_ca['Position_clean'].str.contains('Manage|Direct|Lead|VP|head', case = False)) &\
           (df_ca['Position_clean'].str.contains('Analytics|Data scientist', case = False))
df_ca.loc[bool_lds, 'Position_clean'] = LDS
# SR
bool_sr = (df_ca['Position_clean'].str.contains('senior|sr', case = False)) &\
           (df_ca['Position_clean'].str.contains('Analytics|Data scientist', case = False))
df_ca.loc[bool_sr, 'Position_clean'] = SR
# DS
bool_ds = (df_ca['Position_clean'].str.contains('analyst|specialist', case = False)) &\
           (df_ca['Position_clean'].str.contains('Analytics|Data scientist', case = False))
df_ca.loc[bool_ds, 'Position_clean'] = DS
# check
df_ca[bool_3][['Position', 'Position_clean']]

,Position,Position_clean
269,"Assistant Manager (Senior Data Analyst), Decis...",Lead Data Scientist
290,Manager Data Analytics,Lead Data Scientist
420,"Data Scientist, Marketing & Web Analytics","Data Scientist, Marketing & Web Analytics"
435,Lead Data Scientist (Supply Chain Analytics),Lead Data Scientist
456,"Specialist System Design, Data Scientist Machi...",Data Scientist
506,"Data Scientist, Video Analytics","Data Scientist, Video Analytics"
509,"Data Scientist, Advanced Analytics","Data Scientist, Advanced Analytics"
513,Senior Data Scientist BI Analytics,Senior Data Scientist
519,Senior Data Engineer - Analytics,NaN
533,Senior Data Scientist – BI Analytics,Senior Data Scientist
562,"Senior Software Engineer, Data Analytics",NaN
606,Manager Data Analytics,Lead Data Scientist
647,Senior Software Engineer-Data Analytics,NaN
697,"Spécialiste, System Design, Data Scientist Mac...","Spécialiste, System Design, Data Scientist Mac..."
720,Analytics Engineering Senior Specialist,NaN
722,Senior Manager Advanced Analytics,Lead Data Scientist
728,Analytics DevOps Senior Engineer,NaN
734,Data & Analytics Strategy Manager,Lead Data Scientist
743,"Senior Product Manager, Retail Analytics (EST)",NaN
751,"Assistant Manager (Senior Data Analyst), Decis...",Lead Data Scientist
797,"Product Director, Data and Analytics",Lead Data Scientist
800,Senior Actuarial Analyst - Risk Analytics,Senior Data Scientist
842,Data and Analytics Quantitative Analyst 3157309,Data Scientist
845,"Data Scientist, People Analytics","Data Scientist, People Analytics"
887,"Intermediate/Senior Backend Developer, Analyti...",NaN
951,Data & Analytics - Senior Data Analyst,Senior Data Scientist
968,"Data Science Analyst,Customer Analytics/CRM",Data Scientist
969,"Data Science Analyst,Customer Analytics/CRM - ...",Data Scientist
970,"Data Science Analyst, Customer Analytics/CRM",Data Scientist
984,"Data Science Analyst, Customer Analytics/CRM -...",Data Scientist
1144,Data and Analytics Quantitative Analyst,Data Scientist

In [19]:
## Step 4
bool_ml = df_ca['Position'].str.contains('machine learn', case = False, na = False) &\
         ( df_ca['Position'].str.contains('data', case = False, na = False) |\
           df_ca['Position'].str.contains('ML', case = True, na = False) )
df_ca[bool_ml][['Position', 'Position_clean']]

,Position,Position_clean
286,Machine Learning Artificial Intelligence Inter...,Data Scientist Intern
450,"Senior Data Scientist, Machine Learning",Senior Data Scientist
456,"Specialist System Design, Data Scientist Machi...",Data Scientist
547,Data Scientist/ Machine learning Engineer,Data Scientist/ Machine learning Engineer
548,Data Scientist/ Machine learning Engineer,Data Scientist/ Machine learning Engineer
549,Data Scientist/ Machine learning Engineer,Data Scientist/ Machine learning Engineer
697,"Spécialiste, System Design, Data Scientist Mac...","Spécialiste, System Design, Data Scientist Mac..."
718,Data Scientist/Machine Learning Engineer,Data Scientist/Machine Learning Engineer
919,Data Scientist – Machine Learning,Data Scientist – Machine Learning
1025,Machine Learning Engineer/Data Scientist,Machine Learning Engineer/Data Scientist
1045,"Machine Learning Engineer, Content Intelligenc...","Machine Learning Engineer, Content Intelligenc..."

In [20]:
# replace special case: DS/ML engineer
SPECIAL = ['Data Scientist/', 'Engineer/Data Scientist']
cond = '|'.join(SPECIAL)
df_ca.loc[df_ca['Position'].str.contains(cond, case = False, na = False), 'Position_clean'] = DS

In [21]:
# replace 'developer/engineering' & 'ML/machine learning' roles w NaN
bool_eng2 = df_ca['Position_clean'].str.contains('engineer|develop', case = False) & \
           df_ca['Position_clean'].str.contains('ML|machine learn|AI|artificial intelli', case = False) 
df_ca[bool_eng2][['Position', 'Position_clean']]
df_ca.loc[ bool_eng2 , 'Position_clean'] = rm

In [22]:
# check 
df_ca[bool_ml][['Position', 'Position_clean']]

,Position,Position_clean
286,Machine Learning Artificial Intelligence Inter...,Data Scientist Intern
450,"Senior Data Scientist, Machine Learning",Senior Data Scientist
456,"Specialist System Design, Data Scientist Machi...",Data Scientist
547,Data Scientist/ Machine learning Engineer,Data Scientist
548,Data Scientist/ Machine learning Engineer,Data Scientist
549,Data Scientist/ Machine learning Engineer,Data Scientist
697,"Spécialiste, System Design, Data Scientist Mac...","Spécialiste, System Design, Data Scientist Mac..."
718,Data Scientist/Machine Learning Engineer,Data Scientist
919,Data Scientist – Machine Learning,Data Scientist – Machine Learning
1025,Machine Learning Engineer/Data Scientist,Data Scientist
1045,"Machine Learning Engineer, Content Intelligenc...",NaN

In [23]:
# replace

# Senior ds
bool_sr = df_ca['Position_clean'].str.contains('senior|sr', case = False, na = False) &\
        (df_ca['Position_clean'].str.contains('ML', case = True, na = False) |\
        df_ca['Position_clean'].str.contains('machine learn', case = False, na = False) )
df_ca.loc[bool_sr, 'Position_clean'] = SR

# ds
bool_ds =  df_ca['Position_clean'].str.contains('scien', case = False, na = False) &\
        (df_ca['Position_clean'].str.contains('ML', case = True, na = False) |\
        df_ca['Position_clean'].str.contains('machine learn', case = False, na = False) )
df_ca.loc[bool_ds, 'Position_clean'] = DS

In [24]:
## Step 5 : other special cases
df_ca.loc[df_ca['Position'] == 'Programmer/Developer Lead - Sr Data Analyst - Visualization', 'Position_clean'] = SR
df_ca.loc[df_ca['Position'] == 'Senior Statistical Programmer/Statistical Scientist', 'Position_clean'] = SR
df_ca.loc[df_ca['Position'] == 'Junior Statistician/Database Specialist (Research Institute)', 'Position_clean'] = JR
df_ca.loc[df_ca['Position'] == 'Data Analyst (SQL/Python/AI)', 'Position_clean'] = DS

In [25]:
## Step 6
bool_notDS = df_ca['Position_clean'].str.contains('Data Scientist', case = False) == False
#df_ca[bool_notDS]['Position_clean'].iloc[340:360]
df_ca.loc[bool_notDS, 'Position_clean'] = rm

In [26]:
df_ca[bool_notDS]['Position'].unique()

array(['Data Analyst',
       'Automotive Software Data Analyst / Tester - Remote',
       'Junior Data Analyst',
       'Optimization Operational Research Scientist', 'Junior Scientist',
       'Senior Database Developer', 'Master Data Analyst / SAP (Junior)',
       'Data Analyst - Junior', 'Data Analyst (Remote)',
       'Remote Cloud Database developer (Python)',
       'Reporting Consultant & Data Analyst / Cognos Expert',
       'Flight Data Analyst', 'Junior Software Developer',
       'Product Data Analyst', 'Data Analyst II',
       'Entry Level Data Analyst (Bilingual French & English)',
       'Jr. Data Analyst', 'Digital Data Analyst',
       'Data Analyst, Security - 297742', 'Tech - Data Analyst',
       'Data Analyst, Product',
       'Data Analyst Intern, Global Investments IT',
       'Data Analyst - Level 1 x2 (Contract)',
       'Student Intern, Customer Data Analyst',
       'Data Analyst and Reporting Specialist', 'Game Data Analyst',
       'Master Data Analyst /Vancouver, BC', 'Data Analyst, Foundry',
       'Student Intern, Data Analyst & Quote Controller',
       'Data Analyst - Product',
       'Analyste de données, prévision de ventes / Sales Forecast Data Analyst',
       'Intermediate Data Analyst-Tableau Developer',
       'Business Data Analyst', 'CRM Data Analyst',
       'Junior Business Development Associate (remote)',
       'Marketing Data Analyst', 'HR Data Analyst', 'Data Analyst Intern',
       'Analyste de données - Fraude Fidélité / Data Analyst - Loyalty Fraud - 298856',
       'Data Analyst Intern, Global Investments IT (4-month Term)',
       'Quality Data Analyst', 'BI/Data Analyst',
       'Data Analyst (Coder) - Decision Support',
       'DATA ANALYST - DATA ENGINEERING', 'Data Analyst (Contract)',
       'Financial Data Analyst',
       'Program Evaluator/Data Analyst (CUPE 75.20)',
       'Sales Forecasting/Data Analyst', 'BI/Data Analyst 3155721',
       'Data Analyst - eCommerce', 'CSR Data Analyst - 2 Year Term',
       'Database Developer', 'AVP - Data Analyst - ICG EAP',
       'BI Data Analyst',
       'Entry-Level Data Analyst (Bilingual French & English)',
       'Supply Chain Data Analyst -3 Months', 'Data Analyst - 298793',
       'Data Analyst - Growth', 'Data Analyst/Financial Analyst',
       'Business Analyst \\ Business Data Analyst ( Banking and Capital markets )',
       'Data Analyst - 14842', 'Data Analyst 2 / Analyste de données 2',
       'Data Analyst - Immunology', 'Data Analyst, Fraud & Risk',
       'SAP Data Analyst',
       'Data Analyst (Coder) - Decision Support - Temporary Full Time (201858)',
       'Junior Urban Assessment and Remediation Professional',
       'Financial/Data Analyst', 'Junior Environmental Scientist',
       'Health Data Analyst - Release of Information',
       'Data Analyst - 298045', 'CSR Data Analyst',
       '2020-061 Data Analyst, Health Surveys',
       'Integration and Data Analyst Parian', 'DEVELOPER / DATA ANALYST',
       'Clinical Trials Data Analyst', 'Data Analyst 3',
       'Certified Data Analyst', 'Data Analyst - 14835',
       'Master Data Analyst', 'Environmental Data Analyst',
       'Data Analyst (w/SQL)', 'Bioinformatics Scientist I',
       'Data Analyst, Business Operations', 'Data Analyst 2 (contract)',
       'Data Analyst , Investigation and Forensic',
       'Data Analyst - 297883', 'GIS Data Analyst / Data Engineer',
       'SAS SQL Data Analyst', 'Data Analyst / Office Admin',
       'Business Intelligence Data Analyst / Engineer',
       'Report Developer & Data Analyst, Case & Data Management, Professional Regulation',
       'Manufacturing Data Analyst & Software Support (Job Req # 2020-191)',
       'Data Analyst - Business Intelligence',
       'Coordinator, Data Analyst - Employment & Technology',
       'Data Analyst, Banking and Financial Services',
       'Data Analyst (contract)',
       'Initiative - Data Analyst, Digital Hub',
       'Intermediate Data Analyst',
       'Junior Environmental Scientist / Engineer',
       'Principal Data Analyst',
       'Data Analyst, Customer Success and Support',
       'Physical Scientist II', 'Senior Scientist - Cell Biology',
       'Data Analyst (Insurance)', 'Health Data Analyst – ACW',
       'Enterprise DBA or Data Analyst',
       'Pipeline Integrity Data Analyst (Term role)',
       'Bioinformatics Data Analyst', 'Senior Systems Data Analyst',
       'Junior Urban Assessment and Remediation Professional #18-2010-RR-C – Full Time',
       'Development Scientist I', 'Data Analyst - Power BI Developer',
       'Cost Accountant/SAP Data Analyst',
       'Project Administrator/Data Analyst', 'Database Developer II',
       'Health & Social Services - Program Evaluator/ Data Analyst',
       'Mediabrands - Jr. Data Analyst', 'Regulatory and Data Analyst',
       'Data Analyst - Trauma Services - Temporary Full-Time (202349)',
       'Junior Developer', 'Equity Data Analyst', 'Lead Data Analyst',
       'Junior Front-End Developer - Symon',
       'Fenergo - Data Analyst(Technical)', 'MARKETING DATA ANALYST -EN',
       'Master Data Analyst (SAP)', 'Data Analyst (Emissions Management)',
       'Data Analyst /Data Governance Specialist',
       '#21-2010-AR-GP Junior Assessment and Remediation Professional – Full Time',
       'Risk Data Analyst, Risk Data Management Office',
       'Technical Data Analyst', 'Health Data Analyst',
       'Nutrition Data Analyst', 'Sr. Data Analyst',
       'Greenhouse Data Analyst',
       'Associate Scientist II, Process Development',
       'Systems Consultant and Data Analyst', 'Data Analyst & Programmer',
       'data analyst - informatics and systems',
       'Scientist, Analytical Chemistry',
       'Membership - Member Services - Data Analyst',
       'Information Systems Process and Data Analyst',
       'Junior Air Quality Consultant', 'Data Analyst - Internal Audit',
       'Apprentice Data Analyst - Level 4',
       'Advanced Marketing Data Analyst',
       'Junior Field Technician/Technologist', 'Environmental Scientist',
       'Data Analyst - Business Operations',
       'SAP System Master Data Analyst',
       'Analyste de données en chef / Lead Data Analyst',
       'Data Analyst, Financial Services Group',
       'Digital Marketing Data Analyst',
       'Data Analyst (Staff Services Analyst)',
       'Mid-Level Geologist / Environmental Scientist',
       'Data Analyst, Demand Planner', 'Data Analyst/Senior Data Analyst',
       'Data Analyst Trainee', 'Bioinformatics Scientist II',
       'Data Analyst - Business Operations, Winter 2021 (Co-op/Internship) - 4 Months',
       'Quality Lead/Data Analyst - Mental Health & Addictions',
       'Bilingual Call Center, Data Analyst',
       'Postgresql Database Developer',
       'Manager Data Analyst - Data Warehouse Services',
       'Principal Database Developer',
       'Oracle Database Developer - PL/SQL & SQL with Java - 298732',
       'Data Analyst - Trauma Services',
       'Marketing Data Analyst Assistant',
       'Risk Data Analyst, Risk Data Management Office (5 month secondment)',
       'Environmental Engineer/Scientist, North Vancouver, BC (fulltime)',
       'Data Engineer / Data Analyst',
       'Programmer/Developer Lead - Sr Data Analyst - Engineering',
       'Database Developer – Oracle PL/SQL - 297674',
       'Intermediate Environmental Scientist',
       'SENIOR DATA ANALYST BUSINESS INTELLIGENCE',
       'Wireless Network Data Analyst (Wireless Network & Service DevOps)',
       'Clinical Database Developer/ Certified RAVE Developer',
       'Digital Data Analyst / Analyste de données numériques',
       'Data Analyst - BI Environment', 'Senior Data Analyst',
       'Market Research Data Analyst',
       'Oracle Database Developer/ Java/Capital Markers',
       'Database Developer - Information Management - Information Services - Regular Full-Time (202395)',
       'Spécialiste en Analyse des données / Data Analyst',
       'Demand Planner, Data Analyst',
       'Senior Data Analyst, Global Investments',
       'Analyste de données / Data Analyst', 'SAP master Data Analyst',
       'Croesus - Data analyst',
       'Intermediate Environmental Scientist - Field',
       'Solution BI - Data Analyst',
       'Intermediate Environmental Scientist/Technologist',
       'Scientist, in vitro', 'Data Analyst 3 (contract)',
       'DATABASE DEVELOPER', 'MARKETING DATA ANALYST -FR',
       'Analyste de données de l’expérience client /Customer Experience (CX) Data Analyst',
       'Analyste des données / Data Analyst',
       'Data Warehouse / Database Developer..............................!',
       'Senior Business Process & Data Analyst, Data & Implementation Science',
       'Data Analyst - Senior level', 'Senior Data Analyst - 297937',
       'Sr. Data Analyst - Canadian Tire Corporation',
       'Senior Data Analyst (contract)', 'Senior Digital Data Analyst',
       'Senior Data Analyst, North American Risk and Collections Strategy',
       'Data Warehouse & Database Developer',
       'Data Engineer / Senior Data Engineer',
       'Data Analyst/Senior Data Analyst - Business Intelligence',
       'Technical Database Developer', 'Back-End Database Developer',
       'Senior Database Developer (Remote)', 'Senior Data Analyst - Risk',
       'Sr Data Analyst ( Oracle/Big Data) AVP',
       'Senior Scientist SARS-CoV-2',
       'Senior Clinical Scientist - Oncology - Home Based',
       'Senior Data Engineer', 'Senior Manager, Data Engineering',
       'Senior Front-end & Mobile Software Engineer',
       'Senior Research Scientist, Multi-Modal AI',
       'Sr. Systems & Data Analyst',
       'CONTAMINATED SITES ENVIRONMENTAL SCIENTIST PROJECT MANAGER',
       'Associate Scientist Formulation Development',
       'Senior Software Engineer, Data Platform',
       'Senior Economist or FSS Senior Analyst (2020-2021 PhD Job Market)',
       'Senior Data Engineer (R Developer)',
       'Senior Software Engineer - Data Pipeline',
       'Senior ETL Developer - 297541',
       'WD Quantitative Analyst 2, Analyst', 'Senior Software Engineer',
       'Senior Big Data Engineer--Toronto',
       'Senior Data Engineer - Toronto',
       'Senior Data Analyst - Data Warehouse Services',
       'Senior Software Developer - Data Centre',
       'Quantitative Analyst/Senior Quantitative Analyst',
       'Senior Software Developer - Data Visualization Team',
       'Senior Software Engineer, Cross-Platform (C++)',
       'Senior Data Analyst - Air',
       'Senior Software Engineer - Information Retrieval (IR)',
       'Senior FullStack Software Development Engineer -',
       'Senior Software Developer: Front End JavaScript',
       'Ocular Imagery Specialist - Principal Research Scientist(IPN) 1',
       'Senior Software Development Engineer - Personalization',
       'Senior Software Engineer - R&D',
       'Ingénieur de données / Data Engineer - 298695',
       'Senior FullStack Software Development Engineer - (Ottawa)',
       'Senior Software Engineer, Recognition Algorithms (C++)',
       'Senior Software Engineer, C/C++', 'Senior Scientist (Laval)',
       'Senior Software Engineer, Cloud Services',
       'GCP Data Engineering Manager',
       'Senior Software Engineer – macOS Sensor - Secureworks - Remote Canada',
       'Senior Applied Scientist - Personalization',
       'Senior Software Engineer – macOS Sensor - Secureworks - Remote',
       'Senior Software Engineer, Audio Processing (C++)',
       'Senior Software Developer – Osquery – Secureworks – Remote Canada',
       'Senior Software Development Engineer, AWS Security',
       'Manager Data Strategy',
       'Senior Software Engineer - Local Businesses',
       'Senior Visualization Developer',
       'Senior Software Engineer (p2p), Cash App',
       'Senior Software Developer – Osquery – Secureworks – Remote',
       'Senior Backend and Infrastructure Engineer / Développeur Backend et Infrastructure sénior',
       'Senior Software Developer - iOS',
       'Senior Software Developer – Microservices',
       'Computational Biologist - Statistical Geneticist',
       'Senior Software Engineer/Developer – Microservices',
       'Senior Scientist - BPC',
       'Senior Software Engineer/Developer Microservices',
       'Senior Infrastructure Engineer (Devops)',
       'Senior Software Engineer - Mobile - Flights Marketplace',
       'Senior Business Intelligence Engineer',
       'Senior Pharmacokinetic Scientist',
       'Senior Software Developer Microservices',
       'Senior Regulatory Documentation Team Lead',
       'Senior Data Architect, Vancouver',
       'Senior Software Developer - Mobile - Flights Marketplace',
       'Senior Data Engineer (VP)',
       'Senior Software Developer - Microservices - Virtual Interlining',
       'Senior Product Manager, AIOps',
       'Medical Affairs Senior Scientist, Consumer Healthcare',
       'Senior Full Stack Software Developer',
       'Software and Data Systems Developer, Department of Physics and Astronomy, Faculty of Science',
       'Senior Actuarial Analyst, Personal Insurance Street Pricing',
       'Senior Backend Infrastructure Developer',
       'Senior Scientist – Microbiology and Virology - Eurofins PSS',
       'Lead Data Developer - RACE21', 'Cloud Data Consulting Sr Manager',
       '2521 - Senior Research Scientist',
       'Senior Environmental Scientist/Technician',
       'LSO OTHR 3 - Research Scientist, Pest Resistance and Management',
       'Senior Research Scientist - Antibody Expression & Purification',
       'Tech- Senior Linux Infrastructure Engineer (DevOps/SRE)',
       'Senior Scientist – Protein Technologies Team Lead',
       'Chercheuse/Chercheur scientifique, recherche appliquée - Séries chronologiques / Applied Research Scientist - Time Series Forecasting - Platform',
       'Risk Advisory, Senior Quantitative Analyst',
       'Senior Scientist, Public Health Laboratory - BC Centre for Disease Control',
       'Research Scientist, Pharmacology & Toxicology',
       'Senior Research Scientist Antibody Expression & Purification',
       'Senior Technical Product Manager',
       'Senior Applications Developer Toronto, Ontario',
       'Senior Manager, Model Operations - Global Risk Management',
       'Research Scientist BC Renal Research Unit',
       'Senior DevOps Engineer - Cloud Infrastructure',
       'Senior Scientist, Translational Medicine',
       'Senior Manager, Model Operations - Global Risk Management (Toronto)',
       'Research Scientist – Analytical',
       'Senior Environmental Scientist - Impact Assessment/Permitting (Mid-Senior Level)',
       'Senior Strategist, Social Science', 'Senior General Adjuster',
       'Senior Scala Engineer', 'Senior UI/UX Designer',
       'Research Scientist, Molecular Diagnostics Division',
       '571399 - Senior Environmental Due Diligence Engineer/Scientist',
       'Senior Environmental Due Diligence Engineer/Scientist',
       'Senior DevOps Engineer / Développeur DevOps sénior',
       'Senior Scientist Protein Technologies Team Lead',
       'Senior Director, Biologics',
       'Research Scientist Intern, Simulation Technology',
       'Senior Terrestrial Ecologist',
       'Senior Analyst, Proposal Development',
       'Chercheur scientifique – Batterie / Research Scientist - Battery',
       'Senior Actuarial Analyst - Corporate Reserving',
       'Pharmacokinetic / ADME Research Scientists',
       'Battery Research Scientist',
       'Senior Researcher (Data Center Network)',
       'Senior Product Manager, Retail',
       'Senior Research Scientist, SSRD - Eurofins Alphora',
       'Senior Strategist, Healthcare Market Research Strategy',
       'Research Scientist - Antibody Purification',
       'Senior Software Architect',
       'Research Scientist, Brain Slice Electrophysiology',
       'Senior Frontend Developer',
       'Senior Product Manager - Business Products',
       'Research Scientist, Senior Research Scientist, Group Leader - Synthetic Organic Chemistry in R&D - Eurofins CDMO',
       'Senior Medical Writer', 'Sr Scientist, Research',
       'Senior Product Manager - Business Products (Remote - Canada)',
       'Environmental Scientist (Ottawa)',
       'Senior Product Manager, Enterprise Integration Platform',
       'Senior Front End Engineer - Toronto',
       'Senior Software Engineer - Backend',
       'Principal Research Scientist / Chercheur(euse) principal(e)',
       'Senior Fisheries Biologist', 'Senior Software Solution Developer',
       'Senior DevOps SysOps Specialist', 'Senior Marketing Specialist',
       'Employment Equity INVENTORY - Aquatic Biologist/Physical Scientist & Team Leader Opportunities @ DFO',
       'Développeur senior Node.js/Senior Node.js Developer',
       'Senior Marine Biologist', 'Senior Actuarial Analyst',
       'Senior GIS Analyst', 'Senior Actuarial Analyst (Commercial P&C)',
       'Research Scientist/Senior Research Scientist, Process Chemistry',
       'Senior Web Engineer, Fullstack',
       'Senior Director - HEOR, Evidence Synthesis',
       'Research Scientist - Software',
       'Global Health Economic and Outcomes Research Scientist',
       'Customer Service (Operations), Senior Associate (Bilingual/French)',
       'Senior UX Researcher, Digital Factory (12-14 month contract)',
       'Senior Clinical Scientist/Medical Monitoring - Oncology (Home Based',
       'Senior Clinical Scientist/Medical Monitoring - Oncology (Home Based-US or',
       'Senior Software Engineer II, Team Lead - Bidder Platform',
       'Senior Clinical Scientist/Medical Monitoring - Oncology (Home Based-US or Canada)*',
       'Biological Research Scientist', 'Lead Data Developer',
       'Senior Scientist, Public Health Genomics Microbiologist - BC Centre for Disease Control Vancouver, British Columbia Regular,Full-Time 11/09',
       'Senior Audio Enhancement and Signal Processing Engineer',
       'Research Scientist in Immunology',
       'Senior Software Engineer (Full-Stack) - SMB',
       'Senior HCI Designer and Researcher',
       'Senior Scientist, Cell Therapy Process Development',
       'Research Scientist Imaging',
       'Senior Research Engineer, Neural Text-to-Speech (TTS)',
       'Senior Front-End Developer', 'Senior Big Data Engineer',
       'Senior Scientific Specialist - Acid Rock Drainage',
       'Senior Scientist - Cosmetic Research & Development',
       'Biology Research Scientist',
       'Senior Engineer/ Consultant - Building Performance',
       'Senior Full-Stack Developer, PHP and Node.js',
       'Research Scientist – Imaging', 'Food Research Scientist',
       'Associate Senior Scientist',
       'Product Realization Senior Associate, Cognizant Interactive',
       'Clinical Operations, Senior Associate (Bilingual/French)',
       'Data Engineer', 'Senior Digital Holography Researcher (NOC 2111)',
       'Applied Research Scientist',
       'Research Scientist - General Toxicology 1',
       'Senior Data Engineer- QuantumBlack',
       'Senior Analytical Scientist',
       'Research Scientist, Scientist/Associé(e) de recherche, Scientifique',
       'Senior General Adjuster - Guelph, ON',
       'Senior Software Engineer - Data Engineering',
       'Research Scientist, AI', 'Senior Laboratory Technician',
       'Senior Product Manager- Operate Services- Fraud / Gestionnaire de produits - Operate Services - Fraude',
       'Senior Data Engineering Developer',
       'Senior Full Stack Engineer (Backend Focused)',
       'Senior Data Infrastructure Engineer',
       '2521 - Senior Research Associate', 'Scientist',
       'Research Scientist (Mitacs)',
       'Java, Cloud - Senior Software Developer (Data Services)',
       'Senior Software Development Engineer', 'Senior Scientist',
       'Senior User Researcher', 'Senior Software Developer',
       'Senior UX Researcher', 'Senior Software Engineer - Agent Tools',

In [27]:
# check 
a = df_ca[df_ca['Position'].str.contains('Data Scientist', case = False) == False]
a[['Position', 'Position_clean']]

                                               Position       Position_clean
1                                          Data Analyst                  NaN
2                                          Data Analyst                  NaN
4                          Senior Manager, Data Science  Lead Data Scientist
5     Automotive Software Data Analyst / Tester - Re...                  NaN
6                                   Junior Data Analyst                  NaN
7                                   Junior Data Analyst                  NaN
9           Optimization Operational Research Scientist                  NaN
11                                         Data Analyst                  NaN
12                                     Junior Scientist                  NaN
13                                         Data Analyst                  NaN
14                                         Data Analyst                  NaN
15                                         Data Analyst                  NaN
16                                         Data Analyst                  NaN
17                                         Data Analyst                  NaN
18                                         Data Analyst                  NaN
19                                         Data Analyst                  NaN
20                                         Data Analyst                  NaN
21                                         Data Analyst                  NaN
22                            Senior Database Developer                  NaN
23                                         Data Analyst                  NaN
24                                         Data Analyst                  NaN
25                                         Data Analyst                  NaN
26                                         Data Analyst                  NaN
27                                         Data Analyst                  NaN
28                                         Data Analyst                  NaN
29                   Master Data Analyst / SAP (Junior)                  NaN
30                                         Data Analyst                  NaN
31                                         Data Analyst                  NaN
32                                         Data Analyst                  NaN
33                                Data Analyst - Junior                  NaN
...                                                 ...                  ...
1228                               Product Data Analyst                  NaN
1229                               Product Data Analyst                  NaN
1230                     Data Analyst - Trauma Services                  NaN
1231                             Marketing Data Analyst                  NaN
1232                         Environmental Data Analyst                  NaN
1233                     Digital Marketing Data Analyst                  NaN
1234                                    HR Data Analyst                  NaN
1235                 Data Analyst - Business Operations                  NaN
1236                                    BI/Data Analyst                  NaN
1237                     SAP System Master Data Analyst                  NaN
1238                    Advanced Marketing Data Analyst                  NaN
1239                        Bioinformatics Data Analyst                  NaN
1240                              Business Data Analyst                  NaN
1241                                       Data Analyst                  NaN
1242              Student Intern, Customer Data Analyst                  NaN
1243                             Technical Data Analyst                  NaN
1244                             Marketing Data Analyst                  NaN
1245                                   SAP Data Analyst                  NaN
1246                                Equity Data Analyst                  NaN
1247                     Digital Marketing Data Analyst                  NaN
1248                             Marketing Data Analyst                  NaN
1249                                   Jr. Data Analyst                  NaN
1250                                   Jr. Data Analyst                  NaN
1251                             Marketing Data Analyst                  NaN
1252                             Marketing Data Analyst                  NaN
1253                                    BI Data Analyst                  NaN
1254                             Marketing Data Analyst                  NaN
1255                             Marketing Data Analyst                  NaN
1256                             Marketing Data Analyst                  NaN
1257                                Data Analyst Intern                  NaN

[1024 rows x 2 columns]

In [28]:
# check no. of unique data scientist listings left after removing irrelevant rows
df_ca[df_ca['Position_clean'].str.contains('Data Scientist', case = False) == True]['Position'].unique().shape

(121,)

In [29]:
df_ca['Position'].unique().shape

(615,)

## Out of 615 *unique* Canada listings, get 121 *unique* data scientist (includes: 6 intern, 1 Jr.,  33 Sr.,  19 Lead,  62 data scientist) listings

In [30]:
bool_lds = df_ca['Position_clean'].str.contains('lead|principal|manage|direct|VP|head', case = False, na = False)
#df_ca[bool_lds]['Position'].unique().shape 
df_ca.loc[bool_lds, 'Position_clean'] = LDS

In [31]:
bool_sr = df_ca['Position_clean'].str.contains('senior|sr', case = False, na = False)
#df_ca[bool_sr]['Position'].unique().shape 
df_ca.loc[bool_sr, 'Position_clean'] = SR

In [32]:
bool_jr = df_ca['Position_clean'].str.contains('junior|jr|early|new grad|entry', case = False, na = False)
df_ca[bool_jr]['Position'].unique().shape 
df_ca.loc[bool_jr, 'Position_clean'] = JR

In [51]:
bool_remain = (df_ca['Position_clean'].str.contains('senior', case = False, na = False) == False) &\
                (df_ca['Position_clean'].str.contains('junior', case = False, na = False) == False) &\
                (df_ca['Position_clean'].str.contains('lead', case = False, na = False) == False) &\
                (df_ca['Position_clean'].str.contains('intern', case = False, na = False) == False) &\
                df_ca['Position_clean'].notna()
df_ca.loc[bool_remain, 'Position_clean'] = DS

In [54]:
# check 
df_ca['Position_clean'].unique()
#df_ca[['Position', 'Position_clean']]

array(['Data Scientist', nan, 'Lead Data Scientist',
       'Data Scientist Intern', 'Senior Data Scientist',
       'Junior Data Scientist'], dtype=object)

In [55]:
# write to csv
df_ca.to_csv('elisa_position_ca.csv')

In [56]:
df = pd.read_csv('elisa_position_ca.csv', index_col = 0)
df.shape

(1258, 13)

In [59]:
df.tail(10)

,Company,Description,Glassdoor Salary Estimate,Industry,Location,Position,Rating,Revenue,Sector,Size,Type,Year Founded,Position_clean
1248,Vigorate Digital Solutions,Who We Are\r\r\nVigorate Digital is made up of...,NaN,NaN,Toronto,Marketing Data Analyst,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1249,Cascadia Scientific,Cascadia Scientific provides a SaaS platform i...,NaN,NaN,Surrey,Jr. Data Analyst,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1250,Tandempark Inc.,TandemPark Inc. is a maturing startup company ...,NaN,NaN,Innisfil,Jr. Data Analyst,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1251,Loblaw Companies Limited,"Location:\r\r\n1 Presidents Choice Circle, Bra...",NaN,Vehicle Dealers,Brampton,Marketing Data Analyst,3.6,$10+ billion (USD),Retail,10000+ Employees,Company - Public,NaN,NaN
1252,Moka,The Role\r\r\nYou are passionate about consume...,NaN,Social Assistance,Montreal,Marketing Data Analyst,3.2,Unknown / Non-Applicable,Non-Profit,201 to 500 Employees,Nonprofit Organization,1978.0,NaN
1253,Napoleon Products,Job Details\r\r\nDescription\r\r\nTitle: Busin...,NaN,NaN,Barrie,BI Data Analyst,3.0,Less than $1 million (USD),NaN,1001 to 5000 Employees,Company - Private,NaN,NaN
1254,Hudson Rouge,"WHO IS GTB?\r\r\n\r\r\nA global, industry-lead...",NaN,Advertising & Marketing,Toronto,Marketing Data Analyst,3.6,Less than $1 million (USD),Business Services,51 to 200 Employees,Company - Private,NaN,NaN
1255,Moka,The Role\r\r\n\r\r\nYou are passionate about c...,NaN,Computer Hardware & Software,Montreal,Marketing Data Analyst,4.6,Unknown / Non-Applicable,Information Technology,201 to 500 Employees,Company - Private,2014.0,NaN
1256,Stingray,Are you ready to join a team of marketing and ...,NaN,NaN,Montreal,Marketing Data Analyst,NaN,Less than $1 million (USD),NaN,1 to 50 Employees,Company - Private,NaN,NaN
1257,7D Surgical,At 7D Surgical you will find a vibrant team of...,NaN,NaN,Toronto,Data Analyst Intern,NaN,Less than $1 million (USD),NaN,1 to 50 Employees,Company - Private,NaN,NaN